{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title|default:"Swagger UI" }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'django_modern_rest/swagger/swagger-ui.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'django_modern_rest/swagger/index.css' %}" />
  <link rel="icon" type="image/png" href="{% static 'django_modern_rest/swagger/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'django_modern_rest/swagger/favicon-16x16.png' %}" sizes="16x16" />
</head>

<body>
  <div id="swagger-ui"></div>
  <script src="{% static 'django_modern_rest/swagger/swagger-ui-bundle.js' %}" charset="UTF-8"> </script>
  <script src="{% static 'django_modern_rest/swagger/swagger-ui-standalone-preset.js' %}" charset="UTF-8"> </script>
  <script>
    window.onload = function () {
      window.ui = SwaggerUIBundle({
        spec: {{ schema | safe }},
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      });
    };
  </script>
</body>

</html>
