{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <h1 class="display-5 text-center mt-3" id="block-page_header">
        Изменение пароля
    </h1>

    <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
            <div class="alert alert-success p-5 text-center shadow" role="alert">
                Ваш пароль успешно изменён
            </div>
        </div>
    </div>
{% endblock %}
