{% extends 'base.html' %}
{% load vite %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3"
        id="change_password-section-page_header">Профиль</h1>

    <div class="row mx-3 mt-2 g-3 d-flex justify-content-center align-items-center my-auto"
         id="change_password-section-card">
        <div class="col-xl-6">
            <div class="card shadow p-3">
                <div class="card-body">
                    <form method="post">
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-3 mb-3 g-3">
        <div class="col-md-6">
            <div class="card shadow p-3">
                <div class="card-head">
                    <h3>Ваши подписки</h3>
                </div>
                <div class="card-body d-flex flex-column gap-3">
                    {% for user in subscribed_users %}
                        <div class="d-flex justify-content-between align-items-center gap-3"
                             data-subscribe_type="subscribed"
                             data-user_id="{{ user.id }}">
                            <div>{{ user.username }}</div>
                            <div class="d-flex flex-wrap gap-3 justify-content-end">
                                <a href="{% url 'share' user.id %}"
                                   target="_blank"
                                   class="btn btn-outline-primary d-flex gap-2 align-items-center"
                                   data-user_id="{{ user.id }}">
                                    <i class="fa-solid fa-eye"></i>
                                    <span class="d-none d-xl-inline">Статистика</span>
                                </a>
                                <button class="btn btn-outline-danger d-flex gap-2 align-items-center unsubscribeButton"
                                        data-user_id="{{ user.id }}"
                                        data-username="{{ user.username }}"
                                        data-subscribe_type="subscribed"
                                        data-url="{% url 'save_subscribe' %}">
                                    <i class="fa-solid fa-ban"></i>
                                    <span class="d-none d-xl-inline">Отписаться</span>
                                </button>
                            </div>
                        </div>
                    {% empty %}
                        Вы ещё не подписались ни на одного пользователя
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow p-3">
                <div class="card-head">
                    <h3>Подписаны на Вас</h3>
                </div>
                <div class="card-body d-flex flex-column gap-3">
                    {% for user in subscriber_users %}
                        <div class="d-flex justify-content-between align-items-center gap-3">
                            <div>{{ user.username }}</div>
                            <div class="d-flex flex-wrap gap-3 justify-content-end">
                                <button class="btn btn-outline-danger d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-trash"></i>
                                    <span class="d-none d-xl-inline">Удалить подписку</span>
                                </button>
                            </div>
                        </div>
                    {% empty %}
                        На Вас ещё не подписался ни один пользователь
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unsubscribeModal" tabindex="-1" aria-labelledby="unsubscribeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unsubscribeModalLabel">Подтверждение отписки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите отписаться от <strong id="unsubscribeUsername">пользователя</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" id="confirmUnsubscribeButton">Отписаться</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.USER_ID = "{{ request.user.id }}";
    </script>
    {% vite_asset 'js/entries/profile.js' %}
{% endblock %}
