<div class="card shadow mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="align-self-center mb-0">
                Регионы
            </h4>
            <i class="fa-regular fa-circle-question fs-4 text-body-secondary" data-bs-toggle="tooltip"
                 data-bs-title="Отображается количество посещённых городов и общее количество городов в каждом из регионов"></i>
        </div>

        <div class="mt-5 small">
            {% for region in regions.visited %}
                {% widthratio region.visited_cities region.total_cities 100 as ratio %}

                <div class="d-flex justify-content-between">
                    <a href="{% url 'region-selected-list' region.pk %}"
                       class="link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">
                        {{ region }}
                    </a>
                    <span class="float-right">
                        {{ region.visited_cities }} из {{ region.total_cities }}
                    </span>
                </div>

                <div class="progress mb-3 mt-1" style="height: 10px">
                    <div class="progress-bar-striped bg-success" role="progressbar"
                         style="width: {{ ratio }}%" aria-valuenow="{{ ratio }}"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            {% empty %}
                Вы ещё не посетили ни одного региона
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mt-4 small">
            Всего: {{ regions.num_visited }}
            <a href="{% url 'region-all-list' %}"
               class="link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">
                Посмотреть все
            </a>
        </div>
    </div>
</div>