<div class="row">
    <div class="col-12 col-md-6">
        <!-- Федеральные округа -->
        {% include 'account/profile__areas.html' %}
        <!-- ^^^ Федеральные округа -->

        <!-- Города -->
        {% include 'account/profile__cities.html' %}
        <!-- ^^^ Города -->
    </div>

    <!-- Регионы -->
    <div class="col-12 col-md-6">
        {% include 'account/profile__regions.html' %}
    </div>
    <!-- ^^^ Регионы -->

    <!-- Включение всплывающих подсказок -->
    <script>$(document).ready(function(){$('[data-bs-toggle="tooltip"]').tooltip();});</script>
    <!-- ^^^ Включение всплывающих подсказок -->
</div>