{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6">
                <h1 class="display-5 text-center my-2">
                    Регистрация
                </h1>

                <div class="card p-3">
                    <div class="card-body">
                        <form method="post">
                            {% crispy form %}

                            <div class="float-end">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Зарегистрироваться
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
