{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h1 class="display-3">
                <span class="page-title px-3 py-2">Мои-Города.РФ</span>
            </h1>
            <div class="lead my-4">
                <span class="page-title px-3 py-2">
                    Сервис контроля городов, которые Вы посетили.
                </span>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row text-center row-cols-1 row-cols-lg-3">
            <div class="col mb-3">
                <div class="card h100 border-dark">
                    <h4 class="card-header">
                        Список городов
                    </h4>
                    <img class="card-imp-top" src="{% static 'feature1.png' %}" alt="">
                    <hr>
                    <div class="card-body">
                        <p class="card-text">
                            Указывайте города, которые Вы посетили и получайте необходимую информацию в виде списка.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h100 border-dark">
                    <h4 class="card-header">
                        Города на карте
                    </h4>
                    <img class="card-imp-top" src="{% static 'feature2.png' %}" alt="">
                    <hr>
                    <div class="card-body">
                        <p class="card-text">
                            Просматривайте все посещённые города на карте, а также, города, в которых ещё не были.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h100 border-dark">
                    <h4 class="card-header">
                        Регионы на карте
                    </h4>
                    <img class="card-imp-top" src="{% static 'feature3.png' %}" alt="">
                    <hr>
                    <div class="card-body">
                        <p class="card-text ">
                            Изучайте на карте те регионы России, в которых Вы посетили хотя бы один город.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if not user.is_authenticated %}
        <section class="container-fluid text-center py-4 mt-4" id="contact">
            <h2 class="display-4 pb-4 my-4">
                Исследуйте Россию вместе с нами
            </h2>
            <p class="lead pb-3">
                Регистрируйтесь и начинайте коллекционировать города. Вот увидите, это безумно интересно.
            </p>
            <a href="{% url 'signin' %}" class="btn btn-primary btn-lg mb-4" role="button">
                Войти
            </a>
            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg mb-4" role="button">
                Зарегистрироваться
            </a>
        </section>
    {% endif %}

    <style>
    .jumbotron {
        background: url("{% static 'jumbotron-background.jpg' %}") 100% 33%;
    }
    .page-title {
        background: rgba(255, 255, 255, 0.85);
        border-radius: 5px;
        color: black;
    }
    </style>
{% endblock %}