{# Навигация по типам коллекций #}
{# Параметр active_tab: 'general', 'personal', 'public' #}
<div class="mx-3 mb-6 flex justify-center">
    <div class="flex bg-gray-100 hover:bg-gray-200 rounded-lg transition p-1 dark:bg-neutral-700 dark:hover:bg-neutral-600">
        <nav class="flex gap-x-1" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
            <a
                href="{% url 'collection-list' %}"
                class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg {% if active_tab == 'general' %}bg-white text-gray-700 dark:bg-neutral-800 dark:text-neutral-400{% else %}bg-transparent text-gray-500 hover:text-gray-700 hover:hover:text-blue-600 dark:text-neutral-400 dark:hover:text-white{% endif %}"
            >
                Общие
            </a>
            <a
                href="{% url 'collection-personal-list-view' %}"
                class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg {% if active_tab == 'personal' %}bg-white text-gray-700 dark:bg-neutral-800 dark:text-neutral-400{% else %}bg-transparent text-gray-500 hover:text-gray-700 hover:hover:text-blue-600 dark:text-neutral-400 dark:hover:text-white{% endif %}"
            >
                Персональные
            </a>
            <a
                href="{% url 'collection-personal-public-list-view' %}"
                class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg {% if active_tab == 'public' %}bg-white text-gray-700 dark:bg-neutral-800 dark:text-neutral-400{% else %}bg-transparent text-gray-500 hover:text-gray-700 hover:hover:text-blue-600 dark:text-neutral-400 dark:hover:text-white{% endif %}"
            >
                Публичные
            </a>
        </nav>
    </div>
</div>

