{% load excluded_users premium_ad %}

{% get_excluded_users as excluded_users %}
{% get_has_active_premium request as has_active_premium %}

{% if user.id not in excluded_users and not has_active_premium %}
    <!-- Yandex.RTB R-A-8433502-6 -->
    <div id="yandex_rtb_R-A-8433502-6"></div>
    <script>
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            "blockId": "R-A-8433502-6",
            "renderTo": "yandex_rtb_R-A-8433502-6",
            "type": "feed"
        })
    })
    </script>
{% endif %}