<div class="modal fade" id="download_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="download_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="share_modal_label"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;&nbsp;Скачать посещённые города</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <form action="{% url 'download' %}" method="POST" id="download_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p>Какую информацию Вы хотите скачать?</p>
                            <div class="row">
                                <div class="col-4 d-grid">
                                    <input type="radio" class="btn-check" name="reporttype" value="city" id="city-radio" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="city-radio">Города</label>
                                </div>
{#                                <div class="col-4 d-grid">#}
{#                                    <input type="radio" class="btn-check" name="reporttype" value="region" id="region-radio" autocomplete="off">#}
{#                                    <label class="btn btn-outline-primary" for="region-radio">Регионы</label>#}
{#                                </div>#}
{#                                <div class="col-4 d-grid">#}
{#                                    <input type="radio" class="btn-check" name="reporttype" value="area" id="area-radio" autocomplete="off">#}
{#                                    <label class="btn btn-outline-primary" for="area-radio">Округа</label>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-4">
                        <div class="col">
                            <p>В каком формате?</p>
                            <div class="row">
                                <div class="col-3 d-grid">
                                    <input type="radio" class="btn-check" name="filetype" value="txt" id="txt-radio" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="txt-radio">
                                        <i class="fa-regular fa-file"></i>&nbsp;&nbsp;&nbsp;TXT
                                    </label>
                                </div>
                                <div class="col-3 d-grid">
                                    <input type="radio" class="btn-check" name="filetype" value="csv" id="csv-radio" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="csv-radio">
                                        <i class="fa-solid fa-file-csv"></i>&nbsp;&nbsp;&nbsp;CSV
                                    </label>
                                </div>
                                <div class="col-3 d-grid">
                                    <input type="radio" class="btn-check" name="filetype" value="json" id="json-radio" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="json-radio">
                                        <i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;&nbsp;JSON
                                    </label>
                                </div>
                                <div class="col-3 d-grid">
                                    <input type="radio" class="btn-check" name="filetype" value="xls" id="xls-radio" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="xls-radio">
                                        <i class="fa-regular fa-file-excel"></i>&nbsp;&nbsp;&nbsp;XLS
                                    </label></div>
                                </div>
                        </div>
                    </div>
    
                    <hr>
    
                    <div class="row">
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-success">Загрузить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast_success_copied" class="toast bg-success-subtle" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="fa-solid fa-check-double"></i>&nbsp;&nbsp;&nbsp;
                <strong class="me-auto">Скопировано</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body">
                Ссылка на страницу со статистикой успешно скопирована.
            </div>
        </div>
    </div>
