{% load vite %}
<div class="modal fade" id="share_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="share_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="share_modal_label">Поделиться статистикой</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <form action="{% url 'save_share_settings' %}" method="POST" id="share_settings_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            Вы можете поделиться с другими пользователями своей статистикой.<br>
                            Они увидят только ту информацию, которую Вы захотите показать.<br>
                            Доступ к Вашей статистике будет возможен по ссылке, которая сгенерирована ниже.<br>
                            В любой момент Вы сможете изменить параметры доступа к Вашей
                            статистике или вообще запретить её отображение.<br>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_general" name="switch_share_general"
                                       {% if share_settings.switch_share_general %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_general">&nbsp;&nbsp;&nbsp;Разрешить доступ к Вашей статистике</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_dashboard" name="switch_share_dashboard"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_basic_info %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_basic_info">&nbsp;&nbsp;&nbsp;Отображать общую информацию</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_city_map" name="switch_share_city_map"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_city_map %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_city_map">&nbsp;&nbsp;&nbsp;Отображать карту городов</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_region_map" name="switch_share_region_map"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_region_map %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_region_map">&nbsp;&nbsp;&nbsp;Отображать карту регионов</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_subscribe" name="switch_subscribe"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_subscribe %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_subscribe">&nbsp;&nbsp;&nbsp;Разрешить подписываться на Вас</label>
                                &nbsp;&nbsp;&nbsp;
                                <i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-title="Если Вы включите эту настройку, то другие пользователи смогут добавлять Ваш профиль в подписки и сравнивать свои посещённые города с Вашими. Это возможно только в том случае, если Вы разрешили доступ к своей статистике."></i>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="text" id="input_with_share_link"
                                   value="{{ SITE_URL }}{% url 'share' request.user.id %}"
                                   {% if not share_settings.switch_share_general %}disabled{% endif %}
                            >
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-secondary" id="button_make_a_copy"
                                   {% if not share_settings.switch_share_general %}disabled{% endif %}
                            >
                                <i class="fa-regular fa-copy"></i>
                            </button>
                        </div>
                    </div>

                    <hr>

                    <div class="row row-cols-1 row-cols-sm-2 align-items-center">
                        <div class="col col-6-md">
                            <span id="save_success" class="fw-normal mb-2" style="display: none;">
                                <i class="fa-solid fa-check-double text-success"></i>&nbsp;&nbsp;&nbsp;Успешно сохранено
                            </span>
                            <span id="save_error" class="fw-normal mb-2" style="display: none;">
                                <i class="fa-solid fa-triangle-exclamation text-danger"></i>&nbsp;&nbsp;&nbsp;Ошибка при сохранении
                            </span>
                        </div>
                        <div class="col text-end">
                            <button type="button" id="button_send_to_server" class="btn btn-success">
                                <i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;&nbsp;Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% vite_asset 'js/entries/share_modal.js' %}
