<div class="row mx-3 my-3 g-3" id="toolbar">
    <!-- Статистика -->
    <div class="col-sm-12 col-md-6 col-xxl-3 order-md-1 order-xxl-1">
        <div class="card text-center shadow h-100">
            <div class="card-body bg-warning-subtle d-grid placeholder-glow" id="block-statistic">
                <div class="align-self-center placeholder bg-secondary" id="block-qty_visited_countries"></div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика -->

    <!-- Посмотреть список -->
    <div class="col-sm-12 col-md-6 col-xxl-3 order-md-2 order-xxl-3">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle" id="block-add_city">
                <a href="" class="btn btn-outline-success align-self-center">
                    <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть список -->
</div>
