<div class="row mx-3 my-3 g-3 align-items-center" id="toolbar">
    <!-- Статистика -->
    <div class="col-sm-12 col-md-6 col-xxl-3">
        <div class="card text-center shadow h-100">
            <div class="card-body bg-warning-subtle d-grid placeholder-glow" id="block-statistic">
                <div class="align-self-center placeholder placeholder-lg bg-secondary rounded" id="block-qty_visited_countries">
                    <button class="btn">Загружаю...</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика -->

    <!-- Посмотреть список -->
    <div class="col-sm-12 col-md-6 col-xxl-3">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle" id="block-add_city">
                <a href="#"
                   class="btn btn-outline-success align-self-center"
                    data-bs-tooltip="tooltip"
                    data-bs-title="Возможность посмотреть список посещённых стран появится позднее">
                    <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть список -->

    <div class="col-xxl-6 col-md-12 text-end g-3">
        <!-- Фильтр по частям света -->
        <button class="align-self-center btn btn-outline-primary"
                data-bs-tooltip="tooltip"
                data-bs-title="Фильтр стран по частям света будет доступен позднее">
            <i class="fa-solid fa-earth-americas"></i>
        </button>
        <!-- ^^^ Фильтр по частям света -->

        <!-- Фильтр по расположению -->
        <button class="align-self-center btn btn-outline-danger"
                data-bs-tooltip="tooltip"
                data-bs-title="Фильтр по расположению стран будет доступен позднее">
            <i class="fa-solid fa-map-pin"></i>
        </button>
        <!-- ^^^ Фильтр по расположению -->

        <!-- Подписки -->
        <button class="align-self-center btn btn-outline-success"
                data-bs-tooltip="tooltip"
                data-bs-title="Возможность смотреть страны пользователей, на которых Вы подписаны, появится позднее">
                <i class="fa-solid fa-bell"></i>
        </button>
        <!-- ^^^ Подписки -->
    </div>
</div>
