<div class="row mx-3 my-3 g-3 align-items-center" id="toolbar">
    <!-- Статистика -->
    <div class="col-sm-12 col-md-6 col-xxl-3">
        <div class="card text-center shadow h-100">
            <div class="card-body bg-warning-subtle d-grid placeholder-glow" id="block-statistic">
                <div class="align-self-center placeholder placeholder-lg bg-secondary rounded" id="block-qty_countries">
                    <button class="btn">Загружаю...</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика -->

    <!-- Посмотреть список -->
    <div class="col-sm-12 col-md-6 col-xxl-3">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle" id="block-add_city">
                <a href="#"
                   class="btn btn-outline-success align-self-center"
                    data-bs-tooltip="tooltip"
                    data-bs-title="Возможность посмотреть список посещённых стран появится позднее">
                    <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть список -->

    <div class="col-xxl-6 col-md-12 text-end g-3">
        <!-- Фильтр по частям света -->
        <div class="btn-group">
            <button class="align-self-center btn btn-outline-primary dropdown-toggle"
                    id="shoiwPartOfTheWorld"
                    data-bs-toggle="dropdown">
                <i class="fa-solid fa-earth-americas"></i>
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <!-- ^^^ Фильтр по частям света -->

        <!-- Фильтр по расположению -->
        <div class="btn-group">
            <button class="align-self-center btn btn-outline-danger dropdown-toggle"
                    id="showLocation"
                    data-bs-toggle="dropdown">
                <i class="fa-solid fa-map-pin"></i>
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <!-- ^^^ Фильтр по расположению -->
    </div>
</div>
