{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        Карта стран мира
    </h1>

    {% if user.is_authenticated %}
        {% include 'advertisement/rtb_banner.html' %}
    {% else %}
        {% include 'advertisement/travel_payouts.html' %}
        {% include 'advertisement/rtb_floor_fullscreen_mobile.html' %}
    {% endif %}

    {% include 'country/country__map__toolbar.html' %}

    <div id="url_get_all_countries" data-url="{% url 'api__get_all_countries' %}" hidden></div>
    <div id="url_get_visited_countries" data-url="{% url 'api__get_visited_countries' %}" hidden></div>
    <div id="url_add_visited_countries" data-url="{% url 'api__add_visited_countries' %}" hidden></div>
    <div id="url_revieve_unknown_countries" data-url="{% url 'api__revieve_unknown_countries' %}" hidden></div>
    <div id="url_get_parts_of_the_world" data-url="{% url 'api__get_parts_of_the_world' %}" hidden></div>
    <div id="url_get_locations" data-url="{% url 'api__get_locations' %}" hidden></div>
    <div id="url_get_polygons" data-url="{{ URL_GEO_POLYGONS }}" hidden></div>

    <div id="map" class="h-100 mt-3 d-flex justify-content-center">
    </div>

    {% if not user.is_authenticated %}
        {% include 'advertisement/rtb_floor_ad_mobile.html' %}
        {% include 'advertisement/rtb_floor_ad_desktop.html' %}
        {% include 'advertisement/rtb_feed.html' %}
    {% endif %}
    
    <script src="https://unpkg.com/leaflet-simple-map-screenshoter"></script>
    <script src="{% static 'js/country_map.js'%}?ver={{ PROJECT_VERSION }}"></script>
{% endblock %}
