{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        Карта стран мира
    </h1>

    {% include 'country/country__map__toolbar.html' %}

    <div id="url_get_all_countries" data-url="{% url 'api__get_all_countries' %}" hidden></div>
    <div id="url_get_visited_countries" data-url="{% url 'api__get_visited_countries' %}" hidden></div>
    <div id="url_add_visited_countries" data-url="{% url 'api__add_visited_countries' %}" hidden></div>
{#    <div id="url_delete_visited_countries" data-url="{% url 'api__delete_visited_countries' %}" hidden></div>#}

    <div id="map" class="h-100 mt-3 d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Загружаю карту...</span>
        </div>
    </div>
    
    <script src="{% static 'js/country_map.js'%}"></script>
{% endblock %}
