<div class="card shadow mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="align-self-center mb-0">
                Последние новые города
            </h4>
            <i class="fa-regular fa-circle-question fs-4 text-body-secondary opacity_until_hover"
               data-bs-toggle="tooltip"
               data-bs-title="Отображается 5 последних новых посещённых городов"></i>
        </div>

        {% if cities.last_10_visited_cities %}
            {###   Список последних новых посещённых городов   ###}
            <ul class="list-group list-group-flush mt-3">
                {% for city in cities.last_10_visited_cities %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between small">
                            {% if fake_statistics %}
                                {{ city.title }}
                            {% else %}
                                <a href="{% url 'city-selected' city.city.id %}"
                                   class="link-offset-2 link-underline-dark link-dark
                                          link-underline-opacity-50-hover link-opacity-50-hover">
                                    {{ city.city.title }}
                                </a>
                            {% endif %}
                            <span class="text-end">
                                {% if city.first_visit_date %}
                                    {{ city.first_visit_date }}
                                {% else %}
                                    Дата не указана
                                {% endif %}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {### ^^^ Список последних посещённых городов ^^^ ###}

            {###   Ссылка "Посмотреть все"   ###}
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item">
                    <div class="d-flex justify-content-end small">
                        <a href="{% url 'city-all-list' %}"
                           class="link-offset-2 link-underline-dark link-dark
                                  link-underline-opacity-50-hover link-opacity-50-hover">
                            Посмотреть все
                        </a>
                    </div>
                </li>
            </ul>
            {### ^^^ Ссылка "Посмотреть все" ^^^ ###}
        {% else %}
            <div class="alert alert-danger text-center mt-3" role="alert" id="section-alert_no_regions">
                Не добавлено ни одного посещённого города
            </div>
        {% endif %}
    </div>
</div>
