{% extends 'base-simple.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
            <div class="alert alert-success p-5 text-center shadow" role="alert">
                <h1 class="display-5 text-center mb-5" id="block-page_header">
                    Восстановление пароля
                </h1>

                Проверьте свой почтовый ящик, в том числе папку 'Спам'.<br>
                На него было отправлено письмо с дальнейшими инструкциями для восстановления пароля.
            </div>
        </div>
    </div>
{% endblock %}
