{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-5 text-center my-2">
                    Восстановление пароля
                </h1>

                <div class="card p-3">
                    <div class="card-body">
                        <div class="card-text">
                            Проверьте свой почтовый ящик, в том числе папку спам.<br><br>
                            На него было отправлено письмо с дальнейшими инструкциями для восстановления пароля.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
