{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container" id="block-header">
        <h1 class="display-5 text-center my-2">
            {% if action == 'update' %}
                Редактирование города
            {% else %}
                Добавление нового города
            {% endif %}
        </h1>

        {% crispy form %}
    </div>

    <script>
        {% if action == 'create' %}
            let selectCity = document.getElementById('id_city');
            {% if not form.errors %}
                {# Поле "City" делаем неактивным только при первой загрузке страницы. #}
                {# Если страница загружается с ошибками, то поле должно быть активно. #}
                selectCity.setAttribute('disabled', "disabled");
            {% endif %}
        {% endif %}

        $('#id_region').change(function() {
            let url = "{% url 'get_cities_based_on_region' %}";
            let regionId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region': regionId,
                },
                success: function(data) {
                    $('#id_city').html(data);
                }
            });
            selectCity.removeAttribute('disabled');
        });
    </script>
{% endblock %}
