<h1 class="text-center fw-bolder display-6 mt-3">
    Города
</h1>

<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 gy-5 mx-3 mt-3 px-xxl-5">
    <!-- Общее количество -->
    <div class="col d-flex gap-2 flex-column">
        <h2>Общее количество</h2>

        <div class="d-flex justify-content-between align-items-center">
            <span>Посещённых городов:</span>
            <span class="px-2 py-1 rounded bg-success bg-opacity-75 text-white fw-bold border border-secondary">
                {{ cities.number_of_new_visited_cities }}
            </span>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <span>Всего посещений:</span>
            <span class="px-2 py-1 rounded bg-success bg-opacity-75 text-white fw-bold border border-secondary">
                {{ cities.number_of_visited_cities }}
            </span>
        </div>

        <hr>

        <div class="fw-bold">
            По странам:
        </div>
        {% for country in cities.list_of_all_countries_with_visited_cities %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-success-subtle text-success-emphasis fw-bold border border-secondary">
                    {{ country.visited_cities }} из {{ country.total_cities }}</span>
            </div>
        {% endfor %}
    </div>
    <!-- ^^^ Общее количество -->

    <!-- В этом году -->
    <div class="col d-flex gap-2 flex-column">
        <h2>В этом году</h2>

        <h5>Новые города</h5>
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">Все страны</span>
            <span class="px-2 py-1 rounded bg-primary bg-opacity-75 text-white fw-bold border border-success">
                {{ cities.number_of_new_visited_cities_current_year }}
            </span>
        </div>

        {% for country in cities.list_of_countries_with_new_visited_cities_current_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-primary-subtle text-primary-emphasis fw-bold border border-secondary">
                    {{ country.visited_cities }}</span>
            </div>
        {% endfor %}

        <hr>

        <h5>Всего посещений</h5>
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">Все страны</span>
            <span class="px-2 py-1 rounded bg-info bg-opacity-75 text-info-emphasis fw-bold border border-primary">
                {{ cities.number_of_visited_cities_current_year }}
            </span>
        </div>

        {% for country in cities.list_of_countries_with_visited_cities_current_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-info-subtle text-info-emphasis fw-bold border border-primary">
                    {{ country.visited_cities }}</span>
            </div>
        {% endfor %}
    </div>
    <!-- ^^^ В этом году -->

    <!-- В прошлом году -->
    <div class="col d-flex gap-2 flex-column">
        <h2>В прошлом году</h2>

        <h5>Новые города</h5>
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">Все страны</span>
            <span class="px-2 py-1 rounded bg-danger ng-opacity-75 text-white fw-bold border border-secondary">
                {{ cities.number_of_new_visited_cities_previous_year }}
            </span>
        </div>

        {% for country in cities.list_of_countries_with_new_visited_cities_previous_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-danger-subtle text-danger-emphasis fw-bold border border-secondary">
                    {{ country.visited_cities }}
                </span>
            </div>
        {% endfor %}

        <hr>

        <h5>Всего посещений</h5>
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">Все страны</span>
                <span class="px-2 py-1 rounded bg-warning bg-opacity-75 text-warning-emphasis fw-bold border border-secondary">
                    {{ cities.number_of_visited_cities_previous_year }}
            </span>
        </div>
        {% for country in cities.list_of_countries_with_visited_cities_previous_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-warning-subtle text-warning-emphasis fw-bold border border-secondary">
                    {{ country.visited_cities }}</span>
            </div>
        {% endfor %}
    </div>
    <!-- ^^^ В прошлом году -->
</div>

{% include 'account/statistics/charts_for_cities.html' %}

<h1 class="text-center fw-bolder display-6 mt-5">
    Регионы
</h1>

<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 gy-5 mx-3 mt-3 mb-5 px-xxl-5">
    <!-- Общее количество -->
    <div class="col d-flex gap-2 flex-column mt-3">
        <h2>Общее количество</h2>

        {% for country in regions.list_of_countries_with_visited_regions %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-warning-subtle text-warning-emphasis fw-bold border border-secondary">
                    {% if country.number_of_regions == 0 %}
                        нет регионов
                    {% else %}
                        {{ country.number_of_visited_regions }} из {{ country.number_of_regions }}</span>
                    {% endif %}
            </div>
        {% endfor %}

        {% if regions.list_of_countries_with_all_visited_regions %}
            <hr>

            <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold">Полностью посещено</span>
            </div>

            {% for country in regions.list_of_countries_with_all_visited_regions %}
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{ country.name }}</span>
                    <span class="px-2 py-1 rounded bg-warning-subtle text-warning-emphasis fw-bold border border-secondary">
                        {{ country.number_of_visited_regions }} из {{ country.number_of_regions }}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- ^^^ Общее количество -->

    <!-- В этом году -->
    <div class="col d-flex gap-2 flex-column mt-3">
        <h2>В этом году</h2>

        {% for country in regions.list_of_countries_with_visited_regions_current_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-warning-subtle text-warning-emphasis fw-bold border border-secondary">
                    {% if country.number_of_regions == 0 %}
                        нет регионов
                    {% else %}
                        {{ country.number_of_visited_regions }} из {{ country.number_of_regions }}</span>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- ^^^ В этом году -->

    <!-- В прошлом году -->
    <div class="col d-flex gap-2 flex-column mt-3">
        <h2>В прошлом году</h2>

        {% for country in regions.list_of_countries_with_visited_regions_previous_year %}
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ country.name }}</span>
                <span class="px-2 py-1 rounded bg-warning-subtle text-warning-emphasis fw-bold border border-secondary">
                    {% if country.number_of_regions == 0 %}
                        нет регионов
                    {% else %}
                        {{ country.number_of_visited_regions }} из {{ country.number_of_regions }}</span>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- ^^^ В прошлом году -->
</div>
