<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3 px-xxl-5"
     id="row-region-stats">
    <div class="col" id="number_of_visited_regions">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">{{ word_modifications.visited.number_of_visited_regions|title }}</p>
                <h1>{{ regions.number_of_visited_regions }}</h1>
                <p class="fs-4">{{ word_modifications.region.number_of_visited_regions }}</p>
            </div>
        </div>
    </div>

    <div class="col" id="number_of_not_visited_regions">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Осталось посетить</p>
                <h1>{{ regions.number_of_not_visited_regions }}</h1>
                <p class="fs-4">{{ word_modifications.region.number_of_not_visited_regions }}</p>
            </div>
        </div>
    </div>

    <div class="col" id="number_of_finished_regions">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Посещены все города в</p>
                <h1>{{ regions.number_of_finished_regions }}</h1>
                <p class="fs-4">{{ word_modifications.region.number_of_finished_regions }}</p>
            </div>
        </div>
    </div>

    <div class="col" id="number_of_half_finished_regions">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Посещено более половины городов в</p>
                <h1>{{ regions.number_of_half_finished_regions }}</h1>
                <p class="fs-4">{{ word_modifications.region.number_of_half_finished_regions }}</p>
            </div>
        </div>
    </div>
</div>