<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3 px-xxl-5">
    <div class="col">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Я был в</p>
                <h1>{{ regions.number_of_visited_regions }}</h1>
                <p class="fs-4">регионе</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Осталось</p>
                <h1>{{ regions.number_of_not_visited_regions }}</h1>
                <p class="fs-4">регионов</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Посещено полностью</p>
                <h1>{{ regions.number_of_finished_regions }}</h1>
                <p class="fs-4">регионов</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow h-100">
            <div class="card-body">
                <p class="fs-4">Более половины городов в</p>
                <h1>???</h1>
                <p class="fs-4">регионе</p>
            </div>
        </div>
    </div>
</div>