<div class="mx-3 mt-2 mb-6 grid grid-cols-1 gap-6 md:grid-cols-2" id="row-bar-charts">
    <div id="chart_cities_by_month">
        {% include 'account/statistics/chart/city/bar/visited_cities_by_month.html' %}
    </div>
    <div id="chart_cities_by_year">
        {% include 'account/statistics/chart/city/bar/visited_cities_by_year.html' %}
    </div>
</div>

<div class="mx-3 mt-2 mb-6 grid grid-cols-1 gap-6 md:grid-cols-2" id="row-bar-charts">
    <div id="chart_new_cities_by_month">
        {% include 'account/statistics/chart/city/bar/new_visited_cities_by_month.html' %}
    </div>
    <div id="chart_cities_by_year">
        {% include 'account/statistics/chart/city/bar/new_visited_cities_by_year.html' %}
    </div>
</div>