<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 mx-3 mt-2 g-3 px-xxl-5" id="row-pie-charts">
    <div class="col" id="chart_number_of_regions">
        {% include 'account/statistics/chart/number_of_regions.html' %}
    </div>
    <div class="col" id="chart_number_of_finished_regions">
        {% include 'account/statistics/chart/number_of_finished_regions.html' %}
    </div>
</div>

<div class="row row-cols-md-2 row-cols-lg-3 mx-3 mt-2 mb-3 g-3 px-xxl-5" id="list_cards">
    <div class="order-md-2 order-lg-1" id="list_last_visited_cities">
        {% include 'account/statistics/chart/statistics__cities.html' %}
    </div>
    <div class="order-md-1 order-lg-2" id="list_most_popular_regions">
        {% include 'account/statistics/chart/statistics__regions.html' %}
    </div>
    <div class="order-md-3 order-lg-3" id="list_areas">
        {% include 'account/statistics/chart/statistics__areas.html' %}
    </div>
</div>