<div class="row row-cols-1 row-cols-xl-2 mx-3 mt-2 mb-3 g-3 px-xxl-5" id="row-bar-charts">
    <div class="col" id="chart_cities_by_month">
        {% include 'account/statistics/chart/city/bar/total_cities_by_month.html' %}
    </div>
    <div class="col" id="chart_cities_by_year">
        {% include 'account/statistics/chart/city/bar/total_cities_by_year.html' %}
    </div>
</div>

<div class="row row-cols-1 row-cols-xl-2 mx-3 mt-2 mb-3 g-3 px-xxl-5" id="row-bar-charts">
    <div class="col" id="chart_new_cities_by_month">
        {% include 'account/statistics/chart/city/bar/new_cities_by_month.html' %}
    </div>
    <div class="col" id="chart_cities_by_year">
        {% include 'account/statistics/chart/city/bar/new_cities_by_year.html' %}
    </div>
</div>