<div class="card text-center shadow h-100">
    <div class="card-body">
        <p class="fs-4">Посещённые регионы</p>
        <canvas id="chart__number_of_regions"></canvas>
    </div>
</div>

<script>
    const ctx_number_of_regions = document.getElementById('chart__number_of_regions').getContext('2d');
    const myChart_number_of_regions = new Chart(ctx_number_of_regions, {
            type: 'pie',
            data: {
                labels: ['Посещённые', 'Не посещённые'],
                datasets: [
                    {
                        data: ['{{ regions.number_of_visited_regions }}', '{{ regions.number_of_not_visited_regions }}'],
                        borderColor: ['rgba(255, 255, 255)', 'rgba(255, 255, 255)'],
                        backgroundColor: ['rgba(66, 189, 53, 0.6)', 'rgba(66, 189, 53, 0.3)']
                    },
                ],
            }
        });
</script>
