<div class="modal fade" id="share_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="share_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="share_modal_label">Поделиться статистикой</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <form action="{% url 'save_share_settings' %}" method="POST" id="share_settings_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            Вы можете поделиться с другими пользователями своей статистикой.<br>
                            Они увидят только ту информацию, которую Вы захотите показать.<br>
                            Доступ к Вашей статистике будет возможен по ссылке, которая сгенерирована ниже.<br>
                            В любой момент Вы сможете изменить параметры доступа к Вашей
                            статистике или вообще запретить её отображение.<br>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_general" name="switch_share_general"
                                       {% if share_settings.switch_share_general %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_general">&nbsp;&nbsp;&nbsp;Разрешить доступ к Вашей статистике</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_dashboard" name="switch_share_dashboard"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_basic_info %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_basic_info">&nbsp;&nbsp;&nbsp;Отображать общую информацию</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_city_map" name="switch_share_city_map"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_city_map %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_city_map">&nbsp;&nbsp;&nbsp;Отображать карту городов</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="switch_share_region_map" name="switch_share_region_map"
                                       {% if not share_settings.switch_share_general %}disabled{% endif %}
                                       {% if share_settings.switch_share_region_map %}checked{% endif %}
                                >
                                <label class="form-check-label" for="switch_share_region_map">&nbsp;&nbsp;&nbsp;Отображать карту регионов</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="text" id="input_with_share_link"
                                   value="{{ SITE_URL }}{% url 'share' request.user.id %}"
                                   {% if not share_settings.switch_share_general %}disabled{% endif %}
                            >
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-secondary" id="button_make_a_copy"
                                   {% if not share_settings.switch_share_general %}disabled{% endif %}
                            >
                                <i class="fa-regular fa-copy"></i>
                            </button>
                        </div>
                    </div>

                    <hr>

                    <div class="row row-cols-1 row-cols-sm-2 align-items-center">
                        <div class="col col-6-md">
                            <span id="save_success" class="fw-normal mb-2" style="display: none;">
                                <i class="fa-solid fa-check-double text-success"></i>&nbsp;&nbsp;&nbsp;Успешно сохранено
                            </span>
                            <span id="save_error" class="fw-normal mb-2" style="display: none;">
                                <i class="fa-solid fa-triangle-exclamation text-danger"></i>&nbsp;&nbsp;&nbsp;Ошибка при сохранении
                            </span>
                        </div>
                        <div class="col text-end">
                            <button type="button" id="button_send_to_server" class="btn btn-success">
                                <i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;&nbsp;Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast_success_copied" class="toast bg-success-subtle" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="fa-solid fa-check-double"></i>&nbsp;&nbsp;&nbsp;
                <strong class="me-auto">Скопировано</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body">
                Ссылка на страницу со статистикой успешно скопирована.
            </div>
        </div>
    </div>

<script>
    function disable_all_checkboxes() {
        /**
         * Изменяет состояние и активность чекбоксов в случае, когда нужно все их выключить.
         */
        document.getElementById('switch_share_general').checked = false;

        const switch_share_dashboard = document.getElementById('switch_share_dashboard');
        switch_share_dashboard.checked = false;
        switch_share_dashboard.disabled = true;

        const switch_share_city_map = document.getElementById('switch_share_city_map');
        switch_share_city_map.checked = false;
        switch_share_city_map.disabled = true;

        const switch_share_region_map = document.getElementById('switch_share_region_map')
        switch_share_region_map.checked = false;
        switch_share_region_map.disabled = true;

        const input_with_share_link = document.getElementById('input_with_share_link')
        input_with_share_link.disabled = true;

        const button_make_a_copy = document.getElementById('button_make_a_copy')
        button_make_a_copy.disabled = true;
    }

    function enable_all_checkboxes() {
        /**
         * Изменяет состояние и активность чекбоксов в случае, когда нужно все их включить.
         */
        document.getElementById('switch_share_general').checked = true;

        const switch_share_dashboard = document.getElementById('switch_share_dashboard');
        switch_share_dashboard.checked = true;
        switch_share_dashboard.disabled = false;

        const switch_share_city_map = document.getElementById('switch_share_city_map');
        switch_share_city_map.checked = true;
        switch_share_city_map.disabled = false;

        const switch_share_region_map = document.getElementById('switch_share_region_map')
        switch_share_region_map.checked = true;
        switch_share_region_map.disabled = false;

        const input_with_share_link = document.getElementById('input_with_share_link')
        input_with_share_link.disabled = false;

        const button_make_a_copy = document.getElementById('button_make_a_copy')
        button_make_a_copy.disabled = false;
    }

    const switch_share_general = document.getElementById('switch_share_general')
    const switch_share_dashboard = document.getElementById('switch_share_dashboard')
    const switch_share_city_map = document.getElementById('switch_share_city_map')
    const switch_share_region_map = document.getElementById('switch_share_region_map')
    const input_with_share_link = document.getElementById('input_with_share_link')
    const button_make_a_copy = document.getElementById('button_make_a_copy')
    const button_send_to_server = document.getElementById('button_send_to_server')

    // Количество включённых дополнительных чекбоксов.
    // Когда доходит до 0 - все чекбоксы выключаются и становятся неактивными. Когда до 3 - включаются.
    let number_of_active_checkboxes = 0
    if (switch_share_dashboard.checked === true) { number_of_active_checkboxes++; }
    if (switch_share_city_map.checked === true) { number_of_active_checkboxes++; }
    if (switch_share_region_map.checked === true) { number_of_active_checkboxes++; }

    // Переключение основного чекбокса с разрешением делиться статистикой
    switch_share_general.addEventListener('change', (event) => {
        // Когда он включается, то все дополнительные чекбоксы должны стать активными и получить состояние checked.
        // Это необходимо для того, чтобы избежать ситуации, когда основной чекбокс включён,
        // а ни один из дополнительных - нет. В таком случае непонятно, что именно отображать.
        // Также становится активным поле ввода с сылкой и кнопка скопировать.
        if (event.currentTarget.checked) {
            enable_all_checkboxes();
            number_of_active_checkboxes = 3;
        } else {
            disable_all_checkboxes();
            number_of_active_checkboxes = 0;
        }
    });

    // При каждом переключени дополнительного чекбокса уменьшаем счётчик активных чекбоксов на 1
    // и в случае, если он станет равен 0, выключаем основной чекбокс и делаем неактивными дополнительные.
    switch_share_dashboard.addEventListener('change', (event) => {
        switch_share_dashboard.checked === true ? number_of_active_checkboxes++ : number_of_active_checkboxes--;
        if (number_of_active_checkboxes === 0) {
            disable_all_checkboxes()
        }
    });
    switch_share_city_map.addEventListener('change', (event) => {
        switch_share_city_map.checked === true ? number_of_active_checkboxes++ : number_of_active_checkboxes--;
        if (number_of_active_checkboxes === 0) {
            disable_all_checkboxes()
        }
    });
    switch_share_region_map.addEventListener('change', (event) => {
        switch_share_region_map.checked === true ? number_of_active_checkboxes++ : number_of_active_checkboxes--;
        if (number_of_active_checkboxes === 0) {
            disable_all_checkboxes()
        }
    });

    button_send_to_server.addEventListener('click', (event) => {
        button_send_to_server.innerHTML = '<i class="fa-solid fa-spin fa-spinner"></i>&nbsp;&nbsp;&nbsp;Сохранить'
        let form = $('#share_settings_form').serialize();
        $.ajax({
            type: 'POST',
            url: '{% url 'save_share_settings' %}',
            data: form,
            success: function(data) {
                if (data.status === 'ok') {
                    button_send_to_server.innerHTML = '<i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;&nbsp;Сохранить'
                    $("#save_success").show('fast');
                    setTimeout(function() { $("#save_success").hide('fast'); }, 2000);
                } else {
                    button_send_to_server.innerHTML = '<i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;&nbsp;Сохранить'
                    $("#save_error").show('fast');
                    setTimeout(function() { $("#save_error").hide('fast'); }, 2000);
                    console.log(data);
                }
            },
            error:  function(){
                console.log('Ошибка при сохранении настроек. ' + data)
            }
        });
    });

    input_with_share_link.addEventListener(`focus`, () => input_with_share_link.select());

    // Копирование ссылки в буфер обмена
    button_make_a_copy.addEventListener('click', () => {
        const inputValue = input_with_share_link.value.trim();
        if (inputValue) {
            navigator.clipboard.writeText(inputValue)
            .then(() => {
                let toast_success_copied =document.getElementById('toast_success_copied');
                let toast = new bootstrap.Toast(toast_success_copied);
                toast.show();
            })
            .catch(err => {
                    console.log('Something went wrong', err);
            })
        }
    });

    function send_form() {


    }
</script>
