<div class="card text-center shadow h-100" xmlns="">
    <div class="card-body">
        <p class="fs-4">Посещённые города</p>
        <canvas class="vert" id="chart__qty_of_cities"></canvas>
    </div>
</div>

<script>
    const ctx_cities = document.getElementById('chart__qty_of_cities').getContext('2d');
    const myChart_cities = new Chart(ctx_cities, {
            type: 'pie',
            data: {
                labels: ['Посещённые', 'Не посещённые'],
                datasets: [
                    {
                        data: ['{{ cities.number_of_visited_cities }}', '{{ cities.number_of_not_visited_cities }}'],
                        borderColor: ['rgba(255, 255, 255)', 'rgba(255, 255, 255)'],
                        backgroundColor: ['rgba(255,86,86,0.6)', 'rgba(255,86,86,0.3)']
                    },
                ]
            },
        });
</script>