<div class="card shadow mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="align-self-center mb-0">
                Города
            </h4>
            <i class="fa-regular fa-circle-question fs-4 text-body-secondary" data-bs-toggle="tooltip"
                 data-bs-title="Отображается 5 последних посещённых городов"></i>
        </div>

        {###   Список последних посещённых городов   ###}
        <ul class="list-group list-group-flush mt-3">
            {% for city in cities.last_10_visited_cities %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between small">
                        <a href="{{ city.get_absolute_url }}"
                           class="link-offset-2 link-underline-dark link-dark
                                  link-underline-opacity-50-hover link-opacity-50-hover">
                            {{ city.title }}
                        </a>
                        {{ city.date_of_visit }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {### ^^^ Список последних посещённых городов ^^^ ###}

        {###   Ссылка "Посмотреть все"   ###}
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item">
                <div class="d-flex justify-content-end small">
                    <a href="{% url 'city-all-list' %}"
                       class="link-offset-2 link-underline-dark link-dark
                              link-underline-opacity-50-hover link-opacity-50-hover">
                        Посмотреть все
                    </a>
                </div>
            </li>
        </ul>
        {### ^^^ Ссылка "Посмотреть все" ^^^ ###}
    </div>
</div>