{% extends 'base.html' %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="block-page_header">
        Личная статистика
    </h1>

    {% if not DEBUG %}
    {% include 'advertisement/travel_payouts.html' %}
    {% endif %}

    {% if fake_statistics %}
        {% include 'account/statistics/parts/info_about_fake_statistics.html' %}
    {% else %}
        {% include 'account/statistics/parts/toolbar.html' %}
        {% include 'account/statistics/parts/share_modal.html' %}
        {% include 'account/statistics/parts/download_modal.html' %}
    {% endif %}

    {% include 'account/statistics/all_cards_and_charts.html' %}
{% endblock %}
