<!-- Панель инструментов -->
<div class="row mx-3 my-3 g-3" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="col-xl-3 order-xl-1" id="block-statistic">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-warning-subtle" id="block-statistic">
                <div class="align-self-center">
                    {% if user.is_authenticated %}
                        {{ change__visited|title }} <span class="fs-4 fw-medium">{{ qty_of_visited_cities }}</span>
                        {{ change__city }} из {{ qty_of_cities }}
                    {% else %}
                        Городов в коллекции: <span class="fs-4 fw-medium">{{ qty_of_cities }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика посещёния -->

    <!-- Посмотреть на карте -->
    <div class="col-xl-3 order-xl-4" id="section-show_map">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle">
                <a href="{% url 'collection-detail-list' pk %}" class="btn btn-outline-success align-self-center">
                    <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть на карте -->

    <!-- Посмотреть посещённые -->
    <div class="col-xl-3 order-xl-2">
        <div class="card text-center shadow h-100" id="section-filter">
            <div class="card-body d-grid bg-primary-subtle">
                {% if user.is_authenticated and qty_of_visited_cities > 0 %}
                    {% if filter == 'visited' %}
                         <a class="btn btn-primary d-block align-self-center"
                            href="{% url 'collection-detail-map' pk %}">
                             <i class="fa-regular fa-square-check"></i>&nbsp;&nbsp;&nbsp;Посмотреть посещённые
                         </a>
                    {% else %}
                        <a class="btn btn-outline-primary d-block align-self-center"
                            href="{% url 'collection-detail-map' pk %}?{{ url_for_filter_visited }}">
                             <i class="fa-regular fa-square-check"></i>&nbsp;&nbsp;&nbsp;Посмотреть посещённые
                         </a>
                    {% endif %}
                {% else %}
                    <button class="btn btn-outline-primary d-block align-self-center disabled">
                         <i class="fa-regular fa-square-check"></i>&nbsp;&nbsp;&nbsp;Посмотреть посещённые
                     </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть посещённые -->

    <!-- Посмотреть непосещённые -->
    <div class="col-xl-3 order-xl-3">
        <div class="card text-center shadow h-100" id="section-sorting">
            <div class="card-body d-grid bg-secondary-subtle">
                {% if user.is_authenticated and qty_of_visited_cities > 0 %}
                    {% if filter == 'not_visited' %}
                        <a class="btn btn-secondary d-block align-self-center"
                           href="{% url 'collection-detail-map' pk %}">
                            <i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;&nbsp;Посмотреть непосещённые
                        </a>
                    {% else %}
                        <a class="btn btn-outline-secondary d-block align-self-center"
                           href="{% url 'collection-detail-map' pk %}?{{ url_for_filter_not_visited }}">
                            <i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;&nbsp;Посмотреть непосещённые
                        </a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-outline-secondary d-block align-self-center disabled">
                        <i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;&nbsp;Посмотреть непосещённые
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть непосещённые -->
</div>
<!-- ^^^ Панель инструментов -->