<!-- Панель инструментов -->
<div class="mx-3 my-3 d-flex flex-wrap gap-3 align-items-center" id="toolbar">
    <!-- Статистика -->
    <div class="d-flex flex-wrap gap-3 align-items-center" id="block-statistic">
        {% if user.is_authenticated %}
            <span class="toolbar-badge toolbar-badge-warning">
                {{ change__visited|title }} <strong>{{ qty_of_visited_cities }}</strong> {{ change__city }} из {{ qty_of_cities }}
            </span>
        {% else %}
            <span class="toolbar-badge toolbar-badge-warning">
                Городов в коллекции: <strong>{{ qty_of_cities }}</strong>
            </span>
        {% endif %}
    </div>
    <!-- ^^^ Статистика -->

    <!-- Кнопки действий -->
    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3" id="section-buttons">
        <!-- Посмотреть на карте -->
        <a href="{% url 'collection-detail-map' pk %}" 
           class="btn btn-outline-success d-flex align-items-center gap-2"
           id="section-show_map">
            <i class="fa-solid fa-map-location-dot"></i>
            <span>Посмотреть на карте</span>
        </a>
        <!-- ^^^ Посмотреть на карте -->

        <!-- Посмотреть посещённые -->
        {% if user.is_authenticated and qty_of_visited_cities > 0 %}
            {% if filter == 'visited' %}
                <a class="btn btn-primary d-flex align-items-center gap-2"
                   href="{% url 'collection-detail-list' pk %}"
                   id="section-filter">
                    <i class="fa-regular fa-square-check"></i>
                    <span>Посещённые</span>
                </a>
            {% else %}
                <a class="btn btn-outline-primary d-flex align-items-center gap-2"
                   href="{% url 'collection-detail-list' pk %}?{{ url_for_filter_visited }}"
                   id="section-filter">
                    <i class="fa-regular fa-square-check"></i>
                    <span>Посещённые</span>
                </a>
            {% endif %}
        {% else %}
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 disabled"
                    id="section-filter">
                <i class="fa-regular fa-square-check"></i>
                <span>Посещённые</span>
            </button>
        {% endif %}
        <!-- ^^^ Посмотреть посещённые -->

        <!-- Посмотреть непосещённые -->
        {% if user.is_authenticated and qty_of_visited_cities > 0 %}
            {% if filter == 'not_visited' %}
                <a class="btn btn-secondary d-flex align-items-center gap-2"
                   href="{% url 'collection-detail-list' pk %}"
                   id="section-sorting">
                    <i class="fa-regular fa-circle-xmark"></i>
                    <span>Непосещённые</span>
                </a>
            {% else %}
                <a class="btn btn-outline-secondary d-flex align-items-center gap-2"
                   href="{% url 'collection-detail-list' pk %}?{{ url_for_filter_not_visited }}"
                   id="section-sorting">
                    <i class="fa-regular fa-circle-xmark"></i>
                    <span>Непосещённые</span>
                </a>
            {% endif %}
        {% else %}
            <button class="btn btn-outline-secondary d-flex align-items-center gap-2 disabled"
                    id="section-sorting">
                <i class="fa-regular fa-circle-xmark"></i>
                <span>Непосещённые</span>
            </button>
        {% endif %}
        <!-- ^^^ Посмотреть непосещённые -->
    </div>
    <!-- ^^^ Кнопки действий -->
</div>
<!-- ^^^ Панель инструментов -->
