{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        {{ page_title }}
    </h1>

    {% include 'advertisement/travel_payouts.html' %}

    {% include 'collection/collection_selected__map__toolbar.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    {% if not user.is_authenticated %}
        {% include 'advertisement/rtb_floor_ad_mobile.html' %}
        {% include 'advertisement/rtb_floor_ad_desktop.html' %}
        {% include 'advertisement/rtb_feed.html' %}
    {% endif %}

    {# Прокидываем переменные из Django в JS скрипт #}
    <script>
        window.CITIES_DATA = {{ cities|safe }};
        window.TILE_LAYER = "{{ TILE_LAYER }}";
    </script>

    <script src="{% static 'js/collection/map.js' %}?ver={{ PROJECT_VERSION }}" type="module"></script>
{% endblock %}
