{% extends 'base.html' %}
{% load vite %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/autoComplete.css' %}?ver={{ PROJECT_VERSION }}">

    <h1 class="display-5 text-center mt-3 mx-3" id="block-page_header">
        Коллекции городов
    </h1>

    <div class="row mx-3 my-3 y-3 g-3 align-items-center" id="toolbar">
        <div class="col-12 col-lg-6 ms-auto">
            <input id="collection-search" type="text" class="form-control w-100" placeholder="Поиск коллекции...">
        </div>
    </div>

    <!-- Карточки с коллекциями -->
    {% if object_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3" id="list-content">
            {% for collection in object_list %}
                {% include 'collection/collection__card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
            <div class="col-xl-8">
                <div class="alert alert-danger p-5 text-center" role="alert">
                    На данный момент в сервисе нет ни одной коллекции городов
                </div>
            </div>
        </div>
    {% endif %}
    <!-- ^^^ Карточки с коллекциями -->

    {% if not DEBUG %}
    {% include 'advertisement/rtb_banner.html' %}
    {% endif %}

    <!-- Пагинация -->
    {% include 'parts/pagination_without_sort_and_filter.html' %}
    <!-- ^^^ Пагинация -->

    {% vite_asset 'js/entries/collection_search.js' %}
    {% vite_asset 'js/entries/collection_favorite.js' %}
{% endblock %}
