<div class="col">
    <div class="mg-card {% if collection.is_favorite %}mg-card-danger{% else %}mg-card-secondary{% endif %}">
        <div class="mg-card-body text-center">
            <a href="{{ collection.get_absolute_url }}" class="mg-link mg-heading-4">
                {{ collection.title }}
            </a>

            <!-- Список городов -->
            <div class="d-flex flex-wrap gap-2 justify-content-center">
                {% for city in collection.city.all|slice:"0:10" %}
                    {% if city.id in visited_cities %}
                        <a href="{% url 'city-selected' city.id %}" class="mg-btn mg-btn-sm mg-btn-flat mg-btn-success">{{ city }}</a>
                    {% else %}
                        <a href="{% url 'city-selected' city.id %}" class="mg-btn mg-btn-sm mg-btn-flat mg-btn-danger">{{ city }}</a>
                    {% endif %}
                {% endfor %}
                {% if collection.qty_of_cities > 10 %}
                    <buttob class="mg-btn mg-btn-sm mg-btn-flat mg-btn-secondary">и другие...</span>
                {% endif %}
                <!-- ^^^ Список городов -->
            </div>

            <!-- Количество городов -->
            <div class="mt-3">
                <small class="mg-text-sm">
                    {% if user.is_authenticated %}
                        Посещено {{ collection.qty_of_visited_cities }} из {{ collection.qty_of_cities }}
                    {% else %}
                        Всего городов: {{ collection.qty_of_cities }}
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Количество городов -->

            <!-- Прогресс бар посещённых городов -->
            {% if user.is_authenticated %}
            <div class="mg-progress mg-progress-primary mg-progress-striped mt-2">
                <div class="mg-progress-bar mg-progress-success"
                     style="--percentage: {% widthratio collection.qty_of_visited_cities collection.qty_of_cities 100 %}; width: {% widthratio collection.qty_of_visited_cities collection.qty_of_cities 100 %}%"></div>
            </div>
            {% endif %}
            <!-- ^^^ Прогресс бар посещённых городов -->

            <!-- Кнопка избранного -->
            {% if user.is_authenticated %}
            <div class="mt-3">
                <button class="mg-btn mg-btn-warning"
                        data-collection-id="{{ collection.id }}"
                        data-is-favorite="{% if collection.is_favorite %}true{% else %}false{% endif %}">
                    <i class="fa-star {% if collection.is_favorite %}fas{% else %}far{% endif %}"
                        style="margin-right: 0.25rem"></i>
                    <span>
                        {% if collection.is_favorite %}Удалить из избранного{% else %}Добавить в избранное{% endif %}
                    </span>
                </button>
            </div>
            {% endif %}
            <!-- ^^^ Кнопка избранного -->
        </div>
    </div>
</div>
