{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <!-- Заголовок страницы -->
    <h1 class="display-5 text-center mt-3" id="block-page_header">
        Новости проекта 'Мои города'
    </h1>
    <!-- ^^^ Заголовок страницы -->

    <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center">
        <div class="col-xxl-7 col-xl-9">
            {% for item in object_list %}
                <div class="card p-3 my-3 shadow" id="news_{{ item.id }}">
                    <div class="card-body">
                        <div class="card-text">
                            {{ item.content|markdownify }}
                        </div>
                    </div>

                    <hr>

                    <div class="card-footer small" style="background: none; border-top: none;">
                        <div class="d-flex justify-content-between">
                            <div class="fw-lighter text-muted">
                                {% if user.is_authenticated %}
                                    {% if item.is_read %}
                                        <span>
                                            <i class="fa-regular fa-envelope-open"></i>&nbsp;&nbsp;&nbsp;Прочитано
                                        </span>
                                    {% else %}
                                        <span class="text-danger fw-bolder">
                                            <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Не прочитано
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>

                            {% if user.is_superuser %}
                            	<div class="fw-lighter text-muted">
                                    Количество прочитываний: {{ item.number_of_users_who_read_news }}
                                </div>
                            {% endif %}

                            <div class="fw-lighter text-muted">
                                <span class="fw-medium">Создано:</span> {{ item.created }}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <div class="card-body">
                        На данный момент нет ни одной новости.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Пагинация -->
    {% include 'parts/pagination.html' %}
    <!-- ^^^ Пагинация -->
{% endblock %}