{% extends 'base.html' %}
{% load vite %}
{% load humanize %}
{% load markdownify %}
{% load static %}
{% load mathfilters %}

{% block content %}
<h1 class="display-5 text-center mt-4 mb-4 fw-bold" id="section-page_header">
    {{ city.title }}
</h1>

{% if not user.is_authenticated %}
    {% include 'advertisement/travel_payouts.html' %}
    {% include 'advertisement/rtb_floor_fullscreen_mobile.html' %}
{% endif %}

<div class="container mb-5 mt-3">
    <div class="row justify-content-center" id="city-selected-content">
        <div class="col-12">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-body p-4">
                    <div class="row">
                         <div class="col-12 col-lg-6 text-center mb-3" id="section-city_image">
                             {% if city.image %}
                                <img src="{{ city.image }}"
                                     alt="Фото города {{ city.title }}"
                                     class="img-fluid rounded-3 shadow city-image">
                             {% else %}
                                <img src="{% static 'image/city_placeholder.png' %}"
                                     alt="Фото города {{ city.title }}"
                                     class="img-fluid rounded-3 shadow city-image">
                             {% endif %}
                            <div class="mt-3 small text-muted">
                                {% if city.image_source_text %}
                                    Источник изображения:<br>
                                    {% if city.image_source_link %}
                                        <a href="{{ city.image_source_link }}"
                                           class="link-offset-2 link-underline-dark link-dark link-underline-opacity-75-hover link-opacity-75-hover"
                                           target="_blank">{{ city.image_source_text }}</a>
                                    {% else %}
                                        {{ city.image_source_text }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row gy-3">
                                <div class="col d-flex flex-wrap gap-2 justify-content-end">
                                    <button id="show_on_map"
                                            class="btn btn-outline-success d-flex gap-2 align-items-center"
                                            role="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#cityStatisticModal">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        Статистика города
                                    </button>

                                    <button id="show_on_map"
                                          class="btn btn-outline-secondary d-flex gap-2 align-items-center"
                                          role="button"
                                          data-bs-toggle="modal"
                                          data-bs-target="#mapModal">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        Посмотреть на карте
                                    </button>
                                </div>

                                <hr>

                                {% url 'region-selected-list' city.region.id as region_url %}
                                {% include "partials/info_row_4.html" with title="Страна:" link=False value=city.country id="country" %}
                                {% include "partials/info_row_4.html" with title="Регион:" link=True link_url=region_url value=city.region id="region" %}
                                {% include "partials/info_row_4.html" with title="Федеральный округ:" value=city.region.area id="area" %}

                                <div class="col-12">
                                    <hr>
                                </div>

                                {% include "partials/info_row.html" with title="Год основания:" value=city.date_of_foundation|stringformat:"s"|default:"Год основания не известен" id="date_of_foundation" %}
                                {% include "partials/info_row.html" with title="Население:" value=city.population|intcomma|stringformat:"s"|default:"Численность населения не известна" id="population" %}

                                <div class="col-12">
                                    <hr>
                                </div>

                                <div class="col-12">
                                    <h6 class="fw-semibold mb-1">Коллекции:</h6>
                                    <div class="d-flex flex-wrap gap-1">
                                        {% if city.collections %}
                                            {% for collection in city.collections %}
                                                <a href="{% url 'collection-detail-list' collection.id %}"
                                                   class="btn btn-sm bg-light text-success border border-success-subtle badge-hover-success">
                                                    {{ collection }}
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                            <span class="small text-muted">Город не состоит ни в каких коллекциях</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <hr>
                                </div>

                                <div class="col-6">
                                    <h6 class="fw-semibold mb-1">Средняя оценка среди всех пользователей:</h6>
                                    <div class="d-flex align-items-center gap-3">
                                        {% if city.average_rating %}
                                            <span>
                                                {{ city.average_rating }}
                                            </span>
                                            <span>
                                                {% for i in "12345"|make_list %}
                                                    {% with index=forloop.counter %}
                                                        {% if city.average_rating >= index %}
                                                            <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                                        {% else %}
                                                            {% if city.average_rating >= index|sub:0.5 %}
                                                                <i class="fa-solid fa-star-half-stroke" style="color: #ffc43c;"></i>
                                                            {% else %}
                                                                <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            <span class="small text-muted">Статистика ещё не собрана</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <h6 class="fw-semibold mb-1">Популярные месяцы для посещения:</h6>
                                    <div>
                                        {% if popular_months %}
                                            {{ popular_months }}
                                        {% else %}
                                            <span class="small text-muted">Статистика ещё не собрана</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <hr>

                                <div class="col-12 d-flex justify-content-end mt-3">
                                    {% if city.wiki %}
                                        <a href="{{ city.wiki }}"
                                           class="link-offset-2 link-underline-dark link-dark link-opacity-75 link-underline-opacity-75 link-opacity-100-hover"
                                           target="_blank">
                                            <i class="fa-brands fa-wikipedia-w me-2"></i>Больше информации о городе на Wikipedia
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        {% if city.number_of_visits > 0 %}
                            <div class="row align-items-center mt-3 mb-3">
                                <div class="col-12 fs-3 fw-semibold">Ваши посещения города {{ city.title }} ({{ city.number_of_visits }})</div>
                            </div>

                            {% for visit in city.visits %}
                                {% if not forloop.first %}
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="row align-items-center">
                                    <div class="col-lg-2 mt-2">
                                        {% if visit.date_of_visit %}
                                            {{ visit.date_of_visit }}
                                        {% else %}
                                            <span class="small text-muted">Дата посещения не указана</span>
                                        {% endif %}
                                    </div>

                                    <div class="col-lg-2 mt-2">
                                        {% for i in '12345'|make_list %}
                                            {% if forloop.counter <= visit.rating %}
                                                <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                            {% else %}
                                                <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col-lg-6 mt-2">
                                        {% if visit.impression %}
                                            {{ visit.impression }}
                                        {% else %}
                                            <span class="small text-muted">Вы не добавили описание Вашей поездки в город {{ visit.city__title }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="col-lg-2 d-flex text-center justify-content-end gap-3 mt-2">
                                        <a class="text-sm btn btn-outline-danger btn-sm delete_city"
                                           href="#"
                                           data-bs-tooltip="tooltip"
                                           data-bs-title="Удалить город {{ city.title }} из списка посещённых"
                                           data-delete_url="{% url 'city-delete' visit.id %}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                        <a href="{% url 'city-update' visit.id %}"
                                           data-bs-tooltip="tooltip"
                                           data-bs-title="Изменить параметры посещения города {{ city.title }}"
                                           class="text-sm btn btn-outline-success btn-sm">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="mt-5 display-4 text-center">
                                Вы ещё не посетили город {{ city.title }}
                            </div>
                        {% endif %}

                        <div class="d-flex justify-content-end mt-5">
                            {% if city.number_of_visits > 0 %}
                                <a href="{% url 'city-create' %}?city_id={{ city.id }}"
                                   class="btn btn-sm btn-outline-success d-flex align-items-center gap-2">
                                    <i class="fa-solid fa-plus"></i>
                                    Добавить ещё одно посещение города
                                </a>
                            {% else %}
                                <a href="{% url 'city-create' %}?city_id={{ city.id }}"
                                   class="btn btn-sm btn-outline-success d-flex align-items-center gap-2">
                                    <i class="fa-solid fa-plus"></i>
                                    Добавить город как посещённый
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'city/modal_city_statistic.html' %}

<!-- Модальное окно с картой -->
<div class="modal fade" id="mapModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title">Город {{city.title}} на карте</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div id="map" class="h-100 mt-3"></div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно удаления -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title">Удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить город <strong><span id="cityTitleOnModal"></span></strong> из списка посещённых?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form id="deleteCityForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.CITY_TITLE = "{{ city.title }}";
    window.LAT = "{{ city.coordinate_width }}";
    window.LON = "{{ city.coordinate_longitude }}";
    window.ISO3166 = "{{ city.region.iso3166 }}"
    window.COUNTRY_CODE = "{{ city.country.code }}"
    window.TILE_LAYER = "{{ TILE_LAYER }}";
    window.URL_GEO_POLYGONS = "{{ URL_GEO_POLYGONS }}"
</script>
{% vite_asset 'js/entries/leaflet_css.js' %}
{% vite_asset 'js/entries/map_city_selected.js' %}
{% endblock %}
