{% extends 'base.html' %}
{% load morphology %}
{% load vite %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="section-page_header">
      {% if country_name %}
        Список посещённых городов в {{ country_name|prepositional }}
      {% else %}
        Список посещённых городов
      {% endif %}
    </h1>

    {% if not DEBUG %}
    {% include 'advertisement/rtb_banner.html' %}
    {% endif %}

    {% include 'city/city_all__list__toolbar.html' %}

    <!-- Карточки с регионами -->
    {% if object_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3" id="list-content">
            {% for city in object_list %}
                {% include 'city/city__card.html' %}
            {% endfor %}
        </div>
    {% else %}
        {% if qty_of_visited_cities > 0 %}
            <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
                <div class="col-xl-8">
                    <div class="alert alert-warning p-5 text-center fs-3" role="alert" id="section-info_box">
                        {% if filter %}
                            По заданным условиям фильтрации не найдено ни одного города
                        {% else %}
                            Вы не посетили ни одного города в {{ country_name|prepositional }}.<br>
                            Можете посмотреть <a href="{% url 'city-all-map' %}?country={{ country_code }}" class="link-dark link-underline-dark link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">все города {{ country_name|genitive }} на карте</a>.
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
                <div class="col-xl-8">
                    <div class="alert alert-danger p-5 text-center fs-3" role="alert" id="section-info_box">
                        На данный момент Вы не сохранили ни одного посещённого города.<br>
                        Нажмите кнопку "Добавить город" и начните пользоваться сервисом.
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <!-- ^^^ Карточки с городами -->

    <!-- Пагинация -->
    {% include 'parts/pagination.html' %}
    <!-- ^^^ Пагинация -->

    {% vite_asset 'js/entries/choices_css.js' %}
    {% vite_asset 'js/entries/city_all.js' %}
{% endblock %}
