{% load mathfilters %}
{% load humanize %}

<div class="col" id="city_card_{{ forloop.counter }}">
    <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
        <div class="card-body">
            <!-- Название города -->
            <h4 id="subsection-city-title_{{ forloop.counter }}">
                <a href="{% url 'city-selected' city.id %}"
                   class="link-offset-2 link-underline-dark link-dark link-opacity-75 link-underline-opacity-75 link-opacity-100-hover">
                    {{ city }}
                </a>
            </h4>
            <!-- ^^^ Название города -->

            <!-- Дата посещения -->
            <div id="subsection-city-date_of_visit_{{ forloop.counter }}">
                <small class="text-muted">
                    {% if city.date_of_visit %}
                        {{ city.date_of_visit }}
                    {% else %}
                        Дата посещения не указана
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Дата посещения -->

            <!-- Регион -->
            <div id="subsection-city-region_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    <a href="{% url 'region-selected-list' city.region.id %}"
                       class="text-underline-dashed text-reset">
                        {{ city.region }}
                    </a>
                </small>
            </div>
            <!-- ^^^ Регион -->
        </div>

        <div class="card-footer my-2" style="background: none; border-top: none;">
            <!-- Население -->
            <div id="subsection-city-population_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    {% if city.city.population %}
                        Население <strong>{{ city.city.population|intcomma }}</strong> чел.
                    {% else %}
                        Население города неизвестно
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Население -->

            <!-- Год основания -->
            <div id="subsection-city-date_of_foundation_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    {% if city.city.date_of_foundation %}
                        Основан в <strong>{{ city.city.date_of_foundation }}</strong> году
                    {% else %}
                        Год основания неизвестен
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Год основания -->

            <div class="d-flex justify-content-between">
                <!-- Рейтинг -->
                <div id="subsection-city-rating_{{ forloop.counter }}">
                    <small>
                        {% for i in '12345'|make_list %}
                            {% if forloop.counter <= city.rating %}
                                <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                            {% else %}
                                <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                            {% endif %}
                        {% endfor %}
                    </small>
                </div>
                <!-- ^^^ Рейтинг -->

                <!-- Наличие магнита -->
                <div id="subsection-city-magnet_{{ forloop.counter }}">
                    {% if city.has_magnet %}
                        <small>
                            <span class="text-success">
                                Магнит <i class="fa-regular fa-square-check"></i>
                            </span>
                        </small>
                    {% else %}
                        <small>
                            <span class="text-danger">
                                Магнит <i class="fa-regular fa-square-minus"></i>
                            </span>
                        </small>
                    {% endif %}
                </div>
                <!-- ^^^ Наличие магнита -->
            </div>
        </div>
    </div>
</div>