{% load morphology %}
<div class="mx-3 my-3 d-flex flex-wrap gap-3 justify-content-between align-items-center" id="toolbar" style="z-index: 1001; position: relative;">
    <!-- Статистика посещёния -->
    <div class="d-flex flex-wrap gap-3 flex-grow-1 align-items-center" id="section-stats">
        <span class="toolbar-badge toolbar-badge-success">
            Всего посещено <strong id="number_of_visited_cities">{{ qty_of_visited_cities }}</strong> {{ "города"|plural_by_num:qty_of_visited_cities }}
        </span>
        {% if country_code %}
            <span class="toolbar-badge toolbar-badge-info">
                В {{ country_name|prepositional }}: <strong>{{ number_of_visited_cities_in_country }}</strong> из {{ number_of_cities_in_country }}
            </span>
        {% else %}
            <span class="toolbar-badge toolbar-badge-info">
                Стран: <strong>{{ number_of_visited_countries }}</strong>
            </span>
        {% endif %}
    </div>

    <div class="d-flex flex-wrap justify-content-end align-items-center flex-grow-1 gap-3" id="section-buttons">
        <div class="flex-grow-1" style="min-width: 250px;">
            <select class="form-select" id="id_country"></select>
        </div>

        <!-- Помощь -->
        <button class="btn btn-outline-secondary d-flex gap-2 justify-content-start align-items-center"
                id="btn_help"
                data-bs-toggle="modal"
                data-bs-target="#modal_help"
                data-bs-tooltip="tooltip"
                data-bs-title="Подробнее о функционале этой страницы">
            <i class="fa-regular fa-circle-question"></i>
            Помощь
        </button>
        <!-- ^^^ Помощь -->

        <div class="d-flex gap-1 justify-content-center align-items-center">
            <!-- В прошлом году -->
            <button class="align-self-center small-btn-for-toolbar small-btn-primary
                           {% if qty_of_visited_cities == 0 %}disabled{% endif %}"
                    id="btn_show-visited-cities-previous-year"
                    data-type="show"
                    data-bs-toggle="tooltip"
                    data-bs-title="Показать города, посещённые Вами в прошлом году">
                <i class="fa-solid fa-calendar-week"></i>
            </button>
            <!-- ^^^ В прошлом году -->

            <!-- В этом году -->
            <button class="align-self-center small-btn-for-toolbar small-btn-success me-3
                      {% if qty_of_visited_cities == 0 %}disabled{% endif %}"
                    id="btn_show-visited-cities-current-year"
                    data-type="show"
                    data-bs-toggle="tooltip"
                    data-bs-title="Показать города, посещённые Вами в текущем году">
                <i class="fa-solid fa-calendar-days"></i>
            </button>
            <!-- ^^^ В этом году -->
        </div>

        <div class="d-flex gap-1 justify-content-center align-items-center">
            <!-- Показать маркеры посещённых мест -->
            <button class="align-self-center small-btn-for-toolbar small-btn-primary"
                    id="btn_show-places"
                    data-type="show"
                    data-bs-toggle="tooltip"
                    data-bs-title="Показать маркеры посещённых мест">
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <!-- ^^^ Показать маркеры посещённых мест -->

            <!-- Показать непосещённые города -->
            <button class="align-self-center small-btn-for-toolbar small-btn-danger"
                    id="btn_show-not-visited-cities"
                    data-url="{% url 'api__get_not_visited_cities' %}{% if country_code %}?country={{ country_code }}{% endif %}"
                    data-type="show"
                    data-bs-toggle="tooltip"
                    data-bs-title="Показать непосещённые города">
                <i class="fa-solid fa-eye"></i>
            </button>
            <!-- ^^^ Показать непосещённые города -->

            <!-- Подписки -->
            <button class="align-self-center small-btn-for-toolbar small-btn-success{% if not is_user_has_subscriptions %} disabled{% endif %}"
                    id="btn_open_modal_with_subscriptions"
                    data-bs-toggle="modal"
                    data-bs-target="#subscriptions_modal_window"
                    data-bs-tooltip="tooltip"
                    data-bs-title="Показать города, посещённые пользователями, на которых Вы подписаны">
                    <i class="fa-solid fa-bell"></i>
            </button>
            <!-- ^^^ Подписки -->
        </div>

        <a href="{% url 'city-all-list' %}{% if country_code %}?country={{ country_code }}{% endif %}" 
           class="btn btn-outline-success d-flex align-items-center gap-2">
            <i class="fa-solid fa-list-ol"></i>
            <span>Посмотреть список</span>
        </a>
    </div>
</div>
