<!-- Панель инструментов -->
<div class="row mx-3 my-3 g-3" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="col-xxl-3 col-md-6 order-xl-1" id="block-statistic">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-warning-subtle" id="block-statistic">
                <div class="align-self-center">
                    {{ declension_of_visited|title }} <span class="fs-4 fw-medium">{{ qty_of_visited_cities }}</span>
                    {{ declension_of_visited_cities }} из {{ total_qty_of_cities }}
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика посещёния -->

    <!-- Посмотреть на карте -->
    <div class="col-xxl-3 col-md-6 order-xl-4" id="section-show_map">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle">
                <a href="{% url 'city-all-map' %}" class="btn btn-outline-success align-self-center">
                    <i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;&nbsp;Посмотреть на карте
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть на карте -->

    <!-- Фильтры -->
    <div class="col-xxl-3 col-md-6 order-xl-2">
        <div class="card text-center shadow h-100" id="section-filter">
            <div class="card-body d-grid bg-primary-subtle">
                {% if qty_of_visited_cities > 0 %}
                     <a class="btn btn-outline-primary d-block align-self-center"
                        id="open_filter_toolbar"
                        data-bs-toggle="collapse" href="#collapse-filtering" role="button"
                        aria-expanded="false" aria-controls="collapse-filtering">
                         <i class="fa-solid fa-filter"></i>&nbsp;&nbsp;&nbsp;Фильтры
                     </a>
                {% else %}
                    <button class="btn btn-outline-primary d-block align-self-center disabled">
                         <i class="fa-solid fa-filter"></i>&nbsp;&nbsp;&nbsp;Фильтры
                     </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ^^^ Фильтры -->

    <!-- Сортировка -->
    <div class="col-xxl-3 col-md-6 order-xl-3">
            <div class="card text-center shadow h-100" id="section-sorting">
                <div class="card-body d-grid bg-secondary-subtle">
                    {% if qty_of_visited_cities > 0 %}
                        <a class="btn btn-outline-secondary d-block align-self-center"
                           id="open_sorting_toolbar"
                           data-bs-toggle="collapse" href="#collapse-sorting" role="button"
                           aria-expanded="false" aria-controls="collapse-sorting">
                         <i class="fa-solid fa-sort"></i>&nbsp;&nbsp;&nbsp;Сортировка
                    {% else %}
                        <a class="btn btn-outline-secondary d-block align-self-center disabled" href="#">
                            <i class="fa-solid fa-sort"></i>&nbsp;&nbsp;&nbsp;Сортировка
                        </a>
                    {% endif %}
                 </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Сортировка -->
</div>
<!-- ^^^ Панель инструментов -->

<!-- Меню фильтрации -->
{% if qty_of_visited_cities > 0 %}
    <div class="row mx-3 my-3 g-3 collapse" id="collapse-filtering">
        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_filter_magnet }}"
                       class="d-block align-self-center btn {% if filter == 'magnet' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                        <i class="fa-solid fa-magnet"></i>&nbsp;&nbsp;&nbsp;Без магнита
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_filter_current_year }}"
                       class="d-block align-self-center btn {% if filter == 'current_year' %}btn-success{% else %}btn-outline-success{% endif %}">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;В этом году
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_filter_last_year }}"
                       class="d-block align-self-center btn {% if filter == 'last_year' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                        <i class="fa-solid fa-calendar-week"></i>&nbsp;&nbsp;&nbsp;В прошлом году
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Меню фильтрации -->

    <!-- Меню сортировки -->
    <div class="row mx-3 my-3 g-3 collapse" id="collapse-sorting">
        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_sort_name_down }}"
                       class="d-block btn btn-outline-secondary align-self-center" title="Сортировать по возрастанию названия">
                        <i class="fa-solid fa-arrow-down-a-z"></i>&nbsp;&nbsp;По названию (возрастание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_sort_name_up }}"
                       class="d-block btn btn-outline-success align-self-center" title="Сортировать по уменьшению названия">
                        <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;&nbsp;По названию (убывание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_sort_date_down }}"
                       class="d-block btn btn-outline-primary align-self-center" title="Сначала показать давно посещённые">
                        <i class="fa-solid fa-arrow-down-1-9"></i>&nbsp;&nbsp;По дате посещения (возрастание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'city-all-list' %}?{{ url_for_sort_date_up }}"
                       class="d-block btn btn-outline-danger align-self-center" title="Сначала показать недавно посещённые">
                        <i class="fa-solid fa-arrow-down-9-1"></i>&nbsp;&nbsp;По дате посещения (убывание)
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Меню сортировки -->
{% endif %}
