{% load mathfilters %}
{% load humanize %}
{% load vite %}

{% vite_css 'css/components/card' %}
{% vite_css 'css/components/badge' %}
{% vite_css 'css/components/link' %}
{% vite_css 'css/components/typography' %}

<div class="col city-card visited" id="city_card_{{ forloop.counter }}">
    <div class="mg-card mg-card" id="section-city_{{ forloop.counter }}">
        <div class="mg-card-badge mg-card-badge-success"
             data-bs-toggle="tooltip"
              data-bs-title="Город {{ city }} посещён">
            {{ city.number_of_visits }}
        </div>

        <!-- Название города -->
        <div class="mg-card-header">
            <h5 class="mg-card-title" id="subsection-city-title_{{ forloop.counter }}">
                <a href="{{ city.city.get_absolute_url }}" class="mg-link">
                    {{ city }}
                </a>
            </h5>
            <p class="mg-card-subtitle">
                {% if city.city.region %}
                    <a href="{{ city.city.region.get_absolute_url }}" class="mg-link mg-link-secondary">{{ city.city.region }}</a><br>
                {% endif %}
                <a href="{% url 'city-all-list' %}?country={{ city.city.country.code }}" class="mg-link mg-link-secondary">
                    {{ city.city.country }}
                </a>
            </p>
        </div>
        <!-- ^^^ Название города -->

        <div class="mg-card-body d-flex flex-column">
            <!-- Год основания -->
            <div id="subsection-city-region_{{ forloop.counter }}" class="mb-3 text-center">
                <small class="mg-card-subtitle">
                    {% if city.city.date_of_foundation %}
                        Основан в {{ city.city.date_of_foundation }} году
                    {% else %}
                        Год основания не известен
                    {% endif %}
                </small>
            </div>

            <!-- Даты посещений -->
            <div class="city-visit-dates d-flex flex-column justify-content-center align-items-center flex-grow-1 mb-3"
                 id="subsection-city-date_of_visit_{{ forloop.counter }}">
                {% if city.visit_dates %}
                    {% if city.visit_dates|length == 1 %}
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Дата посещения города {{ city.title }}">
                            {{ city.first_visit_date }}
                        </small>
                    {% elif city.visit_dates|length == 2 %}
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Дата первого посещения города {{ city.title }}">
                            {{ city.first_visit_date }}
                        </small>
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Дата последнего посещения города {{ city.title }}">
                            {{ city.last_visit_date }}
                        </small>
                    {% else %}
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Дата первого посещения города {{ city.title }}">
                            {{ city.first_visit_date }}
                        </small>
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Отображаются только даты первого и последнего посещений города {{ city.title }}. Остальные даты опущены.">
                            …
                        </small>
                        <small class="text-muted"
                               data-bs-toggle="tooltip"
                               data-bs-title="Дата последнего посещения города {{ city.title }}">
                            {{ city.last_visit_date }}
                        </small>
                    {% endif %}
                {% else %}
                    <small class="text-muted">
                        Дата посещения не указана
                    </small>
                {% endif %}
            </div>

            <!-- Статистика посещений -->
            <div class="city-stats d-flex justify-content-between mb-3">
                <div class="stat-item d-flex align-items-center"
                     data-bs-toggle="tooltip"
                     data-bs-title="Количество пользователей, посетивших город {{ city }}">
                    <i class="fa-solid fa-users me-2"></i>
                    <span>{{ city.number_of_users_who_visit_city }}</span>
                </div>
                <div class="stat-item d-flex align-items-center"
                     data-bs-toggle="tooltip"
                     data-bs-title="Общее количество посещений города {{ city }}">
                    <i class="fa-solid fa-shoe-prints me-2"></i>
                    <span>{{ city.number_of_visits_all_users }}</span>
                </div>
            </div>

            <!-- Рейтинг и сувенир -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Рейтинг -->
                <div class="city-rating" id="subsection-city-rating_{{ forloop.counter }}"
                     data-bs-toggle="tooltip"
                     data-bs-title="Средний рейтинг на основе всех Ваших оценок для города {{ city.title }}">
                    <small>
                        {% for i in "12345"|make_list %}
                            {% with index=forloop.counter %}
                                {% if city.average_rating >= index %}
                                    <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                {% else %}
                                    {% if city.average_rating >= index|sub:0.5 %}
                                        <i class="fa-solid fa-star-half-stroke" style="color: #ffc43c;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </small>
                </div>

                <!-- Наличие сувенира -->
                <div class="city-souvenir"
                     data-bs-toggle="tooltip"
                     data-bs-title="У Вас {% if city.has_souvenir %}есть сувенир{% else %}нет сувенира{% endif %} из города {{ city.city.title }}">
                    {% if city.has_souvenir %}
                        <small>
                            <span class="text-success">
                                <i class="fa-regular fa-square-check me-1"></i>Сувенир
                            </span>
                        </small>
                    {% else %}
                        <small>
                            <span class="text-danger">
                                <i class="fa-regular fa-square-minus me-1"></i>Сувенир
                            </span>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
