{% load mathfilters %}
{% load humanize %}

<div class="col" id="city_card_{{ forloop.counter }}">
    <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
        <div class="card-body">
            <!-- Название города -->
            <div class="d-flex align-items-center justify-content-between">
                <i class="fa-regular fa-square-check text-success fs-4"></i>

                <h4 id="subsection-city-title_{{ forloop.counter }}">
                    <a href="{{ city.get_absolute_url }}"
                       class="link-offset-2 link-underline-dark link-dark link-opacity-75 link-underline-opacity-75 link-opacity-100-hover">
                        {{ city }}
                    </a>
                </h4>

                <span class="badge bg-secondary-subtle text-secondary-emphasis"
                      data-bs-toggle="tooltip"
                      data-bs-title="Количество посещений города {{ city }}">
                    {{ city.number_of_visits }}
                </span>
            </div>
            <!-- ^^^ Название города -->

            <!-- Дата первого посещения -->
            <div id="subsection-city-date_of_visit_{{ forloop.counter }}" class="mt-2">
                <small class="text-muted">
                    {% if city.first_date_of_visit %}
                        {{ city.first_date_of_visit }}
                    {% else %}
                        Дата посещения не указана
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Дата первого посещения -->

            <!-- Регион -->
            <div id="subsection-city-region_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    <a href="{{ city.region.get_absolute_url }}"
                       class="text-underline-dashed text-reset">
                        {{ city.region }}
                    </a>
                </small>
            </div>
            <!-- ^^^ Регион -->
        </div>

        <div class="card-footer my-2" style="background: none; border-top: none;">
            <div class="d-flex justify-content-between">
                <!-- Рейтинг -->
                <div id="subsection-city-rating_{{ forloop.counter }}" title="Средний рейтинг {{ city.average_rating }} на основе Ваших оценок города {{ city }}">
                    <small>
                        {% for i in "12345"|make_list %}
                            {% with index=forloop.counter %}
                                {% if city.average_rating >= index %}
                                    <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                {% else %}
                                    {% if city.average_rating >= index|sub:0.5 %}
                                        <i class="fa-solid fa-star-half-stroke" style="color: #ffc43c;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </small>
                </div>
                <!-- ^^^ Рейтинг -->

                <!-- Наличие сувенира -->
                <div id="subsection-city-magnet_{{ forloop.counter }}">
                    {% if city.has_magnet %}
                        <small>
                            <span class="text-success">
                                Сувенир <i class="fa-regular fa-square-check"></i>
                            </span>
                        </small>
                    {% else %}
                        <small>
                            <span class="text-danger">
                                Сувенир <i class="fa-regular fa-square-minus"></i>
                            </span>
                        </small>
                    {% endif %}
                </div>
                <!-- ^^^ Наличие сувенира -->
            </div>
        </div>
    </div>
</div>
