{% load vite %}
{% load static %}
{% load filters %}

<!-- Панель инструментов -->
<div class="mx-3 my-3 d-flex flex-wrap gap-3 y-3 justify-content-between align-items-center" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="d-flex flex-wrap gap-3 flex-grow-1 align-items-center">
        <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #38a169;">
            Городов: {{ qty_of_visited_cities }}
        </span>
        <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #5c7cfa;">
            Стран: 2
        </span>
    </div>

    <!-- Фильтры -->
    <div class="d-flex flex-wrap justify-content-end align-items-center flex-grow-1 gap-3" id="section-small-buttons">
        <div class="flex-grow-1" style="min-width: 250px;">
            <select class="form-select w-100" id="id_country"></select>
        </div>

        <a href="{% url 'city-all-map' %}?{{ request.GET.urlencode }}" class="btn btn-outline-success align-self-center">
            <i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;&nbsp;Посмотреть на карте
        </a>

        <button class="align-self-center btn {% if filter is not None or sort is not None and sort != 'last_visit_date_down' %}btn-primary{% else %}btn-outline-primary{% endif %} d-flex gap-2 justify-content-start align-items-center position-relative"
                type="button"
                id="btnOpenFilterSortPanel"
                data-bs-tooltip="tooltip"
                data-bs-title="Открыть панель фильтрации и сортировки городов"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <i class="fa-solid fa-sliders"></i>
            Фильтры и сортировка
            {% if filter is not None or sort is not None and sort != 'last_visit_date_down' %}
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">Применена фильтрация или сортировка</span>
                </span>
            {% endif %}
        </button>
    </div>
    <!-- ^^^ Фильтры -->
</div>
<!-- ^^^ Панель инструментов -->

{% with defaultFilter='no_filter' defaultSort='last_visit_date_down' %}
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title"
            id="offcanvasRightLabel">
            Фильтрация и сортировка
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Закрыть">
        </button>
    </div>
    <div class="offcanvas-body">
        <h6>Фильтры</h6>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="no_filter"
                   {% if filter is None or not filter|in_list:"no_magnet,magnet,current_year,last_year" %}checked{% endif %}
                   id="filterNoFilter">
            <label class="form-check-label"
                   for="filterNoFilter">
                Без фильтрации
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="no_magnet"
                   {% if filter == 'no_magnet' %}checked{% endif %}
                   id="filterNoMagnet">
            <label class="form-check-label"
                   for="filterNoMagnet">
                Без сувенира
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="magnet"
                   {% if filter == 'magnet' %}checked{% endif %}
                   id="filterMagnet">
            <label class="form-check-label"
                   for="filterMagnet">
                С сувениром
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="current_year"
                   {% if filter == 'current_year' %}checked{% endif %}
                   id="filterCurrentYear">
            <label class="form-check-label"
                   for="filterCurrentYear">
                В этом году
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="last_year"
                   {% if filter == 'last_year' %}checked{% endif %}
                   id="filterLastYear">
            <label class="form-check-label"
                   for="filterLastYear">
                В прошлом году
            </label>
        </div>

        <hr>

        <h6>Сортировка</h6>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="name_down"
                   {% if sort == 'name_down' or not sort|in_list:"name_down,name_up,first_visit_date_down,first_visit_date_up,last_visit_date_down,last_visit_date_up" %}checked{% endif %}
                   id="sortNameDown">
            <label class="form-check-label"
                   for="sortNameDown">
                По названию (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="name_up"
                   {% if sort == 'name_up' %}checked{% endif %}
                   id="sortNameUp">
            <label class="form-check-label"
                   for="sortNameUp">
                По названию (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="first_visit_date_down"
                   {% if sort == 'first_visit_date_down' %}checked{% endif %}
                   id="sortFirstVisitDateDown">
            <label class="form-check-label"
                   for="sortFirstVisitDateDown">
                По дате первого посещения (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="first_visit_date_up"
                   {% if sort == 'first_visit_date_up' %}checked{% endif %}
                   id="sortFirstVisitDateUp">
            <label class="form-check-label"
                   for="sortFirstVisitDateUp">
                По дате первого посещения (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="last_visit_date_down"
                   {% if sort == 'last_visit_date_down' %}checked{% endif %}
                   id="sortLastVisitDateDown">
            <label class="form-check-label"
                   for="sortLastVisitDateDown">
                По дате последнего посещения (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="last_visit_date_up"
                   {% if sort == 'last_visit_date_up' %}checked{% endif %}
                   id="sortLastVisitDateUp">
            <label class="form-check-label"
                   for="sortLastVisitDateUp">
                По дате последнего посещения (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_down"
                   {% if sort == 'number_of_visits_down' %}checked{% endif %}
                   id="sortNumberOfVisitsDown">
            <label class="form-check-label"
                   for="sortNumberOfVisitsDown">
                По количеству посещений (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_up"
                   {% if sort == 'number_of_visits_up' %}checked{% endif %}
                   id="sortNumberOfVisitsUp">
            <label class="form-check-label"
                   for="sortNumberOfVisitsUp">
                По количеству посещений (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="date_of_foundation_down"
                   {% if sort == 'date_of_foundation_down' %}checked{% endif %}
                   id="sortDateOfFoundationDown">
            <label class="form-check-label"
                   for="sortDateOfFoundationDown">
                По дате основания (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="date_of_foundation_up"
                   {% if sort == 'date_of_foundation_up' %}checked{% endif %}
                   id="sortDateOfFoundationUp">
            <label class="form-check-label"
                   for="sortDateOfFoundationUp">
                По дате основания (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_users_who_visit_city_down"
                   {% if sort == 'number_of_users_who_visit_city_down' %}checked{% endif %}
                   id="sortNumberOfUsersWhoVisitCityDown">
            <label class="form-check-label"
                   for="sortNumberOfUsersWhoVisitCityDown">
                По количеству посетивших пользователей (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_users_who_visit_city_up"
                   {% if sort == 'number_of_users_who_visit_city_up' %}checked{% endif %}
                   id="sortNumberOfUsersWhoVisitCityUp">
            <label class="form-check-label"
                   for="sortNumberOfUsersWhoVisitCityUp">
                По количеству посетивших пользователей (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_all_users_down"
                   {% if sort == 'number_of_visits_all_users_down' %}checked{% endif %}
                   id="sortNumberOfVisitsAllUsersDown">
            <label class="form-check-label"
                   for="sortNumberOfVisitsAllUsersDown">
                По общему количеству посещений (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_all_users_up"
                   {% if sort == 'number_of_visits_all_users_up' %}checked{% endif %}
                   id="sortNumberOfVisitsAllUsersUp">
            <label class="form-check-label"
                   for="sortNumberOfVisitsAllUsersUp">
                По общему количеству посещений (возрастание)
            </label>
        </div>

        <hr>

        <div class="d-grid gap-2">
            <button type="submit"
                    class="btn btn-primary"
                    id="applyFilters"
                    data-filter="{{ filter|default:defaultFilter }}"
                    data-sort="{{ sort|default:defaultSort }}">Применить</button>
            <button type="button"
                    class="btn btn-secondary"
                    id="resetFilters"
                    data-filter="{{ filter|default:defaultFilter }}"
                    data-sort="{{ sort|default:defaultSort }}">
                Сбросить
            </button>
        </div>
    </div>
</div>
{% endwith %}

{% vite_asset 'js/entries/filter_city.js' %}