<script>
    function displayCitiesOnMap() {
        /**
         * Отображает карту и генерирует на ней отметки с городами.
         */
        // Массив с городами региона
        // ['latitude', 'longitude', 'city name']
        let visited_cities = []
        {% for city in all_cities %}
            visited_cities.push([
                '{{ city.city.coordinate_width }}'.replace(/,/, '.'),
                '{{ city.city.coordinate_longitude }}'.replace(/,/, '.'),
                '{{ city.city.title }}'
            ])
        {% endfor %}

        // Значения по умолчанию для пользователей, у которых нет посещённых городов
        let average_x = 37.588144;
        let average_y = 55.733842;
        let zoom = 7;

        // Вычисление координат центра карты и зума для пользователей, у которых есть посещённые города
        if (visited_cities.length > 0) {
            // Высчитываем центральную точку карты.
            // Ей является средняя координата всех городов, отображённых на карте.
            let array_x = Array();
            let array_y = Array();

            // Добавляем все координаты в один массив и находим большее и меньшее значения из них,
            // а затем вычисляем среднее, это и будет являться центром карты.
            for (let i = 0; i < visited_cities.length; i++) {
                array_y.push(parseFloat(visited_cities[i][0]));
                array_x.push(parseFloat(visited_cities[i][1]));
            }
            let max_x = Math.max(...array_x);
            let min_x = Math.min(...array_x);
            let max_y = Math.max(...array_y);
            let min_y = Math.min(...array_y);
            average_x = (max_x + min_x) / 2;
            average_y = (max_y + min_y) / 2;

            // Меняем масштаб карты в зависимости от расположения городов
            let diff = max_y - min_y;
            if (diff <= 1) {
                zoom = 8;
            } else if (diff > 1 && diff <= 2) {
                zoom = 7;
            } else if (diff > 2 && diff <= 4) {
                zoom = 6
            } else if (diff > 4 && diff <= 6) {
                zoom = 5;
            } else {
                zoom = 4;
            }
            console.log(zoom);
        }

        // Отображаем карту на странице
        var myMap = new ymaps.Map("map", {
            center: [average_y, average_x],
            zoom: zoom,
            controls: ['fullscreenControl', 'zoomControl', 'rulerControl']
        }, {
            searchControlProvider: 'yandex#search'
        });

        // Отображаем на карте посещённые города.
        // Работает только у пользоватлеей с посещёнными городами
        for (let i = 0; i < (visited_cities.length); i++) {
            let coordinateWidth = visited_cities[i][0];
            let coordinateLongitude = visited_cities[i][1];
            let city = visited_cities[i][2]
            myMap.geoObjects.add(
                new ymaps.Placemark(
                    [coordinateWidth, coordinateLongitude], {
                    balloonContent: city }, {
                    preset: 'islands#dotIcon', iconColor: '#009d31'
                }));
        }
    }

    // Дожидаемся загрузки API
    ymaps.ready(displayCitiesOnMap);
</script>
