<div class="row mx-3 my-3 g-3 align-items-center">
    <div class="col-xxl-3 col-md-6 col-xs-12">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-warning-subtle" id="section-statistic">
                <div class="align-self-center">
                    {{ declension_of_visited|title }} <span class="fs-4 fw-medium">{{ qty_of_visited_cities }}</span>
                    {{ declension_of_visited_cities }} из {{ total_qty_of_cities }}
                </div>
            </div>
        </div>
    </div>

    <!-- Посмотреть список -->
    <div class="col-xxl-3 col-md-6 col-xs-12">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle" id="section-statistic">
                <div class="align-self-center">
                    <a href="{% url 'city-all-list' %}"
                       class="btn btn-outline-success align-self-center d-block">
                        <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть список -->

    <div class="col-xxl-6 col-md-12 text-end g-3">
        <!-- Помощь -->
        <button class="align-self-center btn btn-outline-dark"
                data-bs-toggle="modal"
                data-bs-target="#modal_help"
                data-bs-tooltip="tooltip"
                data-bs-title="Посмотреть описание меток, использованных на карте">
            <i class="fa-regular fa-circle-question"></i>
        </button>
        <!-- ^^^ Помощь -->

        <!-- В прошлом году -->
        <button class="align-self-center btn btn-outline-secondary
                       {% if qty_of_visited_cities == 0 %}disabled{% endif %}"
                id="btn_show-visited-cities-previous-year"
                data-type="show"
                data-bs-toggle="tooltip"
                data-bs-title="Показать города, посещённые Вами в прошлом году">
            <i class="fa-solid fa-calendar-week"></i>
        </button>
        <!-- ^^^ В прошлом году -->

        <!-- В этом году -->
        <button  class="align-self-center btn btn-outline-primary
                  {% if qty_of_visited_cities == 0 %}disabled{% endif %}"
                id="btn_show-visited-cities-current-year"
                data-type="show"
                data-bs-toggle="tooltip"
                data-bs-title="Показать города, посещённые Вами в текущем году">
            <i class="fa-solid fa-calendar-days"></i>
        </button>
        <!-- ^^^ В этом году -->

        <!-- Показать непосещённые города -->
        <button class="align-self-center btn btn-outline-danger"
                id="btn_show-not-visited-cities"
                data-url="{% url 'api__get_not_visited_cities' %}"
                data-type="show"
                data-bs-toggle="tooltip"
                data-bs-title="Показать непосещённые города">
            <i class="fa-solid fa-eye"></i>
        </button>
        <!-- ^^^ Показать непосещённые города -->

        <!-- Подписки -->
        <button class="align-self-center btn btn-outline-success{% if not is_user_has_subscriptions %} disabled{% endif %}"
                id="btn_open_modal_with_subscriptions"
                data-bs-toggle="modal"
                data-bs-target="#subscriptions_modal_window"
                data-bs-tooltip="tooltip"
                data-bs-title="Показать города, посещённые пользователями, на которых Вы подписаны">
                <i class="fa-solid fa-bell"></i>
        </button>
        <!-- ^^^ Подписки -->
    </div>
</div>
