{% extends 'base.html' %}
{% load humanize %}
{% load markdownify %}
{% load static %}
{% load mathfilters %}

{% block content %}
<h1 class="display-5 text-center mt-4 mb-4 fw-bold" id="section-page_header">
    {{ city.title }}
</h1>

<div class="container mb-5">
    <div class="row justify-content-center " id="city-selected-content">
        <div class="col-12">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-body p-4">
                    <div class="row">
                         <div class="col-12 col-lg-6 text-center mb-3" id="section-city_image">
                            <img src="{% static 'image/1.jpg' %}"
                                 alt="Фото города {{ city.title }}"
                                 class="img-fluid rounded-3 shadow"
                                 style="object-fit: cover; max-height: 500px;">
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="row gy-2">
                                {% include "partials/info_row.html" with title="Регион:" value=city.region id="region" %}
                                {% include "partials/info_row.html" with title="Федеральный округ:" value=city.region.area id="area" %}

                                <div class="col-12">
                                    <hr>
                                </div>

                                {% include "partials/info_row.html" with title="Год основания:" value=city.date_of_foundation|stringformat:"s"|default:"Год основания не известен" id="date_of_foundation" %}
                                {% include "partials/info_row.html" with title="Население:" value=city.population|intcomma|stringformat:"s"|default:"Численность населения не известна" id="population" %}

                                <div class="col-12">
                                    <hr>
                                </div>

                                <div class="col-12">
                                    <h6 class="fw-semibold mb-1">Коллекции:</h6>
                                    <div class="d-flex flex-wrap gap-1">
                                        {% if city.collections %}
                                            {% for collection in city.collections %}
                                                <a href="{% url 'collection-detail-list' collection.id %}"
                                                   class="btn btn-sm bg-light text-success border border-success-subtle">
                                                    {{ collection }}
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                            <span class="text-muted">Город не состоит ни в каких коллекциях</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <hr>
                                </div>

                                <div class="col-6">
                                    <h6 class="fw-semibold mb-1">Средняя оценка среди всех пользователей:</h6>
                                    <div class="d-flex align-items-center gap-3">
                                        <span>
                                            {{ city.average_rating }}
                                        </span>
                                        <span>
                                            {% for i in "12345"|make_list %}
                                                {% with index=forloop.counter %}
                                                    {% if city.average_rating >= index %}
                                                        <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                                    {% else %}
                                                        {% if city.average_rating >= index|sub:0.5 %}
                                                            <i class="fa-solid fa-star-half-stroke" style="color: #ffc43c;"></i>
                                                        {% else %}
                                                            <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <h6 class="fw-semibold mb-1">Популярные месяцы для посещения:</h6>
                                    <div>
                                        {{ city.popular_months|join:", " }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        {% if city.number_of_visits > 0 %}
                            <div class="row align-items-center mt-3 mb-3">
                                <div class="col-12 fs-3 fw-semibold">Ваши посещения города {{ city.title }} ({{ city.number_of_visits }})</div>
                            </div>

                            {% for visit in city.visits %}
                                {% if not forloop.first %}
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="row align-items-center">
                                    <div class="col-2">
                                        {{ visit.date_of_visit }}
                                    </div>

                                    <div class="col-2">
                                        {% for i in '12345'|make_list %}
                                            {% if forloop.counter <= visit.rating %}
                                                <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                            {% else %}
                                                <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col-6">
                                        {% if visit.impression %}
                                            {{ visit.impression }}
                                        {% else %}
                                            <span class="text-secondary">Вы не добавили описание Вашей поездки в город {{ visit.city.title }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="col-2 d-grid grid-col-1 text-center gap-2">
                                        <a class="text-sm link-danger link-underline-opacity-0 link-opacity-50 link-opacity-100-hover"
                                           href="#"
                                           onclick="event.preventDefault(); openDeleteModal('{{ visit.id }}', '{{ visit.title }}')">
                                            <i class="fa-solid fa-trash-can me-2"></i> Удалить
                                        </a>
                                        <a href="{% url 'city-update' visit.id %}"
                                           class="link-offset-2 link-underline-opacity-0 link-success link-opacity-50 link-opacity-100-hover">
                                            <i class="fa-regular fa-pen-to-square me-2"></i> Изменить
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            Вы ещё не посетили город {{ city.title }}
                        {% endif %}
                    {% endif %}

                    <div class="row mt-4">
                        <div class="col-sm-4 d-grid">
                            {% if object.city.wiki %}
                                <a href="{{ object.city.wiki }}" class="btn btn-outline-dark" target="_blank">
                                    <i class="fa-brands fa-wikipedia-w me-2"></i>Wikipedia
                                </a>
                            {% else %}
                                <button class="btn btn-outline-dark disabled" data-bs-toggle="tooltip"
                                        data-bs-title="Ссылка на статью в Wikipedia про город '{{ object.city.title }}' не указана">
                                    <i class="fa-brands fa-wikipedia-w me-2"></i>Wikipedia
                                </button>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно удаления -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title">Удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить город <strong><span id="cityTitleOnModal"></span></strong> из списка посещённых?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form id="deleteCityForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openDeleteModal(city_id, city_title) {
        document.getElementById('cityTitleOnModal').textContent = city_title;
        let url = "{% url 'city-delete' 0 %}".replace('0', city_id);
        document.getElementById('deleteCityForm').action = url;
        new bootstrap.Modal(document.getElementById('deleteModal')).show();
    }
</script>
{% endblock %}
