{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="section-page_header">
        Карта посещённых городов
    </h1>

    {% include 'city/city_all__map__toolbar.html' %}

    {%include 'city/subscriptions_modal_window.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    <script src="{% static 'js/map_city.js' %}"></script>
    {% include 'city/city_all__map__js_script.html' %}
{% endblock %}
