{% load vite %}
<!-- Модальное окно с картой -->
<div class="modal fade" id="cityStatisticModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title">Статистика города {{ city.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-lg-2">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Пользователей, посетивших город:</span>
                            <span class="px-2 py-1 rounded bg-light text-dark fw-bold border border-secondary">{{ number_of_users_who_visit_city }}</span>
                        </div>
                        <canvas id="userProgressChart" height="30" style="width: 100%"></canvas>
                    </div>

                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Всего посещений города:</span>
                            <span class="px-2 py-1 rounded bg-light text-dark fw-bold border border-secondary">{{ number_of_visits }}</span>
                        </div>
                        <canvas id="numberOfVisitsChart" height="30" style="width: 100%"></canvas>
                    </div>
                </div>

                <div class="row row-cols-lg-2 mt-5">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Популярность города (по пользователям)</span>
                            <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #FF6B6B;">{{ rank }} из {{ number_of_cities }}</span>
                        </div>
                        <canvas id="rankBarChartByUsers" style="width: 100%"></canvas>
                    </div>

                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <span>Популярность города (по посещениям)</span>
                            <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #FF6B6B;">{{ rank }} из {{ number_of_cities }}</span>
                        </div>
                        <canvas id="rankBarChartByVisits" style="width: 100%"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{ neighboring_cities_by_users_rank|json_script:"neighboringCitiesDataByUsers" }}
{{ neighboring_cities_by_visits_rank|json_script:"neighboringCitiesDataByVisits" }}
<script>
    window.CITY_ID = {{ city.id }};
    window.NUMBER_OF_USERS_WHO_VISIT_CITY = {{ number_of_users_who_visit_city }};
    window.NUMBER_OF_USERS = {{ number_of_users }};
    window.NUMBER_OF_VISITS = {{ number_of_visits }};
    window.TOTAL_NUMBER_OF_CITIES = {{ total_number_of_visits }};
</script>
{% vite_asset 'js/entries/city_statistics.js' %}