<div class="modal fade" id="subscriptions_modal_window" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="share_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="share_modal_label">Ваши подписки</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        Выберите пользователей, чьи города Вы хотите посмотреть на карте вместе со своими.
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="list-group">
                            {% for subscription in subscriptions %}
                                <label class="list-group-item">
                                    <input class="form-check-input me-1"
                                            type="checkbox"
                                            name="users"
                                            value="{{ subscription.to_id }}">
                                    {{ subscription.username }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-success" id='button_send_to_server' data-url="{% url 'get_users_cities' %}" onclick="send_to_server()">
                            Применить
                        </button>
                    </div>
                </div>

                <div id="target_block"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    async function send_to_server() {
        const button = document.getElementById("button_send_to_server");
        const url = button.dataset.url
        const data = [1, 2, 3]

        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie("csrftoken")
            },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            var myMap = new ymaps.Map("map", {
                center: [50, 50],
                zoom: 5,
                controls: ['fullscreenControl', 'zoomControl', 'rulerControl']
            }, {
                searchControlProvider: 'yandex#search'
            });

            var myModalEl = document.getElementById('subscriptions_modal_window');
            var modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();

            let json = await response.json();
            for(let i = 0; i < json.length; i++) {
                let obj = json[i];
            
                console.log(obj);
            }
        }

        return false;
    }
</script>
