<div class="modal fade"
     id="subscriptions_modal_window"
     data-bs-backdrop="static"
     data-bs-keyboard="true"
     tabindex="-1"
     aria-labelledby="subscriptions_modal_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="subscriptions_modal_label">
                    <i class="fa-solid fa-bell"></i>&nbsp;&nbsp;&nbsp;Ваши подписки
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        Выберите пользователей, чьи города Вы хотите посмотреть на карте вместе со своими.
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="list-group">
                            {% for subscription in subscriptions %}
                                <div class="form-check form-switch mt-1">
                                    <input class="form-check-input checkbox_username"
                                           type="checkbox"
                                           name="users"
                                           value="{{ subscription.to_id }}"
                                           role="switch"
                                           id="switch{{ subscription.to_id }}">
                                    <label class="form-check-label mx-3"
                                           for="switch{{ subscription.to_id }}">
                                        {{ subscription.username }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button class="btn btn-success"
                        id='btn_show-subscriptions-cities'
                        data-url="{% url 'api__get_visited_cities_from_subscriptions' %}">
                    Применить
                </button>

                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

{% include 'parts/toast/danger.html' with error_title="Ошибка" error_message='Неверный формат переданных на сервер данных' error_id="toast_validation_error" %}
