{% extends 'base.html' %}
{% load vite %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="section-page_header">
        Мои места
    </h1>

    {% include 'advertisement/rtb_banner.html' %}
    
    {% include 'place/place__map__toolbar.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    <script>
        window.TILE_LAYER = "{{ TILE_LAYER }}";
    </script>
    {% vite_asset 'js/entries/leaflet_css.js' %}
    {% vite_asset 'js/entries/map_place.js' %}
{% endblock %}
