<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toast-danger" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-bg-danger">
            <strong class="me-auto" id="toast-danger-title">{{ error_title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body bg-light" id="toast-danger-message"></div>
    </div>
</div>
