@media (max-width: 991px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

.text-underline-dashed {
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.color-black {
    color: black;
}