@media (max-width: 991px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}