{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-center">
                        Восстановление пароля
                    </h5>

                    <div class="card-body">
                        <div class="card-text">
                            Пароль изменён.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
