{% extends 'head.html' %}
{% load vite %}
{% load static %}

{% block base %}
    {% include 'parts/js_isAuthenticated.html' %}

    <div id="notification_icon"
         class="notification_icon position-fixed top-0 end-0 m-3 rounded border border-1 border-secondary-subtle bg-secondary-subtle">
        <i class="fa-solid fa-bell text-secondary m-2" id="bell"></i>
    </div>
    
    <div class="main-container d-flex">
        {% include 'parts/sidebar.html' %}

        <div class="content d-flex flex-column min-vh-100" id="section-content">
            {% include 'parts/navbar-small_screens.html' %}

            {% block content %}
            {% endblock %}

            {% include 'parts/footer.html' %}
        </div>
    </div>

    {% vite_asset 'js/entries/sidebar.js' %}
    {% vite_asset 'js/entries/notification.js' %}
{% endblock %}
