{% extends 'head.html' %}
{% load vite %}
{% load static %}

{% block base %}
    {% include 'parts/js_isAuthenticated.html' %}


    <div class="main-container d-flex">
        {% include 'parts/sidebar.html' %}

        <div class="content d-flex flex-column min-vh-100 position-relative" id="section-content">
            {% include 'parts/navbar-small_screens.html' %}

            {% block content %}
            {% endblock %}

            {% include 'parts/footer.html' %}
        </div>
    </div>

    {% include 'parts/notification_controls.html' %}


    {% vite_asset 'js/entries/sidebar.js' %}
    {% if user.is_authenticated %}
        {% vite_asset 'js/entries/notification.js' %}
    {% endif %}
{% endblock %}
