{% load vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page_description }}">
    <title>{{ page_title }} | {{ SITE_NAME }}</title>

    {% if not DEBUG %}
    <!-- Travel PayOuts -->
    {% vite_asset 'js/entries/travelpayouts_verify.js' %}
    {% endif %}

    {% if not DEBUG %}
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    {% endif %}

    {% if not DEBUG %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym({{ YANDEX_METRIKA }}, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/91503998" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    {% endif %}

    {# ----------------------- #}
    {#   Загрузка CSS-стилей   #}
    {# ----------------------- #}

    {# Bootstrap стили #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {#  Шрифт с иконками Font Awesome  #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    {# Локальные стили (собранные и минифицированные через Vite) #}
    {% vite_css 'css/style' %}
    {# Компоненты кнопок (для кнопки уведомлений) #}
    {% vite_css 'css/components/button' %}
    {# Стили для кнопки уведомлений #}
    {% vite_css 'css/notification' %}
    {% block extra_css %}{% endblock %}
    {# Иконка сайта #}
    <link rel="icon" type="image/svg+xml" href="{% static "image/favicon.svg" %}">

    {# ---------------------- #}
    {#   Загрузка JS-файлов   #}
    {# ---------------------- #}
    
    {# Bootstrap JS #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    {# jQuery JS #}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    {# ChartJS для построения графиков #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    {% block head_scripts %}{% endblock %}
</head>
<body>
    {% include 'parts/toast/success.html' %}
    {% include 'parts/toast/danger.html' %}

    {% block base %}
    {% endblock %}

    {% vite_asset 'js/entries/enable_tooltips.js' %}
    {% block extra_js %}{% endblock %}
</body>
</html>
