user@host:~/project.ru/project/deployment/collected_static:git:(master*)
$ ls -la
    total 1080
    drwxrwxr-x 5 www www   4096 May  1 11:59 .
    drwxrwxr-x 3 www www   4096 May  1 11:59 ..
    drwxrwxr-x 6 www www   4096 May  1 11:59 admin
    -rw-r--r-- 1 www www  22579 May  1 11:59 card-image.png
    -rw-r--r-- 1 www www   6928 May  1 11:59 city.png
    drwxrwxr-x 4 www www   4096 May  1 11:59 debug_toolbar
    -rw-r--r-- 1 www www   4286 May  1 11:59 favicon.ico
    -rw-r--r-- 1 www www  34742 May  1 11:59 feature1.png
    -rw-r--r-- 1 www www 171521 May  1 11:59 feature2.png
    -rw-r--r-- 1 www www 129887 May  1 11:59 feature3.png
    -rw-r--r-- 1 www www 690389 May  1 11:59 jumbotron-background.jpg
    drwxrwxr-x 7 www www   4096 May  1 11:59 mdeditor
    -rw-r--r-- 1 www www    324 May  1 11:59 style.css