{% extends 'head.html' %}
{% load static %}

{% block base %}
    <div id="main-background" class="d-flex flex-column justify-content-center align-items-center text-white"
         style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('{% static 'image/index-background.jpg' %}')">
        <div class="d-block d-sm-none display-2">
            <i class="fa-solid fa-map-location-dot mx-5"></i>
        </div>
        <h1 class="display-2 px-3 text-center index-logo" id="index-logo">
            <span class="me-sm-3 me-1">Мои</span>
            <i class="fa-solid fa-map-location-dot d-none d-sm-inline"></i>
            <span class="ms-sm-3 ms-1">города</span>
        </h1>
        <div class="row w-100 mt-3 justify-content-center">
            <div class="col">
                <p class="mt-5 px-3 fs-5 text-center">Сохраняйте и просматривайте на карте свои посещённые города.</p>
                <p class="mt-5 px-3 fs-5 text-center">Это абсолютно бесплатно.<br>Навсегда.</p>
            </div>
        </div>
        <div class="row w-100 gap-3 mt-5 px-3 justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center">
                <a href="{% url 'signin' %}" class="btn btn-success d-block">Вход</a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 text-center">
                <a href="{% url 'signup' %}" class="btn btn-primary d-block">Регистрация</a>
            </div>
        </div>
    </div>

    <div class="container mt-3" id="features">
        <hr class="my-5">

        <div class="row feature d-flex justify-content-between g-3" id="feature1">
            <div class="col-lg-6 order-first order-lg-first align-self-center text-center text-lg-start feature-text">
                <h1>Сохраняйте посещённые города</h1>
                <p class="mt-5">
                    Сохраняйте все города, которые Вы посетили, в нашем сервисе.<br>
                    Вы можете указать дату посещения, наличие сувенира из города,
                    поставить свою оценку городу и записать Ваши впечатления.
                </p>
            </div>
            <div class="col-lg-5 order-last order-lg-last text-center justify-content-center align-self-center feature-image">
                <img src="{% static 'image/feature1.png' %}" alt="feature1" class="img-thumbnail">
            </div>
        </div>

        <hr class="my-5">

        <div class="row feature d-flex justify-content-between g-3" id="feature2">
            <div class="col-lg-5 order-last order-lg-first text-center feature-image">
                <img src="{% static 'image/feature2.png' %}" alt="feature1" class="img-thumbnail">
            </div>
            <div class="col-lg-6 order-first order-lg-last align-self-center text-center text-lg-start feature-text">
                <h1>Просматривайте их на карте</h1>
                <p class="mt-5">
                    Можно смотреть как все города, которые Вы посетили, так и выборочно по регионам.<br>
                    В режиме "по регионам" можно смотреть не только посещённые города, но и те, в которых Вы ещё не были.
                </p>
            </div>
        </div>

        <hr class="my-5">

        <div class="row feature d-flex justify-content-between g-3" id="feature3">
            <div class="col-lg-6 order-first order-lg-first align-self-center text-center text-lg-start feature-text">
                <h1>
                    Анализируйте посещённые регионы
                </h1>
                <p class="mt-5">
                    После сохранения посещённых городов, Вам автоматически станет доступен режим просмотра
                    посещённых регионов
                    <a href="{% url 'region-all-list' %}"
                       class="link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">в виде списка</a>
                    и <a href="{% url 'region-all-map' %}"
                         class="link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">на карте</a>.<br>
                    Никаких дополнительных действий с Вашей стороны не нужно, сервис сделает всё сам.
                </p>
            </div>
            <div class="col-lg-5 order-last order-lg-last text-center feature-image">
                <img src="{% static 'image/feature3.png' %}" alt="feature1" class="img-thumbnail">
            </div>
        </div>

        <hr class="my-5">

        <div class="row feature d-flex justify-content-between g-3" id="feature2">
            <div class="col-lg-5 order-last order-lg-first text-center feature-image">
                <img src="{% static 'image/feature4.png' %}" alt="feature1" class="img-thumbnail">
            </div>
            <div class="col-lg-6 order-first order-lg-last align-self-center text-center text-lg-start feature-text">
                <h1>Коллекционируйте города</h1>
                <p class="mt-5">
                    Посещать города интереснее, когда есть какая-то цель.
                    Для увеличения интереса сервис "Мои города" предлагает несколько
                    <a href="{% url 'collection-list' %}"
                       class="link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">
                        коллекций городов</a>,
                    объединённых по какому-либо принципу.<br>
                    Попробуйте собрать все города из коллекции.
                </p>
            </div>
        </div>

        <hr class="my-5">
    </div>

    {% include 'parts/footer.html' %}
{% endblock %}
