{% extends 'new_design/base.html' %}
{% load mathfilters %}

{% block content %}
    <div class="container-fluid">
        <h1 class="display-5 text-center my-2">
            Регионы России
        </h1>

        <div class="row mt-3">
            <!-- Левый столбик -->
            <div class="col-xl-2 col-lg-3 col-md-4">
                {% include 'new_design/left_menu_of_list_page.html' %}
            </div>
            <!-- ^^^ Леввый столбик -->

            <!-- Основной столбик -->
            <div class="col-xl-10 col-lg-9 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="list-content"
                         role="tabpanel" aria-labelledby="list-tab" tabindex="0">

                        <!-- Карточки с регионами -->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mb-3 g-3">
                            {% for item in object_list %}
                                <div class="col">
                                    <div class="card h-100 text-center">
                                        <h5 class="card-header">
                                            <a href="{% url 'region-selected' item.id %}"
                                               class="text-underline-dashed text-reset">
                                                {{ item }}
                                            </a>
                                        </h5>
                                        <div class="card-body">
                                            <small class="card-subtitle text-muted">
                                                {{ item.area }} федеральный округ
                                            </small>
                                        </div>

                                        <div class="card-footer" style="background: none; border-top: none;">
                                            <small class="text-muted">
                                                {{ item.num_visited }} из {{ item.num_total }}
                                            </small>

                                            <span class="text-truncate">
                                                {% if item.num_visited > 0 %}
                                                    <div class="progress" data-toggle="tooltip" title="Tooltip on top">
                                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                                        style="width: {% widthratio item.num_visited item.num_total 100 %}%"
                                                        aria-valuenow="{% widthratio item.num_visited item.num_total 100 %}"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- ^^^ Карточки с городами -->

                        <!-- Пагинация -->
                        {% include 'new_design/pagination.html' %}
                        <!-- ^^^ Пагинация -->
                    </div>

                    <!-- Карта -->
                    <div class="tab-pane fade show" id="map-content"
                         role="tabpanel" aria-labelledby="map-tab" tabindex="0">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div id="map" style="height: 600px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ^^^ Карта -->
                </div>
            </div>
            <!-- ^^^ Основной столбик -->
        </div>
    </div>

    <script>
        ymaps.ready(init);

        let regionList = new Map();
        {% for item in all_regions %}
            regionList.set('{{ item.iso3166 }}', '{{ item.num_visited }}');
        {% endfor %}
        console.log(regionList);

        function init() {
            let map = new ymaps.Map('map', {
                center: [58.01, 56.22],
                zoom: 4,
                type: 'yandex#map',
                controls: ['zoomControl']
            });
            map.controls.get('zoomControl').options.set({size: 'small'});

            let objectManager = new ymaps.ObjectManager();

            // Загрузим регионы и создаём объект regions, где ключи это ISO код региона
            ymaps.borders.load('RU', {
                lang: 'ru',
                quality: 2
            }).then(function (result) {
                let queue = [];
                let regions = result.features.reduce(function (acc, feature) {
                    let iso = feature.properties.iso3166;
                    feature.id = iso;
                    feature.options = {
                        fillOpacity: 0.6,
                        strokeColor: '#FFF',
                        strokeOpacity: 0.5,
                        visited: regionList.get(iso) > 0
                    };
                    acc[iso] = feature;
                    return acc;
                }, {});

                // Функция, которая раскрашивает регион и добавляет всех нераскрасшенных соседей в очередь на раскраску.
                function paint(iso) {
                    let region = regions[iso];

                    // Если у региона есть опция fillColor, значит мы его уже раскрасили.
                    if (region.options.fillColor) {
                        return;
                    }

                    if (region.options.visited) {
                        region.options.fillColor = '#32b700';
                    } else {
                        region.options.fillColor = '#9a9a9a';
                    }
                }

                for (let iso in regions) {
                    // Если регион не раскрашен, добавим его в очередь на раскраску.
                    if (!regions[iso].options.fillColor) {
                        queue.push(iso);
                    }
                    // Раскрасим все регионы из очереди.
                    while (queue.length > 0) {
                        paint(queue.shift());
                    }

                }

                // Добавим регионы на карту.
                result.features = [];
                for (let reg in regions) {
                    result.features.push(regions[reg]);
                }
                objectManager.add(result);
                map.geoObjects.add(objectManager);
            })
        }
    </script>
{% endblock %}
