{% extends 'base.html' %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="section-page_header">
        Dashboard
    </h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3" id="list-content">
        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Всего пользователей
                    </p>
                    <h1>
                        {{ qty_users }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Регистраций за вчера
                    </p>
                    <h1>
                        {{ qty_registrations_yesteday }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Регистраций за 7 дней
                    </p>
                    <h1>
                        {{ qty_registrations_week }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Регистраций за 30 дней
                    </p>
                    <h1>
                        {{ qty_registrations_month }}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-2 mb-3 g-3">
        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        График регистраций
                    </p>
                    <canvas id="myChart" height="100"></canvas>
                    <script>
                        let data = {}
                        {% for day in registrations_by_day reversed %}
                            data['{{ day.date }}'] = '{{ day.qty }}'
                        {% endfor %}

                        const ctx = document.getElementById('myChart').getContext('2d');

                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: Object.keys(data),
                                datasets: [
                                    {
                                        label: 'Количество регистраций',
                                        data: Object.values(data),
                                        borderColor: 'rgba(0,31,54,0.2)',
                                        backgroundColor: 'rgba(51,171,255,0.2)',
                                        borderWidth: 2,
                                        borderRadius: 5,
                                        borderSkipped: false,
                                    },
                                ],
                            },
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3" id="list-content">
        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Общее количество посещенных городов
                    </p>
                    <h1>
                        {{ qty_visited_cities }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Максимум городов у 1 пользователя
                    </p>
                    <h1>
                        {{ qty_visited_cities_by_user.0.qty_visited_cities }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        В среднем городов у 1 пользователя
                    </p>
                    <h1>
                        {{ average_cities }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Количество пользователей без посещённых городов
                    </p>
                    <h1>
                        {{ qty_user_without_visited_cities }}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-2 mb-3 g-3">
        <div class="col">
            <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
                <div class="card-body">
                    <p class="fs-4">
                        Количество посещённых городов по каждому пользователю
                    </p>
                    <canvas id="chart_qty_visited_cities" height="100"></canvas>
                    <script>
                        let visited_cities = {}
                        {% for user in qty_visited_cities_by_user reversed %}
                            visited_cities['{{ user.username }}'] = '{{ user.qty_visited_cities }}'
                        {% endfor %}

                        const ctx_visited_cities = document.getElementById('chart_qty_visited_cities').getContext('2d');

                        const chart_visited_cities = new Chart(ctx_visited_cities, {
                            type: 'bar',
                            data: {
                                labels: Object.keys(visited_cities),
                                datasets: [
                                    {
                                        label: 'Количество посещённых городов',
                                        data: Object.values(visited_cities),
                                        borderColor: 'rgba(52,0,0,0.2)',
                                        backgroundColor: 'rgba(255,115,115,0.2)',
                                        borderWidth: 2,
                                        borderRadius: 5,
                                        borderSkipped: false,
                                    },
                                ],
                            },
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-6 text-center mt-3 mx-3">Посещённые страны</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3"
         id="dashboard-country">
        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="card-total_visited_countries">
                <div class="card-body">
                    <p class="fs-4">
                        Общее количество посещенных стран
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="section-qty_user_with_visited_countries">
                <div class="card-body">
                    <p class="fs-4">
                        Пользователей с посещёнными странами
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="section-average_qty_visited_countries">
                <div class="card-body">
                    <p class="fs-4">
                        В среднем посещённых стран у 1 пользователя
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="section-xxx">
                <div class="card-body">
                    <p class="fs-4">
                        Не знаю что написать
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-6 text-center mt-3 mx-3">Количество добавленных стран</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3"
         id="dashboard-qty_added_countries">
        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="card-qty_added_countries_yesterday">
                <div class="card-body">
                    <p class="fs-4">
                        За вчера
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="card-qty_added_countries_week">
                <div class="card-body">
                    <p class="fs-4">
                        За неделю
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="card-qty_added_countries_month">
                <div class="card-body">
                    <p class="fs-4">
                        За месяц
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-center shadow"
                 id="card-qty_added_countries_year">
                <div class="card-body">
                    <p class="fs-4">
                        За год
                    </p>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
