{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
    <div class="container-fluid">
        <h1 class="display-5 text-center my-2">
            {% if type == 'all' %}
                Посещённые города
            {% else %}
                {{ region_name }}
            {% endif %}
        </h1>

        <div class="row mt-3">
            <!-- Левый столбик -->
            <div class="col-xl-2 col-lg-3 col-md-4">
                {% include 'parts/left_menu_of_city_page.html' %}
            </div>
            <!-- ^^^ Леввый столбик -->

            <!-- Основной столбик -->
            <div class="col-xl-10 col-lg-9 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="list-content"
                         role="tabpanel" aria-labelledby="list-tab" tabindex="0">

                        <!-- Карточки с городами -->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mb-3 g-3">
                            {% for item in object_list %}
                                <div class="col">
                                    <div class="card h-100 text-center">
                                        <div class="card-header">
                                            <!-- Город -->
                                            <div class="h5">
                                                {% if item.visited_id %}
                                                    <a href="{% url 'city-selected' item.visited_id %}"
                                                       class="text-underline-dashed text-reset">
                                                        {{ item.title }}
                                                    </a>
                                                {% else %}
                                                    {{ item.title }}
                                                {% endif %}
                                            </div>

                                            <small class="text-muted">
                                                {% if item.is_visited %}
                                                    {% if item.date_of_visit %}
                                                        <span class="badge bg-success">
                                                            {{ item.date_of_visit }}
                                                        </span>
                                                    {% else %}
                                                        <span class="badge bg-success">
                                                            Дата посещения не указана
                                                        </span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="badge bg-secondary">
                                                        Город ещё не посещён
                                                    </span>
                                                {% endif %}
                                            </small>
                                            <!-- ^^^ Город -->
                                        </div>

                                        <div class="card-body">
                                            <!-- Регион -->
                                            <small class="card-subtitle text-muted">
                                                {% if item.region__id %}
                                                    <a href="{% url 'region-selected' item.region__id %}"
                                                       class="text-underline-dashed text-reset">
                                                        {{ item.region__title }}
                                                    </a>
                                                {% else %}
                                                    {{ item.region__id }}
                                                {% endif %}
                                            </small>
                                            <!-- ^^^ Регион -->

                                            <br>

                                            <!-- Население -->
                                            <small class="card-subtitle text-muted">
                                                {% if item.population %}
                                                    Население <strong>{{ item.population }}</strong> чел.
                                                {% else %}
                                                    Население города не известно
                                                {% endif %}
                                            </small>
                                            <!-- ^^^ Население -->

                                            <br>

                                            <!-- Год основания -->
                                            <small class="card-subtitle text-muted">
                                                {% if item.date_of_foundation %}
                                                    Основан в <strong>{{ item.date_of_foundation }}</strong> году
                                                {% else %}
                                                    Год основания не известен
                                                {% endif %}
                                            </small>
                                            <!-- ^^^ Год основания -->
                                        </div>

                                        <div class="card-footer" style="background: none; border-top: none;">
                                            <div class="d-flex justify-content-between">
                                                <!-- Рейтинг -->
                                                <div>
                                                    {% for i in '12345'|make_list %}
                                                        {% if forloop.counter <= item.rating %}
                                                            <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                                        {% else %}
                                                            <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <!-- ^^^ Рейтинг -->

                                                <!-- Наличие магнита -->
                                                <div>
                                                    {% if item.has_magnet %}
                                                        <span class="badge bg-success">
                                                            Магнит есть
                                                        </span>
                                                    {% else %}
                                                        <span class="badge bg-danger">
                                                            Магнита нет
                                                        </span>
                                                    {% endif %}
                                                </div>
                                                <!-- ^^^ Наличие магнита -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- ^^^ Карточки с городами -->

                        <!-- Пагинация -->
                        {% include 'parts/pagination.html' %}
                        <!-- ^^^ Пагинация -->
                    </div>

                    <!-- Карта -->
                    <div class="tab-pane fade show" id="map-content"
                         role="tabpanel" aria-labelledby="map-tab" tabindex="0">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div id="map" style="height: 600px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ^^^ Карта -->
                </div>
            </div>
            <!-- ^^^ Основной столбик -->
        </div>
    </div>

    <script>
        function openDeleteModal(city_id, city_title) {
            /**
             * Открывает модальное окно с подтверждением удаления посещённого города,
             * получая необходимые данные из HTML-страницы.
             */
            let cityTitle = document.getElementById('cityTitleOnModal');
            cityTitle.innerHTML = city_title;

            let cityUrl = "{% url 'city-delete' pk=1 %}".replace(/1/, city_id.toString());

            let actionForm = document.getElementById('deleteCityForm');
            actionForm.action = cityUrl;

            $('#deleteModal').modal('show');
        }

        function displayCitiesOnMap() {
            /**
             * Отображает карту и генерирует на ней отметки с городами.
             */
            // Массив с городами региона
            // ['latitude', 'longitude', 'city name', 'is_visited']
            let visited_cities = new Array()
            {% for city in all_cities %}
                var is_visited = '{{ city.is_visited }}' === 'True';
                visited_cities.push([
                    '{{ city.coordinate_width }}'.replace(/,/, '.'),
                    '{{ city.coordinate_longitude }}'.replace(/,/, '.'),
                    '{{ city.title }}',
                    is_visited
                ])
            {% endfor %}

            // Массив со всеми городами региона.
            // ['coordinate_width', 'coordinate_longitude', 'name']
            // Существует только для отображения городов конкретного региона.
            {% if coords_of_not_visited_cities %}
                let not_visited_cities = {{ coords_of_not_visited_cities|safe }};
            {% endif %}

            // Высчитываем центральную точку карты.
            // Ей является средняя координата всех городов, отображённых на карте.
            let array_x = Array();
            let array_y = Array();

            // Средние координаты вычисляем либо только для посещенных городов,
            // либо для всех городов конкретного региона.
            let cities; // Временная переменная, используемая для вычисления средних координат.
            if (typeof(not_visited_cities) !== 'undefined') {
                cities = not_visited_cities;
            } else {
                cities = visited_cities;
            }
            let count = cities.length;

            // Добавляем все координаты в один массив и находим большее и меньшее значения из них,
            // а затем вычисляем среднее, это и будет являться центром карты.
            for (let i = 0; i < count; i++) {
                array_y.push(parseFloat(cities[i][0]));
                array_x.push(parseFloat(cities[i][1]));
            }
            let max_x = Math.max(...array_x);
            let min_x = Math.min(...array_x);
            let max_y = Math.max(...array_y);
            let min_y = Math.min(...array_y);
            let average_x = (max_x + min_x) / 2;
            let average_y = (max_y + min_y) / 2;

            // Меняем масштаб карты в зависимости от расположения городов
            let zoom;
            let diff = max_y - min_y;
            if (diff <= 1) {
                zoom = 9;
            } else if (diff > 1 && diff <= 2) {
                zoom = 8;
            } else if (diff > 2 && diff <= 5) {
                zoom = 7;
            } else if (diff > 5 && diff <= 6) {
                zoom = 6;
            } else {
                zoom = 5;
            }

            // Отображаем карту на странице
            var myMap = new ymaps.Map("map", {
                center: [average_y, average_x],
                zoom: zoom
            }, {
                searchControlProvider: 'yandex#search'
            });

            // Отображаем на карте посещённые города
            for (let i = 0; i < (visited_cities.length); i++) {
                let coordinateWidth = visited_cities[i][0];
                let coordinateLongitude = visited_cities[i][1];
                let city = visited_cities[i][2]
                let color;
                if (visited_cities[i][3] === true) {
                    color = '#009d31'
                } else {
                    color = '#a45555'
                }
                myMap.geoObjects.add(
                    new ymaps.Placemark(
                        [coordinateWidth, coordinateLongitude], {
                        balloonContent: city }, {
                        preset: 'islands#dotIcon', iconColor: color
                    }));
            }
        }

        // Дожидаемся загрузки API
        ymaps.ready(displayCitiesOnMap);
    </script>
{% endblock %}