{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="section-page-header">
        Список регионов России
    </h1>

    {% include 'advertisement/toolbar.html' %}

    {% include 'region/region_all__list__toolbar.html' %}

    <!-- Карточки с регионами -->
    {% if object_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3">
            {% for region in object_list %}
                {% include 'region/region_all__card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="row mx-3 mt-2 mb-3 g-3 h-100 d-flex justify-content-center align-items-center my-auto">
            <div class="col-xl-8">
                <div class="alert alert-danger p-5 text-center" role="alert">
                    {% if request.GET.filter %}
                        По заданным параметрам не найдено ни одного региона
                    {% else %}
                        На данынй момент в сервисе нет ни одного региона
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- ^^^ Карточки с городами -->

    <!-- Пагинация -->
    {% include 'parts/pagination.html' %}
    <!-- ^^^ Пагинация -->
{% endblock %}
