{% load mathfilters %}
{% load humanize %}

<div class="col" id="city_card_{{ forloop.counter }}">
    <div class="card h-100 text-center shadow" id="section-city_{{ forloop.counter }}">
        <div class="card-body">
            <!-- Название города -->
            <div class="d-flex align-items-center {% if user.is_authenticated %}justify-content-between{% else %}justify-content-center{% endif %}">
                {% if user.is_authenticated %}
                    {% if city.is_visited %}
                        <i class="fa-regular fa-square-check text-success fs-4"
                           data-bs-toggle="tooltip"
                           data-bs-title="Город {{ city.title }} посещён"></i>
                    {% else %}
                        <i class="fa-regular fa-circle-xmark text-danger fs-4"
                           data-bs-toggle="tooltip"
                           data-bs-title="Город }ещё не посещён"></i>
                    {% endif %}
                {% endif %}

                <h4 id="subsection-city-title_{{ forloop.counter }}">
                    {% if city.is_visited %}
                        <a href="{% url 'city-selected' city.id %}"
                           class="link_to link-offset-2 link-underline-dark link-dark link-underline-opacity-50-hover link-opacity-50-hover">
                            {{ city.title }}
                        </a>
                    {% else %}
                        {{ city.title }}
                    {% endif %}
                </h4>

                {% if user.is_authenticated %}
                    <span class="badge bg-secondary-subtle text-secondary-emphasis"
                          data-bs-toggle="tooltip"
                          data-bs-title="Количество посещений города {{ city.title }}">
                        {% if city.number_of_visits %}
                            {{ city.number_of_visits }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            <!-- ^^^ Название города -->

            {% if user.is_authenticated %}
                <!-- Дата посещения -->
                <div id="subsection-city-date_of_visit_{{ forloop.counter }}"
                     class="d-flex flex-column justify-content-center align-items-center h-100">
                    {% if city.visit_dates %}
                        {% if city.visit_dates|length == 1 %}
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Дата посещения города {{ city.title }}">
                                {{ city.first_visit_date }}
                            </small>
                        {% elif city.visit_dates|length == 2 %}
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Дата первого посещения города {{ city.title }}">
                                {{ city.first_visit_date }}
                            </small>
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Дата последнего посещения города {{ city.title }}">
                                {{ city.last_visit_date }}
                            </small>
                        {% else %}
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Дата первого посещения города {{ city.title }}">
                                {{ city.first_visit_date }}
                            </small>
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Отображаются только даты первого и последнего посещений города {{ city.title }}. Остальные даты опущены.">
                                …
                            </small>
                            <small class="text-muted"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Дата последнего посещения города {{ city.title }}">
                                {{ city.last_visit_date }}
                            </small>
                        {% endif %}
                    {% else %}
                        <small class="text-muted">
                            Дата посещения не указана
                        </small>
                    {% endif %}
                </div>
                <!-- ^^^ Дата посещения -->
            {% endif %}
        </div>

        <div class="card-footer" style="background: none; border-top: none;">
            <!-- Население -->
            <div id="subsection-city-population_{{ forloop.counter }}" class="mt-3">
                <small class="card-subtitle text-muted">
                    {% if city.population %}
                        Население <strong>{{ city.population|intcomma }}</strong> чел.
                    {% else %}
                        Население города неизвестно
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Население -->

            <!-- Год основания -->
            <div id="subsection-city-date_of_foundation_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    {% if city.date_of_foundation %}
                        Основан в <strong>{{ city.date_of_foundation }}</strong> году
                    {% else %}
                        Год основания неизвестен
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Год основания -->

            {% if city.is_visited %}
                <div class="d-flex justify-content-between mt-2">
                    <!-- Рейтинг -->
                    <div id="subsection-city-rating_{{ forloop.counter }}">
                        <small data-bs-toggle="tooltip"
                               data-bs-title="Средний рейтинг на основе всех Ваших оценок для города {{ city.title }}">
                            {% for i in '12345'|make_list %}
                                {% if forloop.counter <= city.rating %}
                                    <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                {% else %}
                                    <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                {% endif %}
                            {% endfor %}
                        </small>
                    </div>
                    <!-- ^^^ Рейтинг -->

                    <!-- Наличие сувенира -->
                    <div id="subsection-city-magnet_{{ forloop.counter }}" data-bs-toggle="tooltip"
                         data-bs-title="У Вас {% if city.has_magnet %}есть сувенир{% else %}нет сувенира{% endif %} из города {{ city.title }}">
                        {% if city.has_magnet %}
                            <small>
                                <span class="text-success">
                                    Сувенир <i class="fa-regular fa-square-check"></i>
                                </span>
                            </small>
                        {% else %}
                            <small>
                                <span class="text-danger">
                                    Сувенир <i class="fa-regular fa-square-minus"></i>
                                </span>
                            </small>
                        {% endif %}
                    </div>
                    <!-- ^^^ Наличие сувенира -->
                </div>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
</div>
