{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        {{ region_name }}
    </h1>

    {% if user.is_authenticated %}
        {% include 'advertisement/rtb_banner.html' %}
    {% else %}
        {% include 'advertisement/toolbar.html' %}
        {% include 'advertisement/rtb_floor_fullscreen_mobile.html' %}
    {% endif %}

    <div id="iso3166_code" data-iso3166_code="{{ iso3166_code }}" hidden></div>
    <div id="url-geo-polygons" data-url="{{ url_geo_polygons }}" hidden></div>

    {% include 'region/region_selected__map__toolbar.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    {% if not user.is_authenticated %}
        {% include 'advertisement/rtb_floor_ad_mobile.html' %}
        {% include 'advertisement/rtb_floor_ad_desktop.html' %}
        {% include 'advertisement/rtb_feed.html' %}
    {% endif %}

    <script src="https://unpkg.com/leaflet-simple-map-screenshoter"></script>
    <script>
        const fillOpacity = 0.1;
        const fillColor = '#6382ff';
        const strokeColor = '#0033ff';
        const strokeOpacity = 0.3;
        const strokeWidth = 2;
        const iso3166_code = document.getElementById('iso3166_code').dataset.iso3166_code
        const region_code = iso3166_code.split('-')[1];
        const country_code = iso3166_code.split('-')[0];
        const url_geo_polygons = document.getElementById('url-geo-polygons').dataset.url;
        
        let map;

        /**
         * Добавляет кнопки приближения и отдаления карты, а также полноэкранного режима.
         */
        function addControlsToMap() {
            const myAttrControl = L.control.attribution().addTo(map);
            myAttrControl.setPrefix('<a href="https://leafletjs.com/">Leaflet</a>');
            L.tileLayer("{{ TILE_LAYER }}", {
                maxZoom: 19,
                attribution: 'Используются карты &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> под лицензией <a href="https://opendatacommons.org/licenses/odbl/">ODbL.</a>'
            }).addTo(map);
    
            // Добавляем кнопки приближения и отдаления карты.
            // Их пришлось удалить и вручную добавить, чтобы перевести текст подсказки на русский.
            const zoomControl = L.control.zoom({
              zoomInTitle: 'Нажмите, чтобы приблизить карту',
              zoomOutTitle: 'Нажмите, чтобы отдалить карту'
            });
            zoomControl.addTo(map);
            
            // Добавляем кнопку полноэкранного режима
            map.addControl(new L.Control.Fullscreen({
                title: {
                    'false': 'Полноэкранный режим',
                    'true': 'Выйти из полноэкранного режима'
                }
            }));
        }

        // Массив с городами региона
        // ['latitude', 'longitude', 'city name', 'is_visited']
        let all_cities = []
        {% for city in all_cities %}
            var is_visited = '{{ city.is_visited }}' === 'True';
            all_cities.push([
                '{{ city.coordinate_width }}'.replace(/,/, '.'),
                '{{ city.coordinate_longitude }}'.replace(/,/, '.'),
                '{{ city.title }}',
                is_visited
            ])
        {% endfor %}

        // Высчитываем центральную точку карты.
        // Ей является средняя координата всех городов, отображённых на карте.
        let array_x = Array();
        let array_y = Array();

        // Добавляем все координаты в один массив и находим большее и меньшее значения из них,
        // а затем вычисляем среднее, это и будет являться центром карты.
        for (let i = 0; i < all_cities.length; i++) {
            array_y.push(parseFloat(all_cities[i][0]));
            array_x.push(parseFloat(all_cities[i][1]));
        }
        let max_x = Math.max(...array_x);
        let min_x = Math.min(...array_x);
        let max_y = Math.max(...array_y);
        let min_y = Math.min(...array_y);
        let average_x = (max_x + min_x) / 2;
        let average_y = (max_y + min_y) / 2;

        // Меняем масштаб карты в зависимости от расположения городов
        let zoom;
        let diff = max_y - min_y;
        if (diff <= 1) {
            zoom = 9;
        } else if (diff > 1 && diff <= 2) {
            zoom = 8;
        } else if (diff > 2 && diff <= 5) {
            zoom = 7;
        } else if (diff > 5 && diff <= 6) {
            zoom = 6;
        } else {
            zoom = 5;
        }

        map = L.map('map', {
            attributionControl: false,
            zoomControl: false
        }).setView([average_y, average_x], zoom);
        addControlsToMap();
        L.simpleMapScreenshoter().addTo(map);

        // Отображаем на карте все города,
        // меняя цвет иконки в зависимости от того, посещён город или нет
        for (let i = 0; i < (all_cities.length); i++) {
            let coordinateWidth = all_cities[i][0];
            let coordinateLongitude = all_cities[i][1];
            let city = all_cities[i][2];

            // TODO: Использовать глобальные иконки без дублирования кода
            // Иконка для посещённого пользователем города
            const icon_visited_pin = L.divIcon({
                className: 'custom-icon-visited-pin',
                html: '<i class="fa-solid fa-location-dot fs-3 icon-visited-pin" style="color: rgb(90, 170, 90) !important; text-shadow: 0 0 2px #333333;"></i>',
                iconSize: [21, 28],
                anchor: [10.5, 28],
                iconAnchor: [10.5, 28],
                popupAnchor: [0, -28],
                tooltipAnchor: [0, -28]
            });
            // Иконка для города, который не посетил ни пользователь, ни те, на кого он подписан
            const icon_not_visited_pin = L.divIcon({
                className: 'custom-icon-not_visited-pin',
                html: '<i class="fa-solid fa-location-dot fs-3 icon-not-visited-pin" style="color: rgb(210, 90, 90) !important; text-shadow: 0 0 2px #333333;"></i>',
                iconSize: [21, 28],
                anchor: [10.5, 28],
                iconAnchor: [10.5, 28],
                popupAnchor: [0, -28],
                tooltipAnchor: [0, -28]
            });
            const icon = (all_cities[i][3] === true) ? icon_visited_pin : icon_not_visited_pin;
            const marker = L.marker([coordinateWidth, coordinateLongitude], {icon: icon}).addTo(map);
            marker.bindTooltip(city, {direction: 'top'});
        }

        // Загружаем полигон региона
        const url = `${url_geo_polygons}/region/hq/${country_code}/${region_code}`
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                return response.json()
            })
            .then(geoJson => {
                const myStyle = {
                    fillOpacity: fillOpacity,
                    fillColor: fillColor,
                    weight: strokeWidth,
                    color: strokeColor,
                    opacity: strokeOpacity
                };
                L.geoJSON(geoJson, {
                    style: myStyle,
                }).addTo(map);
            })
            .catch(error => {
                console.log('Произошла ошибка при загрузке границ региона:\n' + error);
            });
    </script>
{% endblock %}
