{% load static %}
{% load filters %}
<!-- Панель инструментов -->
<div class="row mx-3 my-3 g-3 align-items-center" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="col-xxl-3 col-md-6 col-xs-12" id="section-statistic">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-warning-subtle">
                <div class="align-self-center">
                    {% if user.is_authenticated %}
                        {{ declension_of_visited|title }} <span class="fs-4 fw-medium">{{ qty_of_visited_cities }}</span>
                        {{ declension_of_visited_cities }} из {{ total_qty_of_cities }}
                    {% else %}
                        Городов в регионе: <span class="fs-4 fw-medium">{{ total_qty_of_cities }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика посещёния -->

    <!-- Посмотреть на карте -->
    <div class="col-xxl-3 col-md-6 col-xs-12" id="section-show_map">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle">
                <a href="{% url 'region-selected-map' region_id %}" class="btn btn-outline-success align-self-center">
                    <i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;&nbsp;Посмотреть на карте
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть на карте -->

     <!-- Фильтры и сортировка -->
    <div class="col-xxl-6 col-md-12 text-end g-3" id="section-small-buttons">
        <button class="align-self-center btn btn-outline-primary small-btn-for-toolbar me-3"
                type="button"
                id="btnOpenFilterSortPanel"
                data-bs-tooltip="tooltip"
                data-bs-title="Открыть панель фильтрации и сортировки городов"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <i class="fa-solid fa-sliders"></i>
        </button>
    </div>
    <!-- ^^^ Фильтры и сортировка -->
</div>
<!-- ^^^ Панель инструментов -->

{% with defaultFilter='no_filter' defaultSort='last_visit_date_down' %}
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title"
            id="offcanvasRightLabel">
            Фильтрация и сортировка
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Закрыть">
        </button>
    </div>
    <div class="offcanvas-body">
        <h6>Фильтры</h6>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="no_filter"
                   {% if filter is None or not filter|in_list:"no_magnet,magnet,current_year,last_year" %}checked{% endif %}
                   id="filterNoFilter">
            <label class="form-check-label"
                   for="filterNoFilter">
                Без фильтрации
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="no_magnet"
                   {% if filter == 'no_magnet' %}checked{% endif %}
                   id="filterNoMagnet">
            <label class="form-check-label"
                   for="filterNoMagnet">
                Без сувенира
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="magnet"
                   {% if filter == 'magnet' %}checked{% endif %}
                   id="filterMagnet">
            <label class="form-check-label"
                   for="filterMagnet">
                С сувениром
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="current_year"
                   {% if filter == 'current_year' %}checked{% endif %}
                   id="filterCurrentYear">
            <label class="form-check-label"
                   for="filterCurrentYear">
                В этом году
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="filter"
                   value="last_year"
                   {% if filter == 'last_year' %}checked{% endif %}
                   id="filterLastYear">
            <label class="form-check-label"
                   for="filterLastYear">
                В прошлом году
            </label>
        </div>

        <hr>

        <h6>Сортировка</h6>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="name_down"
                   {% if sort == 'name_down' or not sort|in_list:"name_down,name_up,first_visit_date_down,first_visit_date_up,last_visit_date_down,last_visit_date_up" %}checked{% endif %}
                   id="sortNameDown">
            <label class="form-check-label"
                   for="sortNameDown">
                По названию (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="name_up"
                   {% if sort == 'name_up' %}checked{% endif %}
                   id="sortNameUp">
            <label class="form-check-label"
                   for="sortNameUp">
                По названию (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="first_visit_date_down"
                   {% if sort == 'first_visit_date_down' %}checked{% endif %}
                   id="sortFirstVisitDateDown">
            <label class="form-check-label"
                   for="sortFirstVisitDateDown">
                По дате первого посещения (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="first_visit_date_up"
                   {% if sort == 'first_visit_date_up' %}checked{% endif %}
                   id="sortFirstVisitDateUp">
            <label class="form-check-label"
                   for="sortFirstVisitDateUp">
                По дате первого посещения (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="last_visit_date_down"
                   {% if sort == 'last_visit_date_down' %}checked{% endif %}
                   id="sortLastVisitDateDown">
            <label class="form-check-label"
                   for="sortLastVisitDateDown">
                По дате последнего посещения (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="last_visit_date_up"
                   {% if sort == 'last_visit_date_up' %}checked{% endif %}
                   id="sortLastVisitDateUp">
            <label class="form-check-label"
                   for="sortLastVisitDateUp">
                По дате последнего посещения (возрастание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_down"
                   {% if sort == 'number_of_visits_down' %}checked{% endif %}
                   id="sortNumberOfVisitsDown">
            <label class="form-check-label"
                   for="sortNumberOfVisitsDown">
                По количеству посещений (убывание)
            </label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input"
                   type="radio"
                   name="sort"
                   value="number_of_visits_up"
                   {% if sort == 'number_of_visits_up' %}checked{% endif %}
                   id="sortNumberOfVisitsUp">
            <label class="form-check-label"
                   for="sortNumberOfVisitsUp">
                По количеству посещений (возрастание)
            </label>
        </div>

        <hr>

        <div class="d-grid gap-2">
            <button type="submit"
                    class="btn btn-primary"
                    id="applyFilters"
                    data-filter="{{ filter|default:defaultFilter }}"
                    data-sort="{{ sort|default:defaultSort }}">Применить</button>
            <button type="button"
                    class="btn btn-secondary"
                    id="resetFilters"
                    data-filter="{{ filter|default:defaultFilter }}"
                    data-sort="{{ sort|default:defaultSort }}">
                Сбросить
            </button>
        </div>
    </div>
</div>
{% endwith %}

<script src="{% static 'js/region/filter.js' %}"></script>