{% extends 'base.html' %}
{% load static %}

{% block content %}
        <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        {{ region_name }}
    </h1>

    <div id="iso3166_code" data-iso3166_code="{{ iso3166_code }}" hidden></div>
    <div id="url-geo-polygons" data-url="{{ url_geo_polygons }}" hidden></div>

    {% include 'region/region_selected__map__toolbar.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    <script>
        const fillOpacity = 0.2;
        const strokeColor = '#6b6b6b';
        const strokeOpacity = 0.5;
        const strokeWidth = 2;
        const iso3166_code = document.getElementById('iso3166_code').dataset.iso3166_code
        const region_code = iso3166_code.split('-')[1];
        const country_code = iso3166_code.split('-')[0];
        const url_geo_polygons = document.getElementById('url-geo-polygons').dataset.url;
        
            // Массив с городами региона
            // ['latitude', 'longitude', 'city name', 'is_visited']
        let all_cities = []
        {% for city in all_cities %}
            var is_visited = '{{ city.is_visited }}' === 'True';
            all_cities.push([
                '{{ city.coordinate_width }}'.replace(/,/, '.'),
                '{{ city.coordinate_longitude }}'.replace(/,/, '.'),
                '{{ city.title }}',
                is_visited
            ])
        {% endfor %}

        // Высчитываем центральную точку карты.
        // Ей является средняя координата всех городов, отображённых на карте.
        let array_x = Array();
        let array_y = Array();

        // Добавляем все координаты в один массив и находим большее и меньшее значения из них,
        // а затем вычисляем среднее, это и будет являться центром карты.
        for (let i = 0; i < all_cities.length; i++) {
            array_y.push(parseFloat(all_cities[i][0]));
            array_x.push(parseFloat(all_cities[i][1]));
        }
        let max_x = Math.max(...array_x);
        let min_x = Math.min(...array_x);
        let max_y = Math.max(...array_y);
        let min_y = Math.min(...array_y);
        let average_x = (max_x + min_x) / 2;
        let average_y = (max_y + min_y) / 2;

        // Меняем масштаб карты в зависимости от расположения городов
        let zoom;
        let diff = max_y - min_y;
        if (diff <= 1) {
            zoom = 9;
        } else if (diff > 1 && diff <= 2) {
            zoom = 8;
        } else if (diff > 2 && diff <= 5) {
            zoom = 7;
        } else if (diff > 5 && diff <= 6) {
            zoom = 6;
        } else {
            zoom = 5;
        }

        map = L.map('map', {attributionControl: false}).setView([average_y, average_x], zoom);

        const myAttrControl = L.control.attribution().addTo(map);
        myAttrControl.setPrefix('<a href="https://leafletjs.com/">Leaflet</a>');
        L.tileLayer("{{ TILE_LAYER }}", {
            maxZoom: 19,
            attribution: 'Используются карты &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> под лицензией <a href="https://opendatacommons.org/licenses/odbl/">ODbL.</a>'
        }).addTo(map);

        // Отображаем на карте все города,
        // меняя цвет иконки в зависимости от того, посещён город или нет
        for (let i = 0; i < (all_cities.length); i++) {
            let coordinateWidth = all_cities[i][0];
            let coordinateLongitude = all_cities[i][1];
            let city = all_cities[i][2]
            let pointer_style = (all_cities[i][3] === true) ? 'pointer-green' : 'pointer-red'

            const icon = L.divIcon({
                className: 'pointer-root',
                html: `<div class="pointer ${pointer_style}"></div>`,
                iconAnchor: [11, 22],
            });
            const marker = L.marker([coordinateWidth, coordinateLongitude], {icon: icon}).addTo(map);
            marker.bindTooltip(city);
        }

        // Загружаем полигон региона
        const url = `${url_geo_polygons}/region/${country_code}/${region_code}`
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                return response.json()
            })
            .then(geoJson => {
                const myStyle = {
                    "fillOpacity": fillOpacity,
                    "weight": strokeWidth,
                    "color": strokeColor,
                    "opacity": strokeOpacity
                };
                L.geoJSON(geoJson, {
                    style: myStyle,
                }).addTo(map);
            })
            .catch(error => {
                console.log('Произошла ошибка при загрузке границ региона:\n' + error);
            });
    </script>
{% endblock %}
