<script>
    ymaps.ready(init);

    let regionList = new Map();
    {% for item in all_regions %}
        regionList.set('{{ item.iso3166 }}', {
            'num_visited': {{ item.num_visited }},
            'title': '{{ item }}'
        });
    {% endfor %}

    const fillColorVisitedRegion = '#32b700';
    const fillColorNotVisitedRegion = '#9a9a9a';
    const fillOpacity = 0.6;
    const strokeColor = '#FFF';
    const strokeOpacity = 0.5;
    const url_geo_polygons = document.getElementById('url-geo-polygons').dataset.url;

    function init() {
        let map = new ymaps.Map('map', {
            center: [58.01, 56.22],
            zoom: 4,
            type: 'yandex#map',
            controls: ['fullscreenControl', 'zoomControl', 'rulerControl']
        });
        map.controls.get('zoomControl').options.set({size: 'small'});

        // ToDo: В будущем нужно заменить RU на переменную, когда на сервисе появятся регионы в других странах
        const url = `${url_geo_polygons}/region/RU/all`
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                return response.json();
            })
            .then(geoJsons => {
                // Координаты в geo-polygons не соответствуют координатам, с которыми работают Яндекс.карты.
                // Поэтому их нужно поменять местами друг с другом.
                geoJsons.forEach(geoJson => {
                    geoJson.features.forEach(features => {
                        features.geometry.coordinates.forEach(feature => {
                            feature.forEach(coords => {
                                coords.reverse();
                            })
                        })
                    })
                });

                // Добавляем полигоны на карту
                geoJsons.forEach(region => {
                    const obj = ymaps.geoQuery(region).addToMap(map);
                    obj.each(item => {
                        const iso3166 = item.properties.get('iso3166');

                        let fillColor;
                        if (iso3166 && regionList.get(iso3166) && regionList.get(iso3166).num_visited) {
                            fillColor = fillColorVisitedRegion;
                        } else {
                            fillColor = fillColorNotVisitedRegion;
                        }

                        item.options.set({
                            fillColor: fillColor,
                            fillOpacity: fillOpacity,
                            strokeColor: strokeColor,
                            strokeOpacity: strokeOpacity
                        });
                        if (iso3166 && regionList.get(iso3166)) {
                            item.properties.set({
                                hintContent: regionList.get(iso3166)['title']
                            });
                        }
                    });
                });
            })
    }
</script>
