<div class="col" id="region_card_{{ forloop.counter }}">
    <div class="mg-card mg-card-primary">
        <div class="mg-card-header">
            <!-- Название региона -->
            <h5 class="mg-card-title">
                <a href="{{ region.get_absolute_url }}" class="mg-link">
                    {{ region }}
                </a>
            </h4>
            <!-- ^^^ Название региона -->
        </div>

        <div class="mg-card-body d-flex flex-column">
            <!-- Федеральный округ -->
            <div class="my-2" id="section-area_title_{{ forloop.counter }}">
                <small class="card-subtitle text-muted">
                    {% if region.area %}
                        {{ region.area }} федеральный округ
                    {% endif %}
                </small>
            </div>
            <!-- ^^^ Федеральный округ -->

            <!-- Количество городов -->
            <small class="text-muted">
                {% if user.is_authenticated %}
                    {{ region.num_visited }} из {{ region.num_total }}
                {% else %}
                    Всего городов: {{ region.num_total }}
                {% endif %}
            </small>
            <!-- ^^^ Количество городов -->

            <!-- Прогресс бар посещённых городов -->
            {% if user.is_authenticated %}
                {% comment %} <span class="text-truncate"> {% endcomment %}
                    {% if region.num_visited > 0 %}
                        <div class="mg-progress mg-progress-animated">
                            <div class="mg-progress-bar" style="width: {% widthratio region.num_visited region.num_total 100 %}%" id="progress_bar_{{ forloop.counter }}"></div>
                        </div>
                    {% endif %}
                {% comment %} </span> {% endcomment %}
            {% endif %}
            <!-- ^^^ Прогресс бар посещённых городов -->
        </div>
    </div>
</div>
