{% load static %}

<div class="modal fade"
     id="modal_help"
     data-bs-keyboard="true"
     tabindex="-1"
     aria-labelledby="modal_help_label"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_help_label">
                        <i class="fa-regular fa-circle-question"></i>&nbsp;&nbsp;&nbsp;Помощь
                    </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        {% if user.is_authenticated %}
                            <p>Добро пожаловать на страницу карты городов! Здесь вы можете просматривать все города определенного региона, а также те из них, которые Вы уже посетили.</p>
                            <p class="fw-bold">Что вы можете найти на карте:</p>
                            <ul>
                                <li>Все города региона отображаются на карте;</li>
                                <li>Зеленые метки <i class="fa-solid fa-location-dot fs-3 icon-visited-pin" style="color: rgb(90, 170, 90) !important; text-shadow: 0 0 2px #333333; vertical-align: middle; padding-left: 5px; padding-right: 5px;"></i> обозначают города, которые вы уже посетили;</li>
                                <li>Красные метки <i class="fa-solid fa-location-dot fs-3 icon-visited-pin" style="color: rgb(210, 90, 90) !important; text-shadow: 0 0 2px #333333; vertical-align: middle; padding-left: 5px; padding-right: 5px;"></i> показывают города, которые вы еще не посетили;</li>
                                <li>В верхней части страницы указано количество посещённых городов и общее количество городов в регионе. Эти цифры всегда показывают общее количество городов, независимо от применённых фильтров.</li>
                            </ul>
                            <p class="fw-bold">Дополнительные функции:</p>
                            <ul>
                                <li><b>Фильтры.</b> Нажав на кнопку "Фильтры", вы можете оставить на карте только определённые города, подходящие под выбранные вами критерии. Это поможет вам сосредоточиться на нужной группе городов. При переходе по кнопке "Посмотреть список" выбранные фильтры сохраняются.</li>
                                <li><b>Посмотреть списком.</b> Если вы предпочитаете список, а не карту, нажмите кнопку "Посмотреть списком", чтобы увидеть все города в виде списка, а не на карте.</li>
                            </ul>
                        {% else %}
                            <p>Добро пожаловать на страницу карты городов! Здесь вы можете просматривать все города определенного региона. После <a href="{% url 'signup' %}" class="link-dark link-underline-dark link-offset-2 link-opacity-100 link-underline-opacity-100 link-opacity-75-hover link-underline-opacity-75-hover">регистрации</a> и <a href="{% url 'signin' %}" class="link-dark link-underline-dark link-offset-2 link-opacity-100 link-underline-opacity-100 link-opacity-75-hover link-underline-opacity-75-hover">авторизации</a> также будет доступна возможность просмотра посещённых городов</p>
                            <p class="fw-bold">Что вы можете найти на карте:</p>
                            <ul>
                                <li>Все города региона отображаются на карте;</li>
                                <li>Зеленые метки <i class="fa-solid fa-location-dot fs-3 icon-visited-pin" style="color: rgb(90, 170, 90) !important; text-shadow: 0 0 2px #333333; vertical-align: middle; padding-left: 5px; padding-right: 5px;"></i> обозначают города, которые вы уже посетили (<span class="bg-body-secondary border rounded px-1">доступно только авторизованным пользователям</span>);</li>
                                <li>Красные метки <i class="fa-solid fa-location-dot fs-3 icon-visited-pin" style="color: rgb(210, 90, 90) !important; text-shadow: 0 0 2px #333333; vertical-align: middle; padding-left: 5px; padding-right: 5px;"></i> показывают города, которые вы еще не посетили;</li>
                                <li>В верхней части страницы указано количество посещённых городов (<span class="bg-body-secondary border rounded px-1">доступно только авторизованным пользователям</span>) и общее количество городов в регионе. Эти цифры всегда показывают общее количество городов, независимо от применённых фильтров.</li>
                            </ul>
                            <p class="fw-bold">Дополнительные функции:</p>
                            <ul>
                                <li><b>Фильтры</b> (<span class="bg-body-secondary border rounded px-1">доступно только авторизованным пользователям</span>)<br>Нажав на кнопку "Фильтры", вы можете оставить на карте только определённые города, подходящие под выбранные вами критерии. Это поможет вам сосредоточиться на нужной группе городов. При переходе по кнопке "Посмотреть список" выбранные фильтры сохраняются.</li>
                                <li><b>Посмотреть списком</b><br>Если вы предпочитаете список, а не карту, нажмите кнопку "Посмотреть списком", чтобы увидеть все города в виде списка, а не на карте.</li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
