<script>
    ymaps.ready(init);

    let regionList = new Map();
    {% for item in all_regions %}
        regionList.set('{{ item.iso3166 }}', {
            'num_visited': '{{ item.num_visited }}',
            'title': '{{ item }}',
            'id': {{ item.id }}
        });
    {% endfor %}

    const fillColorVisitedRegion = '#32b700';
    const fillColorNotVisitedRegion = '#9a9a9a';
    const fillOpacity = 0.6;
    const strokeColor = '#FFF';
    const strokeOpacity = 0.5;

    function init() {
        let map = new ymaps.Map('map', {
            center: [58.01, 56.22],
            zoom: 4,
            type: 'yandex#map',
            controls: ['fullscreenControl', 'zoomControl', 'rulerControl']
        });
        map.controls.get('zoomControl').options.set({size: 'small'});

        {#fetch('http://127.0.0.1:8080/region/RU/all')#}
        {#    .then(response => {#}
        {#        if (!response.ok) {#}
        {#            throw new Error(response.statusText)#}
        {#        }#}
        {#        return response.json();#}
        {#    })#}
        {#    .then(data => {#}
        {#        data.forEach(region => {#}
        {#            const obj = ymaps.geoQuery(region).addToMap(map);#}
        {#            obj.each(item => {#}
        {#                item.options.set({#}
        {#                    fillColor: fillColorNotVisitedRegion,#}
        {#                    fillOpacity: fillOpacity,#}
        {#                    strokeColor: strokeColor,#}
        {#                    strokeOpacity: strokeOpacity#}
        {#                });#}
        {#            });#}
        {#        });#}
        {#    })#}
        
        ymaps.borders.load('RU', {
            lang: 'ru',
            quality: 2
        }).then(function (result) {
            result.features.reduce(function (acc, feature) {
                let iso = feature.properties.iso3166;
                feature.id = iso;
                id = 444;
                feature.options = {
                    fillColor: regionList.get(iso)['num_visited'] > 0 ? fillColorVisitedRegion : fillColorNotVisitedRegion,
                    fillOpacity: fillOpacity,
                    strokeColor: strokeColor,
                    strokeOpacity: strokeOpacity
                };
                const links = `<br>`
                            + `<a href="/region/${regionList.get(iso)['id']}/map" `
                               + `class="link-offset-2 link-underline-dark link-dark link-opacity-75 `
                                      + `link-underline-opacity-75 link-opacity-100-hover">Карта городов</a><br>`
                            + `<a href="/region/${regionList.get(iso)['id']}/list" `
                               + `class="link-offset-2 link-underline-dark link-dark link-opacity-75 `
                                      + `link-underline-opacity-75 link-opacity-100-hover">Список городов</a>`;
                feature.properties = {
                    hintContent: regionList.get(iso)['title'],
                    balloonContentHeader: regionList.get(iso)['title'],
                    balloonContent: links
                }
                acc[iso] = feature;
                return acc;
            }, {});

            let objectManager = new ymaps.ObjectManager();
            objectManager.add(result);
            map.geoObjects.add(objectManager);
        });

        // Яндекс считает, что новые территории России находятся на Украине.
        // Поэтому нужно загрузить регионы Украины и отфильтровать их, оставив только 4 российских региона.
        ymaps.borders.load('UA', {
            lang: 'ru',
            quality: 2
        }).then(function (result) {
            let new_regions = [];

            for (let region of result.features) {
                let iso = region.properties.iso3166;

                if (regionList.get(iso)) {
                    region.id = iso;
                    region.options = {
                        fillColor: regionList.get(iso)['num_visited'] > 0 ? fillColorVisitedRegion : fillColorNotVisitedRegion,
                        fillOpacity: fillOpacity,
                        strokeColor: strokeColor,
                        strokeOpacity: strokeOpacity
                    };
                    region.properties = {
                        hintContent: regionList.get(iso)['title'],
                    }
                    new_regions.push(region);
                }
            }

            let objectManager = new ymaps.ObjectManager();
            objectManager.add(new_regions);
            map.geoObjects.add(objectManager);
        });
    }
</script>
