{% load morphology %}

<!-- Панель инструментов -->
<div class="mx-3 my-3 d-flex flex-wrap gap-3 y-3 justify-content-between align-items-center" id="toolbar" style="z-index: 1001; position: relative;">
    <!-- Статистика посещёния -->
    <div class="d-flex flex-wrap gap-3 flex-grow-1 align-items-center">
        <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #38a169;">
            {% if user.is_authenticated %}
                {% if qty_of_regions > 0 %}
                    Посещено {{ qty_of_visited_regions }} {{ "регион"|plural_by_num:qty_of_visited_regions }} из {{ qty_of_regions }}
                {% else %}
                    Нет деления на регионы
                {% endif %}
            {% else %}
                Зарегистрируйтесь, чтобы отмечать регионы
            {% endif %}
        </span>
    </div>

    <!-- Фильтры -->
    <div class="d-flex flex-wrap justify-content-end align-items-center flex-grow-1 gap-3" id="section-small-buttons">
        <div class="flex-grow-1" style="min-width: 250px;">
            <select class="form-select w-100" id="id_country"></select>
        </div>

        <a href="{% url 'region-all-list' %}{% if country_code %}?country={{ country_code }}{% endif %}"
           class="btn btn-outline-success align-self-center"
            data-bs-toggle="tooltip"
           data-bs-title="Посмотреть список регионов {{ country_name|prepositional|title}}">
            <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
        </a>
    </div>
</div>
