{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="page-header">
        Карта регионов России
    </h1>

    {% if user.is_authenticated %}
        {% include 'advertisement/rtb_banner.html' %}
    {% else %}
        {% include 'advertisement/travel_payouts.html' %}
        {% include 'advertisement/rtb_floor_fullscreen_mobile.html' %}
    {% endif %}

    {% include 'region/region_all__map__toolbar.html' %}

    <!-- Карта -->
    <div id="map" class="h-100 mt-3"></div>
    <div id="map-image" class="h-100 mt-3"></div>
    <!-- ^^^ Карта -->

    {% if not user.is_authenticated %}
        {% include 'advertisement/rtb_floor_ad_mobile.html' %}
        {% include 'advertisement/rtb_floor_ad_desktop.html' %}
        {% include 'advertisement/rtb_feed.html' %}
    {% endif %}

    <script src="https://unpkg.com/leaflet-simple-map-screenshoter"></script>
    {% include 'region/region_all__map__js_script.html' %}
{% endblock %}
