<!-- Панель инструментов -->
<div class="row row-cols-md-2 row-cols-xxl-4 mx-3 my-3 g-3" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="order-xl-1" id="section-statistic">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-warning-subtle">
                <div class="align-self-center">
                    {% if user.is_authenticated %}
                        {{ declension_of_visited }} <span class="fs-4 fw-medium">{{ qty_of_visited_cities }}</span>
                        {{ declension_of_visited_cities }} из {{ total_qty_of_cities }}
                    {% else %}
                        Городов в регионе: <span class="fs-4 fw-medium">{{ total_qty_of_cities }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Статистика посещёния -->

    <!-- Посмотреть на карте -->
    <div class="order-xl-4" id="section-show_map">
        <div class="card text-center shadow h-100">
            <div class="card-body d-grid bg-success-subtle">
                <a href="{% url 'region-selected-map' region_id %}" class="btn btn-outline-success align-self-center">
                    <i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;&nbsp;Посмотреть на карте
                </a>
            </div>
        </div>
    </div>
    <!-- ^^^ Посмотреть на карте -->

    <!-- Фильтры -->
    <div class="order-xl-2">
        <div class="card text-center shadow h-100" id="section-filter">
            <div class="card-body d-grid bg-primary-subtle">
                {% if user.is_authenticated and qty_of_visited_cities > 0 %}
                     <a class="btn btn-outline-primary d-block align-self-center"
                        data-bs-toggle="collapse"
                        href="#collapse-filtering"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapse-filtering">
                         <i class="fa-solid fa-filter"></i>&nbsp;&nbsp;&nbsp;Фильтры
                     </a>
                {% else %}
                    <a class="btn btn-outline-primary d-block align-self-center disabled" href="#">
                         <i class="fa-solid fa-filter"></i>&nbsp;&nbsp;&nbsp;Фильтры
                     </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ^^^ Фильтры -->

    <!-- Сортировка -->
    <div class="order-xl-3">
            <div class="card text-center shadow h-100" id="section-sorting">
                <div class="card-body d-grid bg-secondary-subtle">
                    {% if user.is_authenticated and qty_of_visited_cities > 0 %}
                        <a class="btn btn-outline-secondary d-block align-self-center" data-bs-toggle="collapse" href="#collapse-sorting" role="button" aria-expanded="false" aria-controls="collapse-sorting">
                            <i class="fa-solid fa-sort"></i>&nbsp;&nbsp;&nbsp;Сортировка
                        </a>
                    {% else %}
                        <a class="btn btn-outline-secondary d-block align-self-center disabled" href="#">
                            <i class="fa-solid fa-sort"></i>&nbsp;&nbsp;&nbsp;Сортировка
                        </a>
                    {% endif %}
            </div>
        </div>
    </div>
    <!-- ^^^ Сортировка -->
</div>
<!-- ^^^ Панель инструментов -->

{% if user.is_authenticated and qty_of_visited_cities > 0 %}
    <!-- Меню фильтрации -->
    <div class="row mx-3 my-3 g-3 collapse" id="collapse-filtering">
        <div class="col-xl-3" id="section-without_magnet">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_filter_has_no_magnet }}"
                       class="d-block align-self-center btn {% if filter == 'has_no_magnet' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                        <i class="fa-solid fa-magnet"></i>&nbsp;&nbsp;&nbsp;Без сувенира
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3" id="section-without_magnet">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_filter_has_magnet }}"
                       class="d-block align-self-center btn {% if filter == 'has_magnet' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                        <i class="fa-solid fa-magnet"></i>&nbsp;&nbsp;&nbsp;С сувениром
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3" id="section-current_year">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_filter_current_year }}"
                       class="d-block align-self-center btn {% if filter == 'current_year' %}btn-success{% else %}btn-outline-success{% endif %}">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;В этом году
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3" id="section-last_year">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_filter_last_year }}"
                       class="d-block align-self-center btn {% if filter == 'last_year' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                        <i class="fa-solid fa-calendar-week"></i>&nbsp;&nbsp;&nbsp;В прошлом году
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Меню фильтрации -->
{% endif %}

{% if user.is_authenticated and qty_of_visited_cities > 0 %}
    <!-- Меню сортировки -->
    <div         class="row mx-3 my-3 g-3 collapse" id="collapse-sorting">
        <div class="col-xl-3" id="section-name_down">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_sort_name_down }}"
                       class="d-block btn btn-outline-secondary align-self-center" title="Сортировать по возрастанию названия">
                        <i class="fa-solid fa-arrow-down-a-z"></i>&nbsp;&nbsp;По названию (возрастание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3" id="section-name_up">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_sort_name_up }}"
                       class="d-block btn btn-outline-success align-self-center" title="Сортировать по уменьшению названия">
                        <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;&nbsp;По названию (убывание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3" id="section-date_down">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_sort_date_down }}"
                       class="d-block btn btn-outline-primary align-self-center" title="Сначала показать давно посещённые">
                        <i class="fa-solid fa-arrow-down-1-9"></i>&nbsp;&nbsp;По дате посещения (возрастание)
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3" id="section-date_up">
            <div class="card text-center shadow h-100">
                <div class="card-body d-grid">
                    <a href="{% url 'region-selected-list' region_id %}?{{ url_for_sort_date_up }}"
                       class="d-block btn btn-outline-danger align-self-center" title="Сначала показать недавно посещённые">
                        <i class="fa-solid fa-arrow-down-9-1"></i>&nbsp;&nbsp;По дате посещения (убывание)
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Меню сортировки -->
{% endif %}
