{% load morphology %}
{% load vite %}
{% load static %}

<!-- Панель инструментов -->
<div class="mx-3 my-3 d-flex flex-wrap gap-3 y-3 justify-content-between align-items-center" id="toolbar">
    <!-- Статистика посещёния -->
    <div class="d-flex flex-wrap gap-3 flex-grow-1 align-items-center">
        <span class="fw-bold px-2 py-1 rounded text-white" style="background-color: #38a169;">
            {% if user.is_authenticated %}
                Посещено: {{ number_of_visited_cities }} {{ "город"|plural_by_num:number_of_visited_cities }} из {{ number_of_cities }}
            {% else %}
                Зарегистрируйтесь, чтобы отмечать регионы
            {% endif %}
        </span>
    </div>

    <div class="d-flex flex-wrap justify-content-end align-items-center flex-grow-1 gap-3" id="section-small-buttons">
        <a href="{% url 'region-selected-list' region_id %}"
           class="btn btn-outline-success align-self-center"
            data-bs-toggle="tooltip"
           data-bs-title="Посмотреть список регионов региона">
            <i class="fa-solid fa-list-ol"></i>&nbsp;&nbsp;&nbsp;Посмотреть список
        </a>

        <button class="btn btn-outline-secondary d-flex gap-2 justify-content-start align-items-center"
                id="btn_help"
                data-bs-toggle="modal"
                data-bs-target="#modal_help"
                data-bs-tooltip="tooltip"
                data-bs-title="Подробнее о функционале этой страницы">
            <i class="fa-regular fa-circle-question"></i>
            Помощь
        </button>
    </div>
</div>
<!-- ^^^ Панель инструментов -->
