{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-5 text-center mt-3" id="page-header">
        Список регионов России
    </h1>

    <div class="row mx-3 my-3 g-3">
        <div class="col-xl-3">
            <div class="card text-center shadow">
                <div class="card-body bg-warning-subtle">
                    {% if user.is_authenticated %}
                        Посещено <span class="fs-4 fw-medium">{{ qty_of_visited_regions }}</span>
                        региона из {{ qty_of_regions }}
                    {% else %}
                        В России <span class="fs-4 fw-medium">{{ qty_of_regions }}</span> регионов
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card text-center shadow">
                <div class="card-body bg-primary-subtle">
                    <form action="{% url 'region-all' %}">
                        <div class="row g-2 justify-content-end">
                            {% if request.GET.filter %}
                                <div class="col-xl-5">
                                    Поиск по фразе <span class="badge bg-secondary">вол</span>
                                    <small>
                                        <a href="{% url 'region-all' %}" class="text-underline-dashed">
                                            Отменить
                                        </a>
                                    </small>
                                </div>
                            {% endif %}
                            <div class="col-xl">
                                <input type="text" name='filter' class="form-control" placeholder="Введите текст для поиска">
                            </div>
                            <div class="col-xl-3">
                                <button class="btn btn-outline-primary form-control" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;Найти
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card text-center shadow">
                <div class="card-body d-grid bg-success-subtle">
                    <a href="{% url 'city-create' %}" class="btn btn-outline-success">
                        <i class="fa-solid fa-city"></i>&nbsp;&nbsp;&nbsp;Добавить город
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Карточки с регионами -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mx-3 mt-2 mb-3 g-3">
        {% for region in object_list %}
            <div class="col" id="region_card_{{ forloop.counter }}">
                <div class="card h-100 text-center shadow">
                    <div class="card-body" id="section-area_title_{{ forloop.counter }}">
                        <!-- Название региона -->
                        <p class="my-0 py-0">
                            <h4>
                                <a href="{% url 'region-selected' region.id %}"
                                   class="link-offset-2 link-underline-dark link-dark link-opacity-75 link-underline-opacity-75 link-opacity-100-hover">
                                    {{ region }}
                                </a>
                            </h4>
                        </p>
                        <!-- ^^^ Название региона -->

                        <!-- Федеральный округ -->
                        <p class="my-2">
                            <small class="card-subtitle text-muted">
                                {{ region.area }} федеральный округ
                            </small>
                        </p>
                        <!-- ^^^ Федеральный округ -->
                    </div>

                    <div class="card-footer my-2" style="background: none; border-top: none;" id="section-qty_of_cities_{{ forloop.counter }}">
                        <!-- Количество городов -->
                        <small class="text-muted">
                            {% if user.is_authenticated %}
                                {{ region.num_visited }} из {{ region.num_total }}
                            {% else %}
                                Всего городов: {{ region.num_total }}
                            {% endif %}
                        </small>
                        <!-- ^^^ Количество городов -->

                        <!-- Прогресс бар посещённых городов -->
                        {% if user.is_authenticated %}
                            <span class="text-truncate">
                                {% if region.num_visited > 0 %}
                                    <div class="progress" data-toggle="tooltip" title="Tooltip on top">
                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                        style="width: {% widthratio region.num_visited region.num_total 100 %}%" id="progress_bar_{{ forloop.counter }}"
                                        aria-valuenow="{% widthratio region.num_visited region.num_total 100 %}"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                {% endif %}
                            </span>
                        {% endif %}
                        <!-- ^^^ Прогресс бар посещённых городов -->
                    </div>
                </div>
            </div>
        {% empty %}
            На данный момент в сервисе нет ни одного региона.
        {% endfor %}
    </div>
    <!-- ^^^ Карточки с городами -->

    <!-- Пагинация -->
    {% include 'parts/pagination.html' %}
    <!-- ^^^ Пагинация -->

    <script>
        $('.open-btn').on('click', function() {
            $('.sidebar').addClass('active');
        })
        $('.close-btn').on('click', function() {
            $('.sidebar').removeClass('active');
        })
    </script>
{% endblock %}
