{% extends 'base.html' %}

{% block content %}
    <!-- Модальное окно про удаление элемента -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Удаление
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body">
                    Вы уверены, что хотите удалить город <b><span id="cityTitleOnModal"></span></b> из списка посещённых?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <form id="deleteCityForm" method="post" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ^^^ Модальное окно про удаление элемента -->

    <div class="container">
        <!-- Заголовок страницы -->
        <h1 class="display-5 text-center my-2">
            Детали города
        </h1>
        <!-- ^^^ Заголовок страницы -->

        <div class="row">
            <!-- Левый столбик -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="align-items-center text-center">
                            <img src="/static/city.png" alt="City" width="150">
                            <div class="mt-3">
                                <h4>{{ object }}</h4>
                                <hr>

                                {% if object.city.wiki %}
                                    <div class="row mb-3">
                                        <div class="col d-grid gap-2">
                                            <a href="{{ object.city.wiki }}"
                                               class="btn btn-outline-dark align-middle" target="_blank">
                                                <i class="fa-brands fa-wikipedia-w"></i>&nbsp;&nbsp;&nbsp;Статья на Wikipedia
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endif %}

                                <div class="row">
                                    <div class="col-sm-6 mb-1 d-grid gap-2">
                                        <a href="{% url 'city-update' object.id %}" class="btn btn-outline-success">
                                            <i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;&nbsp;Изменить
                                        </a>
                                    </div>
                                    <div class="col-sm-6 mb-1 d-grid gap-2">
                                        <button
                                                class="btn btn-outline-danger"
                                                type="button"
                                                onclick="openDeleteModal('{{ object.id }}', '{{ object }}')">
                                            <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;&nbsp;Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ^^^ Левый столбик -->

            <!-- Правый столбик -->
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mt-3">
                            <!-- Регион -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Регион:
                                </div>
                                <div class="col-12 col-md-8">
                                    {{ object.region }}
                                </div>
                            </div>
                            <!-- ^^^ Регион -->

                            <hr>

                            <!-- Федеральный округ -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Федеральный округ:
                                </div>
                                <div class="col-12 col-md-8">
                                    {{ object.region.area }}
                                </div>
                            </div>
                            <!-- ^^^ Федеральный округ -->

                            <hr>

                            <!-- Год основания -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Год основания:
                                </div>
                                <div class="col-12 col-md-8">
                                    {% if object.city.date_of_foundation %}
                                        {{ object.city.date_of_foundation }} г.
                                    {% else %}
                                        <span class="text-muted">не известно</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- ^^^ Год основания -->

                            <hr>

                            <!-- Население -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Население:
                                </div>
                                <div class="col-12 col-md-8">
                                    {% if object.city.population %}
                                        {{ object.city.population }} чел.
                                    {% else %}
                                        <span class="text-muted">не известно</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- ^^^Население -->

                            <hr>

                            <!-- Дата посещения -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Дата посещения:
                                </div>
                                <div class="col-12 col-md-8">
                                    {{ object.date_of_visit }}
                                </div>
                            </div>
                            <!-- ^^^Дата посещения -->

                            <hr>

                            <!-- Магнит -->
                            <div class="row">
                             <div class="col-12 col-md-4 fw-bold">
                                    Магнит:
                                </div>
                                <div class="col-12 col-md-8">
                                    {% if object.has_magnet %}
                                        <span class="badge bg-success">имеется</span>
                                    {% else %}
                                        <span class="badge bg-danger">отсутствует</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- ^^^ Магнит -->

                            <hr>

                            <!-- Впечатления -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Впечатления:
                                </div>
                                <div class="col-12 col-md-8">
                                    {{ object.impression }}
                                </div>
                            </div>
                            <!-- ^^^Впечатления -->

                            <hr>

                            <!-- Оценка -->
                            <div class="row">
                                <div class="col-12 col-md-4 fw-bold">
                                    Ваша оценка:
                                </div>
                                <div class="col-12 col-md-8">
                                    {% for i in '12345'|make_list %}
                                        {% if forloop.counter <= object.rating %}
                                            <i class="fa-solid fa-star" style="color: #ffc43c;"></i>
                                        {% else %}
                                            <i class="fa-regular fa-star" style="color: #9d9d9d;"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- ^^^ Оценка -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ^^ Правый столбик -->
        </div>
    </div>

    <script>
        function openDeleteModal(city_id, city_title) {
            /**
             * Открывает модальное окно с подтверждением удаления посещённого города,
             * получая необходимые данные из HTML-страницы.
             */
            let cityTitle = document.getElementById('cityTitleOnModal');
            cityTitle.innerHTML = city_title;

            let cityUrl = "{% url 'city-delete' pk=1 %}".replace(/1/, city_id.toString());

            let actionForm = document.getElementById('deleteCityForm');
            actionForm.action = cityUrl;

            $('#deleteModal').modal('show');
        }
    </script>
{% endblock %}