{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <!-- Модальное окно про удаление элемента -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Удаление
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить город <b><span id="cityTitleOnModal"></span></b> из списка посещённых?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <form id="deleteCityForm" method="post" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4">
                <!-- Вкладки -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="tab-list" data-toggle="pill" href="#content-list"
                               role="tab" aria-controls="content-list" aria-selected="true">
                                Список
                            </a>
                            <a class="nav-link" id="tab-map" data-toggle="pill" href="#content-map" role="tab"
                               aria-controls="content-map" aria-selected="false">
                                Карта
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'city-create' %}" class="btn btn-outline-primary btn-block">
                            Добавить город
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-10 col-lg-9 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="content-list" role="tabpanel" aria-labelledby="tab-list">
                        <!-- Панель кнопок фильтров -->
                        <div class="row mb-3">
                            <div class="col-xl-3 my-1 col-lg-6 col-md-6 text-center">
                                <a href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?{% if filter != 'magnet' %}filter=magnet&{% endif %}{% if sort %}sort={{ sort }}{% endif %}"
                                   class="btn btn-block {% if filter == 'magnet' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                                    <i class="bi bi-x"></i>&nbsp;&nbsp;&nbsp;Без магнита
                                </a>
                            </div>

                            <div class="col-xl-3 my-1 col-lg-6 col-md-6 my-1 text-center">
                                <a href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?{% if filter != 'current_year' %}filter=current_year&{% endif %}{% if sort %}sort={{ sort }}{% endif %}"
                                   class="btn btn-block {% if filter == 'current_year' %}btn-success{% else %}btn-outline-success{% endif %}">
                                    <i class="bi bi-calendar3"></i>&nbsp;&nbsp;&nbsp;В этом году
                                </a>
                            </div>

                            <div class="col-xl-3 my-1 col-lg-6 col-md-6 my-1 text-center">
                                <a href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?{% if filter != 'last_year' %}filter=last_year&{% endif %}{% if sort %}sort={{ sort }}{% endif %}"
                                   class="btn btn-block {% if filter == 'last_year' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    <i class="bi bi-calendar2-week"></i>&nbsp;&nbsp;&nbsp;В прошлом году
                                </a>
                            </div>

                            <div class="col-xl-3 my-1 col-lg-6 col-md-6 my-1 text-center">
                                <div class="dropdown">
                                    <a class="btn btn-outline-danger dropdown-toggle btn-block" href="#" role="button" id="sortingButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-filter"></i>&nbsp;&nbsp;&nbsp;Сортировка
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="sortingButton">
                                        <a class="dropdown-item" href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?sort=name_down{% if filter %}&filter={{ filter }}{% endif %}">
                                            <i class="bi bi-sort-alpha-down"></i>&nbsp;&nbsp;&nbsp;По названию (а <i class="bi bi-arrow-right-short"></i> я)
                                        </a>
                                        <a class="dropdown-item" href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?sort=name_up{% if filter %}&filter={{ filter }}{% endif %}">
                                            <i class="bi bi-sort-alpha-down-alt"></i>&nbsp;&nbsp;&nbsp;По названию (я <i class="bi bi-arrow-right-short"></i> а)
                                        </a>
                                        <a class="dropdown-item" href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?sort=date_down{% if filter %}&filter={{ filter }}{% endif %}">
                                            <i class="bi bi-sort-numeric-down"></i>&nbsp;&nbsp;&nbsp;По дате посещения (1 <i class="bi bi-arrow-right-short"></i> 9)
                                        </a>
                                        <a class="dropdown-item" href="{% if type == 'by_region' %}{% url 'region-selected' region_id %}{% else %}{% url 'city-all' %}{% endif %}?sort=date_up{% if filter %}&filter={{ filter }}{% endif %}">
                                            <i class="bi bi-sort-numeric-down-alt"></i>&nbsp;&nbsp;&nbsp;По дате посещения (9 <i class="bi bi-arrow-right-short"></i> 1)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Таблица с перечнем посещённых городов -->
                        <div class="row mb-3">
                            <div class="col">
                                <div class="table-responsive-lg">
                                    <table class="table table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th>Город</th>
                                                {% if type == 'all' %}<th>Регион</th>{% endif %}
                                                <th class="d-none d-lg-table-cell">Фед. округ</th>
                                                <th class="text-center">Дата посещения</th>
                                                <th class="text-center d-none d-xl-table-cell">Наличие магнита</th>
                                                <th class="text-center d-none d-xl-table-cell">Рейтинг</th>
                                                <th class="text-center">Операции</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in object_list %}
                                                <tr>
                                                    <!-- Город -->
                                                    <td>
                                                        <span class="text-truncate">
                                                            <a href="{% url 'city-selected' item.id %}">
                                                                {{ item.city }}
                                                            </a>
                                                        </span>
                                                    </td>

                                                    <!-- Регион -->
                                                    {% if type == 'all' %}
                                                    <td>
                                                        <span class="text-truncate">
                                                            <a href="{% url 'region-selected' item.region.id %}">
                                                                {{ item.region }}
                                                            </a>
                                                        </span>
                                                    </td>
                                                    {% endif %}

                                                    <!-- Федеральный округ -->
                                                    <td class="d-none d-lg-table-cell">
                                                        <span class="text-truncate">
                                                            {{ item.region.area }}
                                                        </span>
                                                    </td>

                                                    <!-- Дата посещения -->
                                                    <td class="text-center">
                                                        <span class="text-truncate">
                                                            {% if item.date_of_visit %}
                                                                {{ item.date_of_visit }}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </span>
                                                    </td>

                                                    <!-- Наличие магнита -->
                                                    <td class="text-center d-none d-xl-table-cell">
                                                        <span class="text-truncate">
                                                            {% if item.has_magnet %}
                                                                <i class="bi bi-check-circle" style="color: green;"></i>
                                                            {% else %}
                                                                <i class="bi bi-x" style="color: red;"></i>
                                                            {% endif %}
                                                        </span>
                                                    </td>

                                                    <!-- Рейтинг -->
                                                    <td class="text-center d-none d-xl-table-cell">
                                                        {% for i in '12345'|make_list %}
                                                            {% if forloop.counter <= item.rating %}
                                                                <i class="bi bi-star-fill" style="color: #ffc43c;"></i>
                                                            {% else %}
                                                                <i class="bi bi-star" style="color: #9d9d9d;"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>

                                                    <!-- Операции -->
                                                    <td class="text-center">
                                                        <button
                                                                class="btn btn-sm btn-danger"
                                                                type="button"
                                                                onclick="openDeleteModal('{{ item.id }}', '{{ item.city }}')">
                                                            <i class="bi bi-trash d-flex justify-content-center" style="color: white"></i>
                                                        </button>
                                                        <a href="{% url 'city-update' item.id %}" class="btn btn-sm btn-warning">
                                                            <i class="bi bi-pencil d-flex justify-content-center" style="color: black"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {%  empty %}
                                                <tr>
                                                    <td colspan="6" class="text-center">
                                                        Ещё не посещено ни одного города
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Пагинация -->
                        {% if page_obj.has_other_pages %}
                            <div class="row justify-content-center mb-3">
                                <div class="btn-group" role="group">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1" class="btn btn-outline-danger">
                                            <i class="bi bi-arrow-left-circle"></i> Первая
                                        </a>
                                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">
                                            <i class="bi bi-arrow-left-short"></i> Предыдущая
                                        </a>
                                    {% endif %}

                                    <button class="btn btn-outline-dark" disabled>
                                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                                    </button>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">
                                            Следуюшая <i class="bi bi-arrow-right-short"></i>
                                        </a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">
                                            Последняя <i class="bi bi-arrow-right-circle"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Карта с отмеченными городами -->
                    <div class="tab-pane fade show" id="content-map" role="tabpanel" aria-labelledby="tab-map">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div id="map" style="height: 600px"></div>...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(function() {
           let hash = window.location.hash;
           $('div.nav-pills a[href="' + hash + '"]').tab('show');
        });

        function openDeleteModal(city_id, city_title) {
            /**
             * Открывает модальное окно с подтверждением удаления посещённого города,
             * получая необходимые данные из HTML-страницы.
             */
            let cityTitle = document.getElementById('cityTitleOnModal');
            cityTitle.innerHTML = city_title;

            let cityUrl = "{% url 'city-delete' pk=1 %}".replace(/1/, city_id.toString());

            let actionForm = document.getElementById('deleteCityForm');
            actionForm.action = cityUrl;

            $('#deleteModal').modal('show');
        }

        function displayCitiesOnMap() {
            /**
             * Отображает карту и генерирует на ней отметки с городами.
             */
            // Массив с посещёнными городами (региона или всей страны).
            // ['coordinate_width', 'coordinate_longitude', 'name']
            let visited_cities = {{ coords_of_visited_cities|safe }};

            // Массив со всеми городами региона.
            // ['coordinate_width', 'coordinate_longitude', 'name']
            // Существует только для отображения городов конкретного региона.
            {% if coords_of_not_visited_cities %}
                let not_visited_cities = {{ coords_of_not_visited_cities|safe }};
            {% endif %}

            // Высчитываем центральную точку карты.
            // Ей является средняя координата всех городов, отображённых на карте.
            let array_x = Array();
            let array_y = Array();

            // Средние координаты вычисляем либо только для посещенных городов,
            // либо для всех городов конкретного региона.
            let cities; // Временная переменная, используемая для вычисления средних координат.
            if (typeof(not_visited_cities) !== 'undefined') {
                cities = not_visited_cities;
            } else {
                cities = visited_cities;
            }
            let count = cities.length;

            // Добавляем все координаты в один массив и находим большее и меньшее значения из них,
            // а затем вычисляем среднее, это и будет являться центром карты.
            for (let i = 0; i < count; i++) {
                array_y.push(parseFloat(cities[i][0]));
                array_x.push(parseFloat(cities[i][1]));
            }
            let max_x = Math.max(...array_x);
            let min_x = Math.min(...array_x);
            let max_y = Math.max(...array_y);
            let min_y = Math.min(...array_y);
            let average_x = (max_x + min_x) / 2;
            let average_y = (max_y + min_y) / 2;

            // Меняем масштаб карты в зависимости от расположения городов
            let zoom;
            let diff = max_y - min_y;
            if (diff <= 1) {
                zoom = 9;
            } else if (diff > 1 && diff <= 2) {
                zoom = 8;
            } else if (diff > 2 && diff <= 5) {
                zoom = 7;
            } else if (diff > 5 && diff <= 6) {
                zoom = 6;
            } else {
                zoom = 5;
            }

            // Отображаем карту на странице
            var myMap = new ymaps.Map("map", {
                center: [average_y, average_x],
                zoom: zoom
            }, {
                searchControlProvider: 'yandex#search'
            });

            // Отображаем на карте непосещённые города, если в этом есть необходимость
            {% if coords_of_not_visited_cities %}
                let coordsOfNotVisitedCities = {{ coords_of_not_visited_cities|safe }}
                for (let i = 0; i < (coordsOfNotVisitedCities.length); i++) {
                    let coordinateWidth = coordsOfNotVisitedCities[i][0];
                    let coordinateLongitude = coordsOfNotVisitedCities[i][1];
                    let city = coordsOfNotVisitedCities[i][2]
                    myMap.geoObjects.add(
                        new ymaps.Placemark(
                            [coordinateWidth, coordinateLongitude], {
                            balloonContent: city }, {
                                preset: 'islands#dotIcon', iconColor: '#a45555'
                        }));
                }
            {% endif %}

            // Отображаем на карте посещённые города
            for (let i = 0; i < (visited_cities.length); i++) {
                let coordinateWidth = visited_cities[i][0];
                let coordinateLongitude = visited_cities[i][1];
                let city = visited_cities[i][2]
                myMap.geoObjects.add(
                    new ymaps.Placemark(
                        [coordinateWidth, coordinateLongitude], {
                        balloonContent: city }, {
                        preset: 'islands#dotIcon', iconColor: '#009d31'
                    }));
            }
        }

        // Дожидаемся загрузки API
        ymaps.ready(displayCitiesOnMap);
    </script>
{% endblock %}
