{% extends 'base.html' %}
{% load morphology %}
{% load l10n %}
{% load vite %}

{% block content %}
    <h1 class="display-5 text-center mt-3 mx-3" id="block-page_header">
        Статистика пользователя {{ username }}
    </h1>
    
    {% include 'share/parts/tab_panel.html' %}
    {% include 'share/parts/toolbar.html' %}

    <!-- Панель инструментов -->
    <div class="mx-3 my-3" id="toolbar" style="z-index: 1001; position: relative;">
        <div class="row w-100 justify-content-end" id="section-small-buttons">
            <div class="col-xl-4 col-lg-6 col-md-12 px-3">
                <select class="form-select" id="id_country"></select>
            </div>
        </div>
    </div>
    
    <div id="map" class="h-100 mt-3"></div>

    <script>
        window.TILE_LAYER = "{{ TILE_LAYER }}";
        window.COUNTRY_CODE = "{{ country_code }}";
        window.NUMBER_OF_REGIONS = {{ number_of_regions }};
        window.URL_GEO_POLYGONS = "{{ URL_GEO_POLYGONS }}"
        window.REGION_LIST = new Map();
        {% for item in all_regions %}
            window.REGION_LIST.set('{{ item.iso3166 }}', {
                'num_visited': '{{ item.num_visited }}',
                'ratio_visited': {% if item.ratio_visited %}{{ item.ratio_visited|unlocalize }}{% else %}0{% endif %},
                'title': '{{ item }}',
                'id': {{ item.id }}
            });
        {% endfor %}
    </script>
    {% vite_asset 'js/entries/leaflet_css.js' %}
    {% vite_asset 'js/entries/map_region.js' %}
{% endblock %}
