{% extends 'base.html' %}
{% load morphology %}
{% load l10n %}
{% load vite %}

{% block extra_css %}
    {{ block.super }}
    {% vite_css 'css/tailwind' %}
    {% vite_css 'css/select-field' %}
    {% vite_css 'css/leaflet-controls' %}
{% endblock %}

{% block content %}
    <header class="mx-3 mt-10 mb-8 text-center" id="section-page_header">
        <div class="space-y-3">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">
                Статистика пользователя {{ username }}
            </h1>
        </div>
    </header>

    {% include 'share/parts/tab_panel.html' %}
    {% include 'share/parts/toolbar.html' %}

    <!-- Панель инструментов -->
    <div class="mx-3 my-3" id="toolbar" style="z-index: 1001; position: relative;">
        <div class="flex justify-center">
            <div class="w-full max-w-xs">
                <select class="py-2 px-4 pe-9 block w-full border border-gray-200 rounded-xl bg-white text-sm font-medium text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-200" id="id_country"></select>
            </div>
        </div>
    </div>
    
    <!-- Карта -->
    <div id="map" class="mx-3 mb-12 h-[560px] rounded-2xl border border-gray-200 bg-white shadow-sm dark:border-neutral-700 dark:bg-neutral-900"></div>
    <!-- ^^^ Карта -->

    <script>
        window.TILE_LAYER = "{{ TILE_LAYER }}";
        window.COUNTRY_CODE = "{{ country_code }}";
        window.NUMBER_OF_REGIONS = {{ number_of_regions }};
        window.URL_GEO_POLYGONS = "{{ URL_GEO_POLYGONS }}"
        window.REGION_LIST = new Map();
        {% for item in all_regions %}
            window.REGION_LIST.set('{{ item.iso3166 }}', {
                'num_visited': '{{ item.num_visited }}',
                'ratio_visited': {% if item.ratio_visited %}{{ item.ratio_visited|unlocalize }}{% else %}0{% endif %},
                'title': '{{ item }}',
                'id': {{ item.id }}
            });
        {% endfor %}
    </script>
    {% vite_asset 'js/entries/leaflet_css.js' %}
    {% vite_asset 'js/entries/choices_css.js' %}
    {% vite_asset 'js/entries/map_region.js' %}
{% endblock %}
