<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row text-muted text-center align-items-center" style="font-size: 0.9rem;">
            <div class="col-lg-4 mb-3 order-lg-2">
                Copyright © 2022 Егор Вавилов (Shecspi)<br>
                <a href="https://github.com/Shecspi/MoiGoroda"
                   class="text-decoration-none text-muted mx-3">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://instagram.com/shecspi"
                   class="text-decoration-none text-muted mx-3">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://dzen.ru/rossiya_naiznanku"
                   class="text-decoration-none text-muted mx-3">
                    <i class="fa-solid fa-globe"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-3 order-lg-3">
                По всем вопросам вы можете обращаться на почту<br><span class="fw-bold">support@moi-goroda.ru</span>
            </div>

            <div class="col-lg-4 mb-3 order-lg-1">
                Исходный код сайта распространяется под свободной лицензией<br>Apache License, Version 2.0
            </div>
        </div>
    </div>
</footer>