<footer class="footer mt-auto py-3" id="block-footer">
    <div class="container">
        <div class="row text-muted text-center align-items-center" style="font-size: 0.9rem;">
            <div class="col-lg-4 mb-3 order-lg-2">
                Copyright © 2022 - {% now 'Y' %} Егор Вавилов (Shecspi)<br>
                <a href="https://github.com/Shecspi/MoiGoroda"
                   title="Исходный код проекта 'Мои Города' на GitHub"
                   class="text-decoration-none text-muted mx-3"
                   target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.youtube.com/@rossiya_naiznanku"
                   title="Youtube-канал о путешествиях 'Россия наизнанку'"
                   class="text-decoration-none text-muted mx-3"
                   target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://dzen.ru/rossiya_naiznanku"
                   title="Дзен-канал о путешествиях 'Россия наизнанку'"
                   class="text-decoration-none text-muted mx-3"
                   target="_blank">
                    <i class="fa-solid fa-globe"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-3 order-lg-3">
                По всем вопросам вы можете обращаться на почту<br><span class="fw-bold"><a href="mailto:{{ SUPPORT_EMAIL }}" class="text-reset">{{ SUPPORT_EMAIL }}</a></span>
            </div>

            <div class="col-lg-4 mb-3 order-lg-1">
                Исходный код сайта распространяется под свободной лицензией<br>Apache License, Version 2.0
            </div>
        </div>
    </div>
</footer>