<!-- Статистика -->
<div class="alert alert-success" role="alert" id="block-statistic">
    <p class="my-0" style="text-align:left" id="p-qty_of_visited_cities">
        Посещено:<span style="float:right;"><strong>{{ qty_of_visited_cities }}</strong></span>
    </p>
    <p class="my-0" style="text-align:left" id="p-qty_of_cities">
        Всего городов:<span style="float:right;"><strong>{{ total_qty_of_cities }}</strong></span>
    </p>
    <hr>
    <p class="my-0" style="text-align:left" id="p-qty_of_visited_cities_current_year">
        В этом году:<span style="float:right;"><strong>{{ qty_of_visited_cities_current_year }}</strong></span>
    </p>
    <p class="my-0" style="text-align:left" id="p-qty_of_visited_cities_last_year">
        В прошлом году:<span style="float:right;"><strong>{{ qty_of_visited_cities_last_year }}</strong></span>
    </p>
    <hr>
    <p class="mt-2 mb-0" style="text-align:right" id="p-support">
        <a href="#" class="text-underline-dashed text-reset" data-bs-toggle="modal" data-bs-target="#detailsModal" id="link-support">
            <small><i class="fa-regular fa-circle-question"></i> Подробнее...</small>
        </a>
    </p>
</div>
<!-- ^^^ Статистика -->

<!-- Вкладки -->
<div class="card mb-3" id="block-tabs">
    <div class="card-body">
        <div class="nav flex-column nav-pills" id="v-pills-tab"
             role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="list-tab" data-toggle="pill"
                    data-bs-toggle="pill" data-bs-target="#list-content"
                    type="button" role="tab" aria-controls="list-content" aria-selected="true">
                <i class="fa-solid fa-list"></i>&nbsp;&nbsp;&nbsp;Список
            </button>
            <button class="nav-link" id="map-tab" data-toggle="pill"
                    data-bs-toggle="pill" data-bs-target="#map-content"
                    type="button" role="tab" aria-controls="map-content" aria-selected="true">
                <i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;&nbsp;Карта
            </button>
        </div>
    </div>
</div>
<!-- ^^^ Вкладки -->

{% if user.is_authenticated %}
    <!-- Кнопка добавления города -->
    <div class="card mb-3">
        <div class="card-body d-grid gap-2">
            <a href="{% url 'city-create' %}" class="btn btn-outline-primary">
                <i class="fa-solid fa-city"></i>&nbsp;&nbsp;&nbsp;Добавить город
            </a>
        </div>
    </div>
    <!-- ^^^ Кнопка добавления города -->

    <!-- Фильтры и сортировка -->
    <div class="card mb-3" id="block-filter_and_sorting">
        <div class="card-body text-center">
            <a data-bs-toggle="collapse" href="#collapseFilters" role="button"
               aria-expanded="false" aria-controls="collapseFilters" class="text-decoration-none">
                <i class="fa-solid fa-filter"></i>&nbsp;&nbsp;&nbsp;Фильтры и сортировка
            </a>

            <div class="collapse" id="collapseFilters">
                <div class="d-grid gap-2 mt-2">
                    <div class="d-grid gap-2" id="block-filtering">
                        <a href="{% url 'city-all' %}?{{ url_for_filter_magnet }}"
                           class="btn {% if filter == 'magnet' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                            <i class="fa-solid fa-magnet"></i>&nbsp;&nbsp;&nbsp;Без магнита
                        </a>

                        <a href="{% url 'city-all' %}?{{ url_for_filter_current_year }}"
                           class="btn {% if filter == 'current_year' %}btn-success{% else %}btn-outline-success{% endif %}">
                            <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;В этом году
                        </a>

                        <a href="{% url 'city-all' %}?{{ url_for_filter_last_year }}"
                           class="btn {% if filter == 'last_year' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                            <i class="fa-solid fa-calendar-week"></i>&nbsp;&nbsp;&nbsp;В прошлом году
                        </a>
                    </div>

                    <hr>

                    <!-- Сортировка -->
                    <div class="dropdown d-grid gap-2" id="sorting">
                        <div class="btn-group" role="group" aria-label="Сортировка по названию" id="sorting_by_name">
                            <a href="{% url 'city-all' %}?{{ url_for_sort_name_down }}"
                               class="btn btn-outline-danger" title="Сортировать по возрастанию названия">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>

                            <a href="{% url 'city-all' %}?{{ url_for_sort_name_up }}"
                               class="btn btn-outline-danger" title="Сортировать по уменьшению названия">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                        </div>

                        <div class="btn-group" role="group" aria-label="Сортировка по дате посещения" id="sorting_by_date_of_visit">
                            <a href="{% url 'city-all' %}?{{ url_for_sort_date_down }}"
                               class="btn btn-outline-success" title="Сначала показать давно посещённые">
                                <i class="fa-solid fa-arrow-down-1-9"></i>
                            </a>

                            <a href="{% url 'city-all' %}?{{ url_for_sort_date_up }}"
                               class="btn btn-outline-success" title="Сначала показать недавно посещённые">
                                <i class="fa-solid fa-arrow-down-9-1"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Сортировка -->
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- ^^^ Фильтры -->

<!-- Модальнео окно -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подробнее</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Всего городов</strong> - общее количество городов в России.
                </p>
                <p>
                    <strong>Посещено</strong> - количество городов, которые Вы посетили.
                </p>
                <p>
                    <strong>В этом году</strong> - количество городов, посещённых Вами в этом году.
                </p>
                <p>
                    <strong>В прошлом году</strong> - количество городов, посещённых Вами в прошлом году.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть подсказку</button>
            </div>
        </div>
    </div>
</div>
