<!-- Шапка сайта, отображаемая только на маленьких экранах -->
<nav class="navbar navbar-expand-md navbar-small-screens d-xl-none">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100 position-relative">
            <button class="mg-btn mg-btn-outline-secondary mg-btn-icon-only position-relative" id="sidebar-button-open" type="button">
                <i class="fa-solid fa-bars-staggered"></i>
                <!-- Уведомление о наличии бейджика с новостями в меню -->
                {% if has_unread_news %}
                    <span class="mg-badge mg-badge-dot mg-badge-danger position-absolute top-0 start-100 translate-middle">
                        <span class="visually-hidden">Новые уведомления</span>
                    </span>
                {% endif %}
                <!-- ^^^ Уведомление о наличии бейджика с новостями в меню -->
            </button>
            <a class="navbar-brand sidebar-logo position-absolute start-50 translate-middle-x" href="{% url 'main_page' %}">
                Мои&nbsp;&nbsp;<i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;города
            </a>
            {% if user.is_authenticated %}
                <button class="mg-btn mg-btn-outline-secondary mg-btn-icon-only"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#notificationModal"
                        aria-label="Открыть уведомления">
                    <i class="fa-solid fa-bell notification-icon"></i>
                </button>
            {% endif %}
        </div>
    </div>
</nav>
<!-- ^^^ Шапка сайта, отображаемая только на маленьких экранах -->
