<!-- Шапка сайта, отображаемая только на маленьких экранах -->
<nav class="navbar navbar-expand-md bg-light d-xl-none">
    <div class="container-fluid">
        <div class="d-flex justify-content-between d-block">
            <button class="btn btn-outline-secondary px-3 py-0 position-relative" id="sidebar-button-open">
                <i class="fa-solid fa-bars-staggered"></i>
                <!-- Уведомление о наличии бейджика с новостями в меню -->
                {# Для этого у родительского элемента проставлен класс position-relative #}
                {% if has_unread_news %}
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">Новые уведомления</span>
                    </span>
                {% endif %}
                <!-- ^^^ Уведомление о наличии бейджика с новостями в меню -->
            </button>
            <a class="navbar-brand sidebar-logo mx-3" href="#">Мои&nbsp;&nbsp;<i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;города</a>
        </div>
    </div>
</nav>
<!-- ^^^ Шапка сайта, отображаемая только на маленьких экранах -->
