{% load query_string %}
{% if page_obj.has_other_pages %}
    <div class="text-center my-2" id="section-pagination">
        <div class="btn-group mb-3 shadow" role="group">
            {% if page_obj.has_previous %}
                <a href="?{% update_query page=1 %}"
                   class="btn btn-outline-danger" id="link-to_first_page">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
                <a href="?{% update_query page=page_obj.previous_page_number %}"
                   class="btn btn-outline-danger" id="link-to_prev_page">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            {% else %}
                <button class="btn btn-outline-secondary" disabled id="link-to_first_page">
                    <i class="fa-solid fa-angles-left"></i>
                </button>
                <button class="btn btn-outline-secondary" disabled id="link-to_prev_page">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            {% endif %}

            <button class="btn btn-outline-dark" disabled id="pagination-info">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </button>

            {% if page_obj.has_next %}
                <a href="?{% update_query page=page_obj.next_page_number %}"
                   class="btn btn-outline-success" id="link-to_next_page">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="?{% update_query page=page_obj.paginator.num_pages %}"
                   class="btn btn-outline-success" id="link-to_last_page">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            {% else %}
                <button class="btn btn-outline-secondary" disabled id="link-to_next_page">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
                <button class="btn btn-outline-secondary" disabled id="link-to_last_page">
                    <i class="fa-solid fa-angles-right"></i>
                </button>
            {% endif %}
        </div>
    </div>
{% endif %}
