{% if page_obj.has_other_pages %}
    <div class="pagination-container text-center my-2">
        <div class="pagination-group btn-group mb-3 shadow" role="group">
            {% if page_obj.has_previous %}
                <a href="?page=1"
                   class="pagination-btn btn btn-outline-danger">
                    <i class="fa-solid fa-angles-left"></i>
                    <span>В начало</span>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="pagination-btn btn btn-outline-danger">
                    <i class="fa-solid fa-angle-left"></i>
                    <span>Назад</span>
                </a>
            {% else %}
                <button class="pagination-btn btn btn-outline-secondary" disabled>
                    <i class="fa-solid fa-angles-left"></i>
                    <span>В начало</span>
                </button>
                <button class="pagination-btn btn btn-outline-secondary" disabled>
                    <i class="fa-solid fa-angle-left"></i>
                    <span>Назад</span>
                </button>
            {% endif %}

            <button class="pagination-info btn btn-outline-dark" disabled>
                <span class="pagination-info-full">Страница </span>{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </button>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="pagination-btn btn btn-outline-success">
                    <span>Вперёд</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}"
                   class="pagination-btn btn btn-outline-success">
                    <span>В конец</span>
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            {% else %}
                <button class="pagination-btn btn btn-outline-secondary" disabled>
                    <span>Вперёд</span>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
                <button class="pagination-btn btn btn-outline-secondary" disabled>
                    <span>В конец</span>
                    <i class="fa-solid fa-angles-right"></i>
                </button>
            {% endif %}
        </div>
    </div>
{% endif %}
