<div class="col-span-1">
    <label for="id_date_of_visit" class="mb-2 block text-sm font-semibold text-gray-800 dark:text-neutral-300">
        Дата посещения
        {% if form.date_of_visit.field.required %}<span class="text-red-600 dark:text-red-500">*</span>{% endif %}
    </label>
    <div class="relative">
        <input type="date"
               name="date_of_visit"
               class="form-input form-input-date pe-36 {% if not form.date_of_visit.value %}form-input-date-empty{% endif %} {% if form.date_of_visit.errors %}border-red-500 dark:border-red-500{% endif %}"
               placeholder="ДД.ММ.ГГГГ"
               id="id_date_of_visit"
               value="{% if form.date_of_visit.value %}{{ form.date_of_visit.value|date:'Y-m-d' }}{% endif %}">
        <div class="absolute inset-y-0 end-0 flex items-center gap-1.5 pe-2">
            <button class="btn btn-sm text-xs font-semibold btn-outline-primary"
                    id="yesterday-button"
                    type="button">
                Вчера
            </button>
            <button class="btn btn-sm text-xs font-semibold btn-outline-teal"
                    id="today-button"
                    type="button">
                Сегодня
            </button>
        </div>
    </div>
    {% if form.date_of_visit.help_text %}
        <p class="mt-1 text-sm text-gray-600 dark:text-neutral-500">
            {{ form.date_of_visit.help_text }}
        </p>
    {% endif %}
    {% if form.date_of_visit.errors %}
        <div class="mt-2 text-xs text-red-600 dark:text-red-500">
            {{ form.date_of_visit.errors }}
        </div>
    {% endif %}
</div>
