<div class="col-span-1">
    <div class="flex items-center justify-between">
        <div class="flex-1">
            <label for="{{ field.id_for_label }}" class="block text-sm font-semibold text-gray-800 dark:text-neutral-300 cursor-pointer">
                Наличие сувенира из города
            </label>
            <span class="block text-sm text-gray-600 dark:text-neutral-500 mt-1">
                Отметьте этот пункт, если у Вас в коллекции есть сувенир из города.
            </span>
        </div>
        <label for="{{ field.id_for_label }}" class="relative inline-block w-[52px] h-7 cursor-pointer shrink-0 ml-4">
            <input type="checkbox"
                   name="{{ field.name }}"
                   id="{{ field.id_for_label }}"
                   class="peer sr-only"
                   {% if field.value %}checked{% endif %}>
            <span class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-600 dark:bg-neutral-700 dark:peer-checked:bg-blue-500 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
            <span class="absolute top-1/2 start-0.5 -translate-y-1/2 size-6 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
            <!-- Left Icon (Off) -->
            <span class="absolute top-1/2 start-1 -translate-y-1/2 flex justify-center items-center size-5 text-gray-500 peer-checked:text-white transition-colors duration-200 dark:text-neutral-500">
                <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 6 6 18"></path>
                    <path d="m6 6 12 12"></path>
                </svg>
            </span>
            <!-- Right Icon (On) -->
            <span class="absolute top-1/2 end-1 -translate-y-1/2 flex justify-center items-center size-5 text-gray-500 peer-checked:text-blue-600 transition-colors duration-200 dark:text-neutral-500">
                <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
            </span>
        </label>
    </div>
    {% if field.errors %}
        <div class="mt-2 text-xs text-red-600 dark:text-red-500">
            {{ field.errors }}
        </div>
    {% endif %}
</div>

