<div class="col-span-1">
    <label for="{{ field.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-800 dark:text-neutral-200">
        {{ field.label }}
        {% if field.field.required %}<span class="text-red-600 dark:text-red-500">*</span>{% endif %}
    </label>
    <div class="relative">
        {{ field }}
        <span class="absolute inset-y-0 end-0 flex items-center pe-3 text-gray-400 dark:text-neutral-500 pointer-events-none">
            <i class="fa-solid fa-chevron-down text-xs"></i>
        </span>
    </div>
    {% if field.help_text %}
        <p class="mt-2 text-xs text-gray-500 dark:text-neutral-500">{{ field.help_text }}</p>
    {% endif %}
    {% if field.errors %}
        <div class="mt-2 text-xs text-red-600 dark:text-red-500">
            {{ field.errors }}
        </div>
    {% endif %}
</div>
